<alert ng-repeat="alert in alerts" type="alert.type" close="closeAlert($index)">{{alert.msg}}</alert>

<ul class="breadcrumb">
  	<li><h3 class="brand" href="#">Кладбища</h3></li>
    <li><span class="divider">|</span></li>
  	<li><a ng-click="openAddModal()">Создать</a></li>
</ul>
          


<div class="gridStyle full-size-grid" ng-grid="gridOptions"></div>
<hr/>

<ul class="breadcrumb">
  	<li><h3 class="brand" href="#">Кладбища</h3></li>
    <li><span class="divider">|</span></li>
  	<li><a ng-click="openAddModal()">Создать</a></li>
</ul>



<style type="text/css">
</style>

<div modal="addModalOpened" close="closeAddModal()" options="addOpts">
    <div class="modal-header">
        <h3>Добавить новое кладбище</h3>
    </div>
    <div class="modal-body">
		<div ng-include src="'/static/js/app/tpl/manage/form_edit_cemetery.html'"></div>
    </div>
    <div class="modal-footer">
        <button ng-click="addElement(item)" class="btn btn-primary" ng-disabled="cemeteryEditForm.$invalid">Добавить</button>
        <button ng-click="closeAddModal()" class="btn" >Отменить</button>
    </div>
</div>