<alert ng-repeat="alert in alerts" type="alert.type" close="closeAlert($index)">{{alert.msg}}</alert>
<div ng-include src="'/static/js/app/tpl/loading-indicator.html'+version_str"></div>
<div ng-include src="'/static/js/app/tpl/manage/cemetery_view_header.html'+version_str"></div>

<div class="row-fluid">
  <div class="span7">
    <dl class="dl-horizontal">
      <dt>Время работы</dt>
      <dd>{{cemetery.time_begin|momentDate:'HH:mm'}} - {{cemetery.time_end|momentDate:'HH:mm'}}</dd>
      <dt>Время для захоронения</dt>
      <dd>{{cemetery.time_slots}}</dd>
    </dl>
   <p><b>Расстановка номеров мест новых ручных и электронных захоронений:</b> {{cemetery.places_algo| list: PLACE_TYPES}}</p>
   <p><b>Расстановка номеров существующих, но неучтенных мест:</b> {{ cemetery.places_algo_archive| list: PLACE_ARCHIVE_TYPES }}</p>
   <p ng-show="cemetery.archive_burial_fact_date_required">Дата архивного захоронения обязательна</p>

    <p ng-show="cemetery.archive_burial_account_number_required">Номер архивного захоронения обязателен</p>
    <!-- address address_class="address_class" address="cemetery.address" save_action="saveEditForm"></address -->
   <p><b>Ответственный смотритель:</b> {{ caretaker_show }}</p>
   <p ng-show="cemetery_address.gps_x"><b>Координаты</b>: широта: {{cemetery_address.gps_y}}, долгота: {{cemetery_address.gps_x}}</p>

    <div class="row-fluid" ng-show="cemetery_address.country.name">
      <div class="span6">
        <div class="full_address">
          <dl class="dl-horizontal">
            <dt>Страна</dt>
            <dd>{{cemetery_address.country.name || '-'}}</dd>

            <div ng-show="cemetery_address.region.name" >
                <dt>Регион</dt>
                <dd>{{cemetery_address.region.name || '-'}}</dd>
            </div>

            <div ng-show="cemetery_address.city.name" >
                <dt>Город</dt>
                <dd>{{cemetery_address.city.name || '-'}}</dd>
            </div>

            <div ng-show="cemetery_address.street.name" >
                <dt>Улица</dt>
                <dd>{{cemetery_address.street.name || '-'}}</dd>
            </div>

            <div ng-show="cemetery_address.post_index" >
                <dt>Почтовый индекс</dt>
                <dd>{{cemetery_address.post_index || '-'}}</dd>
            </div>
          </dl>
        </div>
      </div>
      <div class="span6" ng-show="cemetery_address.street.name">
        <dl class="dl-horizontal">
          <dt>Дом</dt>
          <dd>{{cemetery_address.house || '-'}}</dd>

          <dt>Корпус</dt>
          <dd>{{cemetery_address.block || '-'}}</dd>

          <dt>Строение</dt>
          <dd>{{cemetery_address.building || '-'}}</dd>

          <dt>Квартира</dt>
          <dd>{{cemetery_address.flat || '-'}}</dd>

        </dl>
      </div>
    </div>

    <div ng-show="cemetery.photoUrl">
        <b>Фото</b>
        <br />
        <img class="first-photo" ng-src="{{ cemetery.photoUrl | thumbnail:225:300:'scale' }} "/>
        <br />
        <a href="{{ cemetery.photoUrl }}" target="_blank">Оригинал</a>
        <br /><br />
    </div>

    <div ng-show="cemetery.schemaUrl">
        <b>Схема</b>
        <br />
        <img class="first-photo" ng-src="{{ cemetery.schemaUrl | thumbnail:225:300:'scale' }} "/>
        <br />
        <a href="{{ cemetery.schemaUrl }}" target="_blank">Оригинал</a>
        <br /><br />
    </div>


  </div>
  <div ng-show="cemetery_address.gps_x || cemetery_address.country.name">
    <yandex-map id="yandex-map" class="span5" coordinates="cemeteryCoordinates" zoom="cemeteryMapZoom">
    </yandex-map>
  </div>

  <div ng-show="!cemetery_address.gps_x && !cemetery_address.country.name" class="a-la-yandex-map span5">
    <big><big>
        Кладбище может быть указано на карте
        <br /><br />
        Но не заданы адрес/координаты кладбища
    </big></big>
  </div>

</div>

<h3>Участки</h3>
<div class="row-fluid">
  <div class="span12">
    <!--Найти <input ng-model="search.name"><br/>-->

    <div class="gridStyle" ng-grid="gridOptions"></div>
  </div>
</div>

<hr/>

<div ng-include src="'/static/js/app/tpl/manage/cemetery_view_header.html'+version_str"></div>


<!-- POPUP form -->
<div modal="editor.isEditorOpen" close="closeEditForm()">
  <div class="modal-header">
    <h3>Редактировать кладбище "{{cemetery.name}}"</h3>
  </div>
  <div ng-include src="'/static/js/app/tpl/manage/form_edit_cemetery.html'+version_str"></div>
</div>
<!-- EOF POPUP form -->


<div modal="addModalOpened" close="closeAddModal()" options="addOpts">
  <div class="modal-header">
    <h3>Добавить участок</h3>
  </div>
  <form name="areaEditForm">
    <div class="modal-body">
      <div ng-include src="'/static/js/app/tpl/manage/form_add_area.html'+version_str"></div>
    </div>
    <div class="modal-footer">
      <button ng-click="addElement(addItem)" class="btn btn-primary" ng-disabled="areaEditForm.$invalid">Добавить
      </button>
      <button ng-click="closeAddModal()" class="btn">Отменить</button>
    </div>
  </form>
</div>

