<div class="modal-header">
  <h3>Редактировать ответственного</h3>
</div>

<div class="modal-body">
  <tabset>
    <tab heading="Личные данные">
      <form novalidate name="responsibleEditForm">
        <dl class="dl-horizontal" ng-hide="editor.isResponsibleEdited">

          <dt>
            <label for="id_responsible_set-last_name">Фамилия:</label>
          </dt>
          <dd>
            {{editor.responsible.last_name}}
            <span class="error" ng-show="!editor.responsible.last_name.length">Не указана</span>
          </dd>

          <dt>
            <label for="id_responsible_set-first_name">Имя:</label>
          </dt>
          <dd>
            {{editor.responsible.first_name}}
          </dd>

          <dt>
            <label for="id_responsible_set-middle_name">Отчество:</label>
          </dt>
          <dd>
            {{editor.responsible.middle_name}}
          </dd>
        </dl>

        <table ng-hide="editor.isResponsibleEdited" class="pd-form">
          <tr ng-show="editor.create_cabinet">
            <th width="200px">
              <label>Мобильный телефон<br/> для входа в кабинет:</label>
            </th>
            <td>
              <span
                  ng-show="editor.responsible && editor.responsible.login_phone && editor.responsible.login_phone.length">+</span>
              ﻿ {{editor.responsible.login_phone}}
              <span class="label label-important" ng-hide="editor.responsible.login_phone">Не указан</span>
            </td>
          </tr>
          <tr>
            <td colspan="2">
              <button class="btn" ng-click="responsible_edit()">Редактировать</button>
            </td>
          </tr>
        </table>

        <dl class="dl-horizontal" ng-show="editor.isResponsibleEdited">
          <dt>
            <label for="id_responsible_set-last_name">Фамилия:</label>
          </dt>
          <dd>
            <input name="placeCemetery" id="id_responsible_set-last_name" type="text"
                   ng-model="editor.responsible.last_name"
                   name="last_name" required maxlength="255"/>
            <span class="error" ng-show="!editor.responsible.last_name.length">Не указана</span>
          </dd>
          <dt>
            <label for="id_responsible_set-first_name">Имя:</label>
          </dt>
          <dd>
            <input name="placeArea" id="id_responsible_set-first_name" type="text"
                   ng-model="editor.responsible.first_name"
                   maxlength="255"/>
          </dd>
          <dt>
            <label for="id_responsible_set-middle_name">Отчество:</label>
          </dt>
          <dd>
            <input name="placeRow" id="id_responsible_set-middle_name" type="text"
                   ng-model="editor.responsible.middle_name"
                   maxlength="255"/>
          </dd>
        </dl>

        <table ng-show="editor.isResponsibleEdited" class="pd-form">
          <tr ng-show="editor.create_cabinet">
            <th width="200px">
              <label>Мобильный телефон<br/> для входа в кабинет:</label>
            </th>
            <td>+
              <input name="responsible_login_phone"
                     id="id_responsible_login_phone" type="text"
                     ng-model="editor.responsible.login_phone"
                     ng-disabled="responsible.login_phone"
                     ui-validate="{validPhone : 'validatePhone($value)' }"
                     popover-placement="top" popover-trigger="mouseenter"
                     popover='Введите номер телефона в международном формате без "+" и без "8". Пример: 74996772043'
                     maxlength="15" style="width:200px;"/>

              <p class="error" ng-show="responsibleEditForm.responsible_login_phone.$error.validPhone">Неверный номер
                телефона</p>
              <p class="text-info" ng-show="!responsible.login_phone && editor.responsible.login_phone">
                <i class="icon-info-sign"></i> Пожалуйста, предупредите, что придет СМС
              </p>
            </td>
          </tr>
          <tr>
            <td colspan="2">
              <button class="btn" ng-click="editor.isResponsibleEdited=false"
                      ng-disabled="responsibleEditForm.$invalid">Сохранить
              </button>
              <button class="btn" ng-click="responsible_edit_cancel()">Отмена</button>
            </td>
          </tr>
        </table>
      </form>
    </tab>
    <tab heading="Адрес">
      <form novalidate name="responsibleEditAddressForm">
        <address
            data="editor.responsible_address"
            address_class="address_class"></address>
      </form>
    </tab>
    <tab heading="Телефоны">
      <form novalidate name="responsibleEditPhonesForm">
        <span ng-hide="editor.responsible.last_name">Заполните страницу личных данных</span>
        <phones phones="editor.responsible_phones"></phones>
      </form>
    </tab>
  </tabset>
</div>

<div class="modal-footer">
  <span class="footer-info"
        ng-hide="
          !(editor.isResponsibleEdited || editor.isAddressEdited || editor.isPhoneEdited)
          && responsibleEditForm.$valid
          && (
            editor.responsible_phones.length
            || responsibleEditForm.responsible_login_phone.$viewValue
            || editor.responsible_address.country.name
          )
        ">
    Необходимо указать фамилию, адрес или телефон
  </span>

  <button class="btn btn-primary"
          ng-disabled="
            !(
              !(editor.isResponsibleEdited || editor.isAddressEdited || editor.isPhoneEdited)
              && responsibleEditForm.$valid
              && (
                editor.responsible_phones.length
                || responsibleEditForm.responsible_login_phone.$viewValue
                || editor.responsible_address.country.name
              )
            )
          "
          ng-click="saveResponsibleEditForm(responsibleEditForm)">
    Сохранить
  </button>
  <button class="btn cancel" ng-click="closeEditForm('isResponsibleEditorOpen')">Отменить</button>
</div>