<form name="placeEditForm" novalidate>
    <div class="modal-header">
        <h3>Редактировать место "{{item.place}}"</h3>
    </div>
    <div class="modal-body" style="overflow-y:hidden;">
        <dl class="dl-horizontal">
            <dt>
                <label for="id_place_set-cemetery">Кладбище:</label>
            </dt>
            <dd>
                <input name="placeCemetery" id="id_place_set-cemetery" type="text" ng-model="cemetery.name"
                       required maxlength="255" typeahead-min-length="0"
                       typeahead="c.name for c in cemetery_list | filter:$viewValue | limitTo:8"
                       typeahead-editable="false" typeahead-on-select="onCemeteryChanged($item, $model)" />
                <span class="error" ng-show="placeEditForm.placeCemetery.$error.required">Не указано кладбище</span>
            </dd>

            <dt>
                <label for="id_place_set-area">Участок:</label>
            </dt>
            <dd>
                <input name="placeArea" id="id_place_set-area" type="text" ng-model="area.name" required maxlength="255"
                       typeahead="a.name for a in area_list | filter:$viewValue | limitTo:8"
                       typeahead-min-length="0" typeahead-editable="false" typeahead-on-select="onAreaChanged($item, $model)"/>
                <span class="error" ng-show="placeEditForm.placeArea.$error.required">Не указан участок</span>
            </dd>

            <dt>
                <label for="id_place_set-row">Ряд:</label>
            </dt>
            <dd>
                <input name="placeRow" id="id_place_set-row" type="text" ng-model="item.row" maxlength="255" />
            </dd>

            <dt>
                <label for="id_place_set-name">Место:</label>
            </dt>
            <dd>
                <input name="placeName" id="id_place_set-name" type="text" required ng-model="item.place" maxlength="255" />
                <span class="error" ng-show="placeEditForm.placeName.$error.required">Не указано название места</span>
            </dd>
            
            <dt>
                <label for="id_place_set-name">Длина:</label>
            </dt>
            <dd>
                <input name="placeLen" id="id_place_set-name" type="text" step="0.01" ng-model="item.place_length" maxlength="14" />
                <span class="error" ng-show="placeEditForm.placeLen.$error.required">Не указана</span>
            </dd>
            
            <dt>
                <label for="id_place_set-name">Ширина:</label>
            </dt>
            <dd>
                <input name="placeW" id="id_place_set-name" type="text" ng-model="item.place_width" maxlength="14"/>
                <span class="error" ng-show="placeEditForm.placeW.$error.required">Не указана</span>
            </dd>

			<dt><label>Широта:</label></dt>
			<dd>
			    {{selectedGrave.lat||'-'}}
				<!-- input type="text" name="lat" ng-model="item.lat" / -->
			</dd>
			<dt><label>Долгота:</label></dt>
			<dd>
			    {{selectedGrave.lng||'-'}}
				<!-- input type="text" name="lng" ng-model="item.lng" / -->

        </dl>
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" ng-disabled="!placeEditForm.$valid" ng-click="savePlaceEditForm(placeEditForm)">
            Сохранить
        </button>
        <button class="btn cancel" ng-click="closeEditForm('isPlaceEditorOpen')">Отменить</button>
    </div>
</form>