<p><label for="id_name">Название кладбища:</label>
  <input id="id_name" required name="cemetery_name" type="text" name="name" ng-model="editor.cemetery.name"
         maxlength="255">
  <span class="error" ng-show="cemeteryEditForm.cemetery_name.$error.required">Не указано название кладбища</span>
</p>

<p>
    <label for="id_cemetery_editors">Доступно для правки пользователям:</label>
    <select multiple ng-multiple="true" ng-model="editor.cemetery_editors" ng-options="obj.fio for obj in ugh_registrators" id="id_cemetery_editors">
    </select>
    <br /><span class="helptext">  Удерживайте &quot;Control&quot; (или &quot;Command&quot; на Mac), чтобы выбрать несколько значений.</span>
</p>

<table>
  <tr>
    <td>
      <label for="id_time_begin">Начало работы:</label>
      <timepicker ng-model="editor.cemetery.time_begin" show-meridian="false" readonly-input="true"></timepicker>
    </td>
    <td>&nbsp;</td>
    <td>
      <label for="id_time_end">Окончание работы:</label>
      <timepicker ng-model="editor.cemetery.time_end" show-meridian="false" readonly-input="true"></timepicker>
    </td>
  </tr>
  <tr ng-show="editor.cemetery.time_end <= editor.cemetery.time_begin">
    <td colspan="3">
      <span class="text-error">Время завершения должно быть больше времени начала</span>
    </td>
  </tr>
</table>
<p><label for="id_places_algo">Расстановка номеров мест новых ручных и электронных захоронений:</label>
  <select ng-model="editor.cemetery.places_algo" id="id_places_algo">
    <option value="area">По участку</option>
    <option value="row">По ряду</option>
    <option value="cem_year">Кладбище + год</option>
    <option value="burial_account_number">По рег. номеру захоронения</option>
    <option value="manual">Вручную</option>
  </select>
</p>
<p><label for="id_places_algo_archive">Расстановка номеров существующих, но неучтенных мест:</label>
  <select ng-model="editor.cemetery.places_algo_archive" id="id_places_algo_archive">
    <option value="-area">По порядку в пределах участка (-0001 -0002...)</option>
    <option value="burial_account_number">По рег. номеру захоронения</option>
    <option value="manual">Вручную</option>
  </select>
</p>

<p>
  <label for="id_archive_burial_fact_date_required">Дата архивного захоронения обязательна:</label>
  <input id="id_archive_burial_fact_date_required" type="checkbox" name="name"
         ng-model="editor.cemetery.archive_burial_fact_date_required"/>
</p>
<p>
  <label for="id_archive_burial_account_number_required">Номер архивного захоронения обязателен:</label>
  <input id="id_archive_burial_account_number_required" type="checkbox" name="name"
         ng-model="editor.cemetery.archive_burial_account_number_required"
      ng-disabled="'burial_account_number' == editor.cemetery.places_algo_archive" />
  <i class="icon-question-sign"
     ng-show="'burial_account_number' == editor.cemetery.places_algo_archive"
     popover-placement="right"
     popover-trigger="mouseenter"
     popover='Редактировать запрещено так как "расстановка номеров существующих, но не учтенных мест" установлена "по рег. номеру захоронения"'></i>
</p>

<p>
  <label for="id_time_slots">Время для захоронения:</label>
  <textarea ng-model="editor.cemetery.time_slots" id="id_time_slots" rows="10" cols="40" name="time_slots"></textarea>
  <span class="helptext">В формате ЧЧ:ММ, по одному на строку</span>
</p>

