<ul class="breadcrumb">
    <li><a href="/manage/cemetery/">Кладбища</a></li>
    <li><span class="divider">|</span></li>
    <li><a href="/manage/cemetery/{{cemetery.id}}/">{{cemetery.name}}</a></li>
    <li><span class="divider">|</span></li>
    <li><a href="/manage/cemetery/{{cemetery.id}}/area/{{area.id}}">{{localeText.Area}} "{{area.name}}"</a></li>
    <li><span class="divider">|</span></li>
    <li><span ng-show="item.row">Ряд "{{item.row}}" </span>{{localeText.Place}} "{{item.place}}"</li>
    <li ng-show="is_editable && area.kind == 'g'"><span class="divider">|</span></li>
    <!-- li><a href="#" ng-click="openEditForm('isPlaceEditorOpen')" ng-disabled="loading">Редактировать</a></li>
    <li><span class="divider">|</span></li -->
    <li ng-show="is_editable && area.kind == 'g' && num_graves < max_graves_count" ng-disabled="loading"><a href="#" ng-click="openEditForm('isGraveAddOpen')">Добавить могилу</a></li>
</ul>
