<ul class="breadcrumb">
    <li><a href="/manage/cemetery/">Кладбища</a></li>
    <li><span class="divider">|</span></li>
    <li><a href="/manage/cemetery/{{cemetery.id}}/">{{cemetery.name}}</a></li>
    <li><span class="divider">|</span></li>
    <li><a href="/manage/cemetery/{{cemetery.id}}/area/{{area.id}}">Участок "{{area.name}}"</a></li>
    <li><span class="divider">|</span></li>
    <li>Место "{{item.place}}"</li>
    <li ng-show="is_editable"><span class="divider">|</span></li>
    <!-- li><a href="#" ng-click="openEditForm('isPlaceEditorOpen')" ng-disabled="loading">Редактировать</a></li>
    <li><span class="divider">|</span></li -->
    <li ng-show="is_editable" ng-disabled="loading"><a href="#" ng-click="openEditForm('isGraveAddOpen')">Добавить могилу</a></li>
</ul>
