<alert ng-repeat="alert in alerts" type="alert.type" close="closeAlert($index)">{{alert.msg}}</alert>
<div ng-include src="'/static/js/app/tpl/loading-indicator.html'+version_str"></div>
<div ng-include src="'/static/js/app/tpl/manage/place_view_header.html'+version_str"></div>
<div class="place-view">
<div class="row-fluid">
  <div class="span7">
    <table class="pd-form" colspan="2">
      <tr>
        <th colspan="1">
          <a href="#" class="btn btn-success btn-mini"
             ng-disabled="loading"
             alt="Редактировать"
             ng-click="openEditForm('isPlaceEditorOpen')">
            <span class="icon-edit"></span>
          </a>
          Место:
        </th>
        <th>
          <span class="badge"
                ng-show="item.dt_free"
                tooltip="Свободное ({{ item.dt_free|momentDate:'DD-MM-YYYY HH:mm' }})">
            <i class="icon-inbox icon-white"></i>
          </span>
          <span class="badge"
                ng-show="item.dt_size_violated"
                tooltip="Нарушение размеров ({{ item.dt_size_violated|momentDate:'DD-MM-YYYY HH:mm' }})">
            <i class="icon-resize-full icon-white"></i>
          </span>
          <span class="badge"
                ng-show="item.dt_unowned"
                tooltip="Заброшенное ({{ item.dt_unowned|momentDate:'DD-MM-YYYY HH:mm' }})">
            <i class="icon-globe icon-white"></i>
          </span>
          <span class="badge"
                ng-show="item.dt_unindentified"
                tooltip="Неопознанное ({{ item.dt_unindentified|momentDate:'DD-MM-YYYY HH:mm' }})">
            <i class="icon-eye-close icon-white"></i>
          </span>
          <span class="badge"
                ng-show="item.dt_military"
                tooltip="Воинское ({{ item.dt_military|momentDate:'DD-MM-YYYY HH:mm' }})">
            <i class="icon-flag icon-white"></i>
          </span>
          <span class="badge"
                ng-show="item.dt_wrong_fio"
                tooltip="Неверные ФИО ({{ item.dt_wrong_fio|momentDate:'DD-MM-YYYY HH:mm' }})">
            <i class="icon-font icon-white"></i>
          </span>
        </th>
      </tr>
      <tr>
        <th>
          Кладбище:
        </th>
        <td>{{ item.name }}</td>
      </tr>
      <tr>
        <th>Участок:</th>
          <td>{{ area.name }}</td>
      </tr>
      <tr>
        <th>Ряд:</th>
        <td>{{ item.row }}</td>
      </tr>
      <tr>
        <th>Место:</th>
        <td>{{ item.place }}</td>
      </tr>
      <tr>
        <th>Могил всего</th>
        <td>{{item.graves_count}}</td>
      </tr>
      <tr>
        <!-- dt>Свободно</dt>
        <dd>{{item.available_count}}</dd -->

        <th>Координаты</th>
        <td>широта: {{item.lat || '-'}}, долгота: {{item.lng || '-'}}</td>
      </tr>
      <tr>
        <th>Размеры</th>
        <td>длина {{item.place_length || '-'}}м, ширина {{item.place_width || '-'}}м</td>
      </tr>
      <tr>
        <th>Ответственный смотритель</th>
        <td>{{ caretaker_show }}</td>
      </tr>
      <tr>
        <th><a href="/places/{{item.id}}/certificate" target="_blank">Паспорт места</a></th>
        <td></td>
      </tr>

      <tr ng-show="placeGalleryFirstPhoto">
        <td colspan="2">
          <img ng-click="openEditForm('isPlaceGalleryOpen', placeGallery)"
               class="first-photo" ng-src="{{ placeGalleryFirstPhoto.photo | thumbnail:233:134:'scale' }} "/>
        </td>
      </tr>

      <tr>
        <td colspan="2">
          <hr/>
        </td>
      </tr>
      <tr>
        <th>
          <button class="btn btn-success btn-mini"
                  ng-disabled="loading"
                  ng-click="openEditForm('isResponsibleEditorOpen')">
            <span class="icon-edit"></span>
          </button>
          <button class="btn btn-danger btn-mini"
                  ng-disabled="loading"
                  ng-show="responsible.last_name || responsible.first_name || responsible.middle_name"
                  ng-click="removeResponsible()">
            <span class="icon-remove"></span>
          </button>
          Ответственный:
        </th>
        <td>
          {{ responsible.last_name + ' ' + responsible.first_name + ' ' + responsible.middle_name }}
        </td>
      </tr>
      <tr>
        <th width="200px">Адрес:</th>
        <td>{{responsible.address_str || '-'}}</td>
      </tr>
      <tr ng-show="item.create_cabinet">
        <th>Мобильный телефон для входа в кабинет:</th>
        <td ng-hide="responsible.login_phone">
          <span class="label label-important">Не указан</span>
        </td>
        <td ng-show="responsible.login_phone">
          <span ng-show="responsible.login_phone && responsible.login_phone.length">+</span>
          {{responsible.login_phone}}
        </td>
      </tr>
      <tr>
        <th>Телефоны:</th>
        <td>
          <div ng-repeat="phone in responsible_phones">
            {{phone.phonetype | objList:PHONETYPE_CHOICES}}:
            <span ng-show="phone.number.length>7">+</span>
            {{phone.number}}
            <br/ ng-show="!$last">
          </div>
        </td>
      </tr>
      <tr ng-show="responsible.phones">
        <th>Текстовые телефоны:</th>
        <td>{{responsible.phones}}</td>
      </tr>
    </table>
  </div>

  <yandex-map id="yandex-map" class="span5" coordinates="placeCoordinates" points="placePoints" zoom="placeMapZoom">
  </yandex-map>
</div>

<div class="graves row-fluid clearfix">
  <h2>Могилы</h2>
  <!-- div class="row-fluid"><button class="btn btn-success" ng-click="openEditForm('isGraveAddOpen')">Добавить могилу</button></div -->
  <div class="row" style="overflow-x:auto; width: auto; padding-left:30px;">

    <table width="auto">
      <tr>
        <td class="" ng-repeat="grave in graves" valign="top">
          <div class="grave well well-large">
            <p style="text-align: left">Захоронения
              <i class="icon-question-sign" ng-show="grave.is_wrong_fio"></i>
              <i class="icon-star" ng-show="grave.is_military"></i>
            </p>

            <ul class="unstyled burials">
              <li ng-repeat="burial in burials | filter :{grave : grave.id}"
                  class="well burial {{burial.status}}">
                <div ng-click="openEditForm('isBurialEditorOpen', burial)">
                  <h4 style="text-align: left">{{burial.deadman.last_name}}</h4>
                  <h4 style="text-align: left">{{burial.deadman.first_name}}</h4>
                  <h4 style="text-align: left">{{burial.deadman.middle_name}}</h4>

                  <div ng-show="burial.deadman.death_date">дата смерти {{burial.deadman.death_date}}</div>
                  <div ng-show="burial.fact_date||burial.plan_date">дата захоронения {{burial.fact_date||burial.plan_date}}</div>
                  <div>{{burial.burial_container|list:BURIAL_CONTAINERS}}</div>
                </div>
                <div class="btn-group pull-right">
                  <a class="btn btn-mini" popover="Просмотр" popover-trigger="mouseenter"
                     href="/burials/{{burial.id}}/" target="_new">
                    <i class="icon-search"></i>
                  </a>
                  <a class="btn btn-mini" popover="Правка" popover-trigger="mouseenter"
                     href="/burials/{{burial.id}}/edit/" target="_new">
                    <i class="icon-edit"></i>
                  </a>
                  <a class="btn btn-mini" popover="Эксгумировать" popover-trigger="mouseenter"
                     ng-hide="burial.status==BURIAL_STATUS_EXHUMATED"
                     href="/burials/{{burial.id}}/exhumate/" target="_new">
                    <i class="icon-arrow-up"></i>
                  </a>

                  <div class="btn btn-mini" popover="Отмена эксгумации" popover-trigger="mouseenter"
                       off-href="/places/{{item.id}}/" target="_new"
                       ng-click="cancelExhumation(burial)"
                       ng-show="burial.status==BURIAL_STATUS_EXHUMATED">
                    <i class="icon-arrow-down"></i>
                  </div>
                  <a class="btn btn-mini" popover="Печать справки" popover-trigger="mouseenter"
                     href="/burials/{{burial.id}}/spravka/" target="_new"
                     ng-hide="burial.status==BURIAL_STATUS_EXHUMATED">
                    <i class="icon-print"></i>
                  </a>
                  <a class="btn btn-mini" popover="Печать справки" popover-trigger="mouseenter"
                     href="/burials/{{burial.id}}/exhumate/report/" target="_new"
                     ng-show="burial.status==BURIAL_STATUS_EXHUMATED">
                    <i class="icon-print"></i>
                  </a>
                </div>
              </li>
            </ul>

            <div class="unstyled well burial" style="padding:10px;">
              <a class="span12" target="_current"
                 href="/burials/create/?place_id={{item.id}}&grave_id={{grave.id}}&grave_number={{grave.grave_number}}">
                <h4>+ Добавить</h4>
              </a>
            </div>
            <div class="btn-toolbar">
              <button class="btn btn-mini btn-danger pull-right"
                      ng-show="!haveBurials(grave.id)"
                      ng-disabled="loading"
                      ng-click="deleteGrave(grave)">
                Удалить могилу
              </button>
            </div>
          </div>
        </td>

      </tr>
    </table>
  </div>
  <br/>

  <div class="row-fluid" ng-hide="grave_pages==1">
    <div class="input-prepend input-append">
      <button class="btn" type="button"
              ng-disabled="loading || grave_page == 1" ng-click="[grave_page=grave_page-1, updateGraves()]">
        <i class="icon-backward"></i>
      </button>
      <input class="span1" type="text" ng-model="grave_page" ng-disabled="loading"/>
      <span class="add-on">/{{grave_pages}}</span>
      <button class="btn" type="button"
              ng-disabled="loading || grave_page >= grave_pages" ng-click="[grave_page=grave_page+1, updateGraves()]">
        <i class="icon-forward"></i>
      </button>
      <div ng-show="loading" class="btn" type="button">
        <img src="/static/img/ajax-loader.gif" alt="Загрузка" width="14px" height="14px"/>
      </div>
    </div>
  </div>
</div>


<div ng-include src="'/static/js/app/tpl/manage/place_view_header.html'+version_str"></div>

<!-- POPUP Place edit form -->
<div modal="isPlaceEditorOpen" close="closeEditForm('isPlaceEditorOpen')">
  <div class="modal-header">
    <h3>Редактировать место "{{editor.item.place}}"</h3>
  </div>
  <div ng-include src="'/static/js/app/tpl/manage/form_edit_place.html'+version_str"></div>
</div>
<!-- EOF POPUP form -->

<!-- POPUP Responsible edit form -->
<div modal="isResponsibleEditorOpen" close="closeEditForm('isResponsibleEditorOpen')">
  <div ng-include src="'/static/js/app/tpl/manage/form_edit_responsible.html'+version_str"></div>
</div>
<!-- EOF POPUP form -->

<!-- POPUP Add grave -->
<div modal="isGraveAddOpen" close="closeEditForm('isGraveAddOpen')">
  <div ng-include src="'/static/js/app/tpl/manage/form_add_grave.html'+version_str"></div>
</div>
<!-- EOF POPUP form -->

<!-- POPUP Edit grave -->
<div modal="isGraveEditOpen" close="closeEditForm('isGraveEditOpen')">
  <div ng-include src="'/static/js/app/tpl/manage/form_edit_grave.html'+version_str"></div>
</div>
<!-- EOF POPUP form -->

<!-- POPUP Burial edit form -->
<div modal="isBurialEditorOpen" close="closeEditForm('isBurialEditorOpen')">
  <div ng-include src="'/static/js/app/tpl/manage/form_edit_burial.html'+version_str"></div>
</div>
<!-- EOF POPUP form -->

<div options="{dialogClass: 'modal gallery'}" modal="isPlaceGalleryOpen" close="closeEditForm('isPlaceGalleryOpen')">
  <div class="modal-header">
    <h3>Фотографии</h3>
  </div>
  <div class="modal-body">
    <div class="row">
      <div class="span9">
        <img ng-show="currentImage" ng-src="{{currentImage.photo|thumbnail:600:430:'scale'}}"/>
        <img ng-hide="currentImage" alt="Нет фотографии"
             src="/static/no-image.png" width="265px" height="265px"/>
      </div>
      <div class="span2 well preview-col">
        <ul class="thumbnails">
          <li class="thumbnail-preview-col" ng-repeat="image in selectedPlacePhotos">
            <img class="thumbnail" ng-click="setCurrentImage(image)"
                 ng-src="{{image.photo | thumbnail:120:100:'scale'}}"
                />
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button class="btn cancel" ng-click="closeEditForm('isPlaceGalleryOpen')">Отменить</button>
  </div>
</div>

<div class="row-fluid">
  <div class="span12" style="width:auto !important">
    <h3>История изменений</h3>
    <table class="table table-striped">
      <tr>
        <th>Дата</th>
        <th>Пользователь</th>
        <th>Действие</th>
      </tr>
      <tr ng-repeat="row in place_log">
        <td>{{row.dt}}</td>
        <td>{{row.user}}</td>
        <td>
          <div ng-bind-html-unsafe="row.msg"></div>
        </td>
      </tr>
      <tr ng-show="!place_log.length">
        <td colspan=3>Нет данных</td>
      </tr>
      <table>
  </div>
</div>
<div class="row-fluid" ng-hide="log_pages==1">
  <div class="input-prepend input-append span8">
    <button class="btn" type="button"
            ng-disabled="loading || log_page == 1" ng-click="[log_page=log_page-1, update()]">
      <i class="icon-backward"></i>
    </button>
    <input class="span1" type="text" ng-model="log_page" ng-disabled="loading"/>
    <span class="add-on">/{{log_pages}}</span>
    <button class="btn" type="button"
            ng-disabled="loading || log_page >= log_pages" ng-click="[log_page=log_page+1, update()]">
      <i class="icon-forward"></i>
    </button>
  </div>
</div>


</div>
