# coding=utf-8

DEBUG = True
TEMPLATE_DEBUG = DEBUG
ASSETS_DEBUG = DEBUG

ADMIN_ENABLED = True
SUPERVISOR_ORG_INN = '12345'

ADMINS = (

    ('Ivan Ivanov', 'ivan.ivanov@org.com'),

)

MANAGERS = ADMINS

# Настройка на production server (раскомментировать)
# REST_FRAMEWORK['DEFAULT_RENDERER_CLASSES'] = (  'rest_framework.renderers.JSONRenderer' , )

DATABASES = {
    'default': {
        'ENGINE': 'django.db.backends.postgresql_psycopg2',
        'NAME': 'pd',
        'USER': 'postgres',
        'PASSWORD': '',
        'HOST': '',
        'PORT': '',
        'OPTIONS': {
            'autocommit': True,
            },
        },
}

SENTRY_DSN = ''

TEMPLATE_DIRS = (
    '/home/LINUX_USERNAME/projects/pd_web/pd/templates/',
)

MEDIA_ROOT = '/home/LINUX_USERNAME/projects/MEDIA/pd_web/'

# Google reCaptcha keys, поучаемые из http://www.google.com/recaptcha,

RECAPTCHA_PUBLIC_KEY = 'a-string-of-hex-and-digits'
RECAPTCHA_PRIVATE_KEY = 'another-string-of-hex-and-digits'
RECAPTCHA_USE_SSL = False

# Для отправки кода активации и прочей почты.
#
# На производственном сервере эти параметры можно не менять,
# там почта отправляется через localhost, на котором
# стоит настроенный почтовый сервер.
#
# На тестовом сервере, скорее всего, нет настроенного
# почтового сервера, и наверняка надо заполнить эти параметры.
# Здесь приведены параметры, отработанные для отправки
# через smtp-сервер @gmail.com
#
# EMAIL_HOST = 'smtp.googlemail.com'
# EMAIL_PORT = 587
# EMAIL_HOST_USER = 'EMAIL-HOST-USER@gmail.com'
# EMAIL_HOST_PASSWORD = 'SECRET'
# EMAIL_USE_TLS = True
# EMAIL_USE_SSL = False

# Этот адрес применяется как "От кого" в письмах,
# отправляемых с этого сервера
#
DEFAULT_FROM_EMAIL = 'EMAIL-HOST-USER@gmail.com'

# На этот адрес доставляются скрытые копии всех писем, отправленных
# с этого сервера. Если не задан (None), то такие копии не
# доставляются
#
BCC_OUR_MAIL = None 

# Учетные записи для SMS- службы рассылки СМС-сообщений,
# на разные страны могут быть разные учетные записи
# в службе рассылки сообщений. Если кода страны получателя
# сообщения нет в словарях списка SMS_SERVICE, то действует
# учетная запись с 'country_code': 'default'.
# Если и таковой нет, то отправка будет невозможна.
# Подлежат замене в local_settings.py production сервера:
SMS_SERVICE = [
    { 'country_code': '7', 'user': 'user7@email.org', 'password': 'secret7', },
    { 'country_code': '375', 'user': 'user375@email.org', 'password': 'secret375', },
    { 'country_code': 'default', 'user': 'default@email.org', 'password': 'default-secret', },
]

# На production, а также на разработческих серверах,
# где налажена связка frontend - backend,
# установить этот параметр в True
#
REDIRECT_LOGIN_TO_FRONT_END = False

# Если стоит redis сервер, то можно задать django cache на него:
#
CACHES = {
    "default": {
        "BACKEND": "django_redis.cache.RedisCache",
        "LOCATION": "redis://127.0.0.1:6379/1",
        "OPTIONS": {
            "CLIENT_CLASS": "django_redis.client.DefaultClient",
        }
    }
}

# Для CallBackApi Vkontakte

VK_BOT = dict(
    group1 = dict(
        confirmationToken='004eec27',
        token=u'Ваш ключ',
        secretKey='testSecureKey',
        log_file='/home/user/vk/testgroup.log',

        # Перед msg_join, msg_leave подставляется
        # "<first_name пользователя>! ", если таковое имеется
        # ! Разделитель строк - не "\n", а "<br>"

        msg_join=u"Добро пожаловать в Однополчане, Друг!",
        msg_leave=u"Доброго пути, до встречи! Однополчане.",
    ),
)
