<div class="address_block">
	<div ng-hide="isAddressEditorOpen">
		<h2>
		    Адрес
		</h2>
		<div ng-include src="'/static/js/app/directive/address/static_block.html'"></div>
        
        <button class="btn" ng-click="open()">
                Редактировать
        </button>
	</div>

	<div ng-show="isAddressEditorOpen">
	      <h2>Редактирование адреса</h2>
  					<form name="address_editor">
						<div class="row-fluid">
				    		<google-search class="span12" location="location" ></google-search>
						</div>
						<hr/>
						<div class="row-fluid">
					    		<input id="id_address-post_index" class="" type="text" maxlength="255"
					    		ng-model="data.post_index" placeholder="Индекс" />
						</div>
					    <table class="row-fluid">
					    <tr>
					    	<td>
								<input type="text"  class="span12 country" ng-model="data.country.name" placeholder="Страна" 
									ng-required="data.street.name.length || data.city.name.length || data.region.length"/>
					    	</td>
					    	<td>
								<input type="text" class="span12 region" ng-model="data.region.name" placeholder="Регион" 
									ng-required="data.street.name.length || data.city.name.length"/>
					    	</td>
					    	<td>
								<input type="text" ng-model="data.city.name" class="span12 city" placeholder="Город" 
								ng-required="data.street.name.length"/>
					    	</td>
					    	<td>
								<input type="text" ng-model="data.street.name" class="span12 street" placeholder="Улица"/>
					    	</td>
						</tr>
						</table>
					    <table class="row-fluid">
					    <tr>
					    	<td>
						    	<input  placeholder="Дом" id="id_address-house" type="text" ng-model="data.house" class="span12" maxlength="255"/>
						    </td>
						    <td>
						    	<input placeholder="Корпус" id="id_address-block" type="text" ng-model="data.block" class="span12" maxlength="255"/>
						    </td>
						    <td>
						    	<input placeholder="Строение" id="id_address-building" type="text" ng-model="data.building" class="span12" maxlength="255"/>
						    </td>
						    <td>
						    	<input placeholder="Квартира" id="id_address-flat" type="text" ng-model="data.flat" class="span12" maxlength="255"/>
					    	</td>
						</tr>
						</table>
	
				<hr/>
				<div class="row-fluid">
					<div class="span12">
				    	<input placeholder="Дополнительная информация" class="span12" type="text" ng-model="data.info" id="id_address-info" />
					</div>
				</div>
				</form>
	  
	  <div class="row-fluid">
	    	<button class="btn btn-primary" ng-click="save(address_editor)" 
	    	ng-disabled="form_disabled()">Сохранить</button>
	        <button class="btn cancel" ng-click="close()">Отмена</button>
	  </div>
	</div>
	

</div>





