33 4            * * *   root /home/reserve/backup_frontend.sh  >/dev/null 2>&1
45 4            * * *   root /home/reserve/backup_sys.sh  >/dev/null 2>&1

17 1           * * *   www-data cd /home/www-data/django/pd_web/pd && ./manage.py create_sitemap https://dev.pohoronnoedelo default  >/dev/null 2>&1
19 1           * * *   www-data cd /home/www-data/django/pd_prod/pd && ./manage.py create_sitemap https://pohoronnoedelo  >/dev/null 2>&1
21 1           * * *   www-data cd /home/www-data && sh ./resubmit_sitemap.sh >/dev/null 2>&1

14 5           * * 0   www-data rm -rf /home/www-data/django/MEDIA/pd_web/thumbnails/*
16 5           * * 0   www-data rm -rf /home/www-data/django/MEDIA/pd_prod/thumbnails/*

10 6           * * *   suprune20 ~/check-disk-space/check_disk_space.py >~/check-disk-space/check_disk_space.last.log 2>&1
