{% extends "base.html" %}

{% load i18n %}

{% block scripts %}
    <script type="text/javascript" src="{{ STATIC_URL }}js/jquery-1.4.4.min.js"></script>
    <script type="text/javascript" charset="utf-8">
        $(function(){
            $("#id_username").focus();
        })
    </script>
{% endblock %}

{% block title %}Регистрация{% endblock %}
{% block h1 %}Регистрация:{% endblock %}
{% block content %}
    <h1>{% trans "Регистрация успешна, проверьте свой email-ящик" %}</h1>
{% endblock %}
