{% extends "base.html" %}

{% load i18n %}

{% block content %}
    <h1>Архив</h1>
    <table class="table table-bordered table-striped">
        <tr>
            <th>{% trans "Кладбище" %}</th>
            <th>{% trans "Место" %}</th>
            <th>{% trans "Номер" %}</th>
            <th>{% trans "Создано" %}</th>
            <th>{% trans "Согласовано" %}</th>
            <th>{% trans "Выполнено" %}</th>
            <th></th>
        </tr>
        {% for b in burials %}
            <tr>
                <td>{{ b.cemetery }}</td>
                <td>{{ b.place_number|default:"" }}</td>
                <td>{{ b.number|default:"" }}</td>
                <td>{{ b.created|default:"" }}</td>
                <td>{{ b.approved_ugh|default:"" }}</td>
                <td>{{ b.processed_loru|default:"" }}</td>
                <td>
                    <a class="btn" href="{% url view_request b.pk %}">{% trans "просмотр" %}</a>
                </td>
            </tr>
        {% endfor %}
    </table>

    {% if user.profile.is_loru %}
        <p>
            <a class="btn" href="{% url create_request %}">{% trans "создать заявку" %}</a>
        </p>
    {% endif %}
{% endblock %}