<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="ru" lang="ru">

{% load i18n %}

<head>
    <title>{% block title %}{% endblock %}</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="Keywords" content="" />
    <meta name="Description" content="" />

    <!-- Le styles -->
    <link rel="stylesheet" href="{{ STATIC_URL }}less/bootstrap.css" type="text/css" />
    <style type="text/css">
        body {
            padding-top: 60px;
            padding-bottom: 40px;
        }
        .sidebar-nav {
            padding: 9px 0;
        }
    </style>
    <link type="text/css" href="{{ STATIC_URL }}css/custom-theme/jquery-ui-1.8.16.custom.css" rel="stylesheet" />
    <link type="text/css" href="{{ STATIC_URL }}css/jquery-ui-timepicker.css" rel="stylesheet" />

    <link href="{{ STATIC_URL }}css/base.css" rel="stylesheet">

    <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
        <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    {% if close %} <script type="text/javascript">top.close();</script> {% endif %}

    <script type="text/javascript" src="{{ STATIC_URL }}js/jquery-1.7.2.min.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/jquery-ui-1.8.6.custom.min.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/jquery.ui.timepicker.js"></script>

    <script type="text/javascript" src="{{ STATIC_URL }}js/bootstrap-dropdown.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/bootstrap-modal.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/bootstrap-typeahead-ajax.js"></script>

    <script type="text/javascript" src="{{ STATIC_URL }}js/cemetery.js" defer="true"></script>

    {% block scripts %}{% endblock %}
</head>
<body>
    <div class="navbar navbar-fixed-top">
        <div class="navbar-inner">
            <div class="container-fluid">
                <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </a>
                <a class="brand" href="/">PohoronnoeDelo.ru</a>
                <div class="btn-group pull-right dropdown" id="auth_menu">
                    {% if user.is_authenticated %}
                        <a class="btn dropdown-toggle" data-toggle="dropdown" href="#auth_menu">
                            <i class="icon-user"></i> {{ user.username }}
                            {% if user.profile.org %}[{{ user.profile.org.name }}]{% endif %}
                            <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu">
                            {% if user.profile.is_ugh %}
                                <li><a href="{% url manage_cemeteries %}">{% trans "Кладбища" %}</a></li>
                            {% endif %}
                            <li><a href="{% url profile %}">{% trans "Профиль" %}</a></li>
                            <li class="divider"></li>
                            <li><a href="{% url ulogout %}">{% trans "Выйти" %}</a></li>
                        </ul>
                    {% else %}
                        <a class="btn" href="{% url ulogin %}">{% trans "Войти" %}</a>
                        <a class="btn" href="{% url uregister %}">{% trans "Зарегистрироваться (для ЮЛ)" %}</a>
                    {% endif %}
                </div>
                <div class="nav-collapse">
                    <ul class="nav">
                        <!-- <li{% if request.path == '/' %} class="active"{% endif %}><a href="{% url dashboard %}">{% trans "К исполнению" %}</a></li> -->

                        <li{% if request.path == '/burials/' %} class="active"{% endif %}><a href="{% url burial_list %}">{% trans "Захоронения" %}</a></li>
                        <li{% if request.path == '/burials/archive/' %} class="active"{% endif %}><a href="{% url archive %}">{% trans "Архив" %}</a></li>
                        {% if user.profile.is_loru %}
                            <li{% if request.path == '/burials/create/' %} class="active"{% endif %}><a href="{% url create_burial %}">{% trans "Создать заявку" %}</a></li>
                        {% endif %}
                        {% if user.profile.is_ugh %}
                            <li{% if request.path == '/burials/create/' %} class="active"{% endif %}><a href="{% url create_burial %}">{% trans "Создать захоронение" %}</a></li>
                        {% endif %}
                    </ul>
                </div><!--/.nav-collapse -->
            </div>
        </div>
    </div>


    <div class="container-fluid">
        {% if messages %}
            <ul class="messages">
                {% for m in messages %}
                    <li class="alert alert-{{ m.tags }}">{{ m|safe }}</li>
                {% endfor %}
            </ul>
        {% endif %}

        {% block content %}{% endblock %}

        {% if debug %}
            <div class="span12">
                <ul>
                    {% for q in sql_queries %}
                        <li>{{ q.time }}: {{ q.sql }}</li>
                    {% endfor %}
                </ul>
            </div>
        {% endif %}
    </div>
</body>
</html>
