<form class='form-horizontal in-place' action="{% url new_burial_place %}" method="POST">
    <div class="well">
        Данные сохранены.
        <script type="text/javascript">
            var a  = $('<a href="{% url new_burial_place %}?instance={{ place.pk }}" class="link-place load">{{ place.cemetery }}, {{ place.area }}, {{ place.row }}, {{ place.seat }}</a>');
            $('.link-place').replaceWith(a);
            $('#id_place').val('{{ place.pk }}').change();

            var ra  = $('<a href="{% url new_burial_responsible %}?instance={{ place.responsible.pk }}" class="link-responsible load">{{ place.responsible }}</a>');
            $('.link-responsible').replaceWith(ra);
            $('#id_responsible').val('{{ place.responsible.pk }}').change();

            $('#top_place_link').html('<a href="{% url view_place place.pk %}" target="_blank">Карточка места</a>')
        </script>
    </div><!--/.well -->
</form>
