{% extends "base.html" %}

{% load adminmedia %}
{% load my_filters %}

{% block title %}Отделение захоронения{% endblock %}

{% block title_h2 %}Отделение захоронения{% endblock %}

{% block content %}
    Отделяем {{ one }} от:
    <ul>
        {% for o in other %}
            {% if forloop.first %}
                <li>
                    {{ o }}
                    <a href="/burial/{{ o.uuid }}/?from_separate=1" target="_blank">Редактировать</a>
                </li>
            {% else %}
                <li>{{ o }}</li>
            {% endif %}
        {% endfor %}
    </ul>

    <p>
        Это {% if separate == 'one' %}не{% endif %}основное захоронение, поэтому
        {% if separate == 'one' %}
            его новый номер места будет {{ seat_number }}
        {% else %}
            его номер места сохранится, а новый номер места для остальных захоронений будет {{ seat_number }}
        {% endif %}
    </p>

    <form action="" method="POST">
        {% csrf_token %}
        <input type="hidden" name="seat_number" value="{{ seat_number }}" />
        <input type="submit" value="отделить" />
    </form>
{% endblock %}
