{% extends "base.html" %}

{% load my_filters %}

{% block title %}Поиск{% endblock %}

{% block content %}
    <div class="row-fluid">
        <div class="span12">
            <div class="row-fluid">
                <form id="mainform" class="form-horizontal" method="get" action="/">
                    {{ form.as_p }}

                    <p class="buttons">
                        <input type="submit" value="Искать" class="btn btn-primary" />&nbsp;&nbsp;
                        <input type="submit" name="print" value="Распечатать все" class="btn" />&nbsp;&nbsp;
                        <input type="reset" value="Сброс" class="btn" />&nbsp;&nbsp;
                    </p>
                </form>
            </div>
        </div>
    </div>

    {% if paginator.count %}
        <div class="row-fluid">
            <table class="burials table table-striped table-bordered">
                <thead>
                    <th>№ в книге</th>
                    <th>ФИО</th>
                    <th>Дата захоронения</th>
                    <th>Участок</th>
                    <th>Ряд</th>
                    <th>Могила</th>
                    <th>Кладбище</th>
                    <th>Услуга</th>
                    <th>Заказчик</th>
                    <th>Телефон</th>
                    <th>Комментарий</th>
                    <th>Опции</th>
                </thead>
                {% for b in object_list %}
                    <tr>
                        <td>{{ b.account_number }}</td>
                        <td>
                            <b> {{ b.person.last_name }}</b>
                            {{ b.person.first_name }}
                            {{ b.person.middle_name }}
                        </td>
                        <td>{{ b.date_fact|date:"d.m.Y" }}</td>
                        <td>{{ b.place.area }}</td>
                        <td>{{ b.place.row }}</td>
                        <td>
                            {{ b.place.seat }}<br/>
                            {% if b.place.unowned %}б/х{% endif %}
                            {% if b.place.responsible %}отв{% endif %}
                        </td>
                        <td>{{ b.place.cemetery.name }}</td>
                        <td>
                            {{ b.operation.op_type }}
                            {% if b.exhumated_date %}
                                Эксгумирован
                            {% endif %}
                        </td>
                        <td>
                            {% if b.client_organization %}
                                ЮЛ {{ b.client_organization }}<br/>
                                {% if b.agent %}{{ b.agent.person }}{% else %}{{ b.client_organization.ceo|default:"" }}{% endif %}
                            {% else %}
                                {% if b.client_person %}
                                    ФЛ {{ b.client_person }}
                                {% else %}
                                {% endif %}
                            {% endif %}
                        </td>
                        <td>
                            {% if b.client_organization %}
                                {{ b.client_organization.phones|default:"" }}
                            {% endif %}
                            {% if b.client_person %}
                                {{ b.client_person.phones|default:"" }}
                            {% endif %}
                        </td>
                        <td>
                            {% for comment in b.ordercomments_set.all %}
                                {{ comment.comment }}
                            {% endfor %}
                        </td>
                        <td>
                            {% if b.orderfiles_set.count %}
                                <small><a title="файл прикреплен"><i class="icon icon-file"></i></a></small>
                            {% endif %}
                            {% if user|has_perm:"cemetery_app.add_burial"  %}
                                <a title="редактировать" target="_blank" href='{% url edit_burial b.pk %}'><i class="icon icon-edit"></i></a>
                            {% endif %}
                            <a title="карточка" href="{% url view_burial b.pk %}"><i class="icon icon-list"></i></a>
                            <a title="документы" href="{% url print_burial b.pk %}"><i class="icon icon-print"></i></a>
                            <a title="к могиле" href="{% url view_place b.place.pk %}"><i class="icon icon-map-marker"></i></a>
                        </td>
                    </tr>
                {% endfor %}
            </table>
        </div>

        {% include "paginator.html" %}
    {% endif %}

    <script type="text/javascript">
        $(function() {
            $('#id_customer').closest('p').before('<br/>');
            $('#id_records_order_by').closest('p').before($('p.buttons'));
            $('p.buttons').before('<br/>');
            $('input[type=reset]').click(function() {
                top.location.href = '?';
            });
            $('#id_customer, #id_responsible').css('width', '150px');
            $('#id_customer, #id_responsible, #id_fio').attr('autocomplete', 'off').typeahead({
                items: 100,
                source: function (typeahead, query) {
                    if (query.length < 2) { return }
                    var input = $(this)[0].$element;
                    var dead = '';
                    if (input.filter('#id_fio').length) {
                        dead = '1';
                    }
                    $.ajax({
                        url: "{% url autocomplete_person %}?query=" + query + '&dead=' + dead,
                        dataType: 'json',
                        success: function(data) {
                            typeahead.process(data);
                        }
                    });
                },
                onselect: function(val) {
                    var $input = $(this)[0].$element;
                    var last_name = val.value.split(' ')[0];
                    if (!$input.is('#id_fio')) {
                        setTimeout(function() { $input.val(last_name); }, 10);
                    }
                }
            });
        });
    </script>
{% endblock %}
