{% extends "base.html" %}
{% load adminmedia %}
{% load my_filters %}

{% block title %}Документы захоронения{% endblock %}

{% block scripts %}
{{ form.media }}
    {{ form.media }}
    <link rel="stylesheet" href="/media/css/ui-lightness/jquery-ui-1.8.6.custom.css" type="text/css" />
    <link rel="stylesheet" href="/media/css/jquery-ui-timepicker.css?v=0.2.3" type="text/css" />
    <script type="text/javascript" src="/media/js/jquery.query-2.1.7.js"></script>
    <script type="text/javascript" src="/admin_media/js/admin/RelatedObjectLookups.js"></script>
    <script type="text/javascript" src="/media/js/jquery.ui.timepicker.js?v=0.2.3"></script>
    <script type="text/javascript">
        window.__admin_media_prefix__ = "{% filter escapejs %}{% admin_media_prefix %}{% endfilter %}";

        $(function() {
            $('input[name$=time]').each(function() {
                var CALENDAR_ICON = '/admin_media/img/admin/icon_calendar.gif';
                var CLOCK_IMAGE = '/admin_media/img/admin/icon_clock.gif';

                var btn_id = $(this).attr('id') + '_button';
                var img = $('<img src="'+CLOCK_IMAGE+'"/>').attr('id', btn_id).insertAfter($(this));
                $(this).css('width', '100px').timepicker({
                    showOn: "both",
                    button: "#" + btn_id,
                    hourText: 'Ч',
                    minuteText: 'М',
                    showPeriodLabels: false,
                    minutes: {
                        starts: 0,
                        ends: 45,
                        interval: 15
                    },
                    hours: {
                        starts: 8,
                        ends: 19,
                        interval: 1
                    }
                });
            });

            $(':input,textarea,select').each(function(i, el) {
                $(el).attr('tabIndex', i+1);
            })

            function setupSums() {
                $('span.sum').each(function() {
                    var count = parseFloat($(this).parents('tr').find('input[name$=count]').val());
                    var price = parseFloat($(this).parents('tr').find('input[name$=price]').val());
                    $(this).text(price * count);
                })
            }
            $('input[id$=price],input[id$=count]').change(setupSums);
            setupSums();
        })
    </script>
{% endblock %}

{% block content %}
    <div id="free_form">
    <form action="" method="post" enctype="multipart/form-data" target="_blank">
        {{ form.non_field_errors }}
        <table width="800" {% if not user|has_perm:"cemetery_app.add_serviceposition" %}style="display: none;"{% endif %}>
            <tr>
                <td colspan="6">
                    <h2>Счет-заказ</h2>
                </td>
            </tr>
            <tr>
                <td id="free_form"></td>
                <td id="free_form">Позиция</td>
                <td>Ед. изм.</td>
                <td>Кол-во</td>
                <td>Цена</td>
                <td>Стоимость</td>
            </tr>
            {{ positions_fs.management_form }}
            {% for form in positions_fs.forms %}
                <tr>
                    <td>
                        {{ form.service }}
                        {{ form.active }}{{ form.active.errors }}
                    </td>
                    <td>{{ form.initial.service }}</td>
                    <td>{{ form.initial.service.measure }}</td>
                    <td>{{ form.count }}{{ form.count.errors }}</td>
                    <td>{{ form.price }}{{ form.price.errors }}</td>
                    <td><span class="sum"></span></td>
                </tr>
            {% endfor %}
            <tr>
                <td colspan="6">
                    {{ payment_form.payment_type.label_tag }}
                    {{ payment_form.payment_type }}{{ payment_form.payment_type.errors }}
                </td>
            </tr>
            <tr>
                <td colspan="6">
                    <h2>Наряды</h2>
                </td>
            </tr>
            <tr>
                <td colspan="2">
                    {{ print_form.catafalque }}{{ print_form.catafalque.errors }}
                    {{ print_form.catafalque.label_tag }}
                </td>
                <td colspan="2">
                    {{ print_form.lifters }}{{ print_form.lifters.errors }}
                    {{ print_form.lifters.label_tag }}
                </td>
                <td colspan="2">
                    {{ print_form.graving }}{{ print_form.graving.errors }}
                    {{ print_form.graving.label_tag }}
                </td>
            </tr>
            <tr>
                <td colspan="3">
                </td>
                <td colspan="3">
                    {{ print_form.coffin_size.label_tag }}
                    {{ print_form.coffin_size }}{{ print_form.coffin_size.errors }}
                </td>
            </tr>
            <tr>
                <td colspan="6">
                    <h2>Катафалк</h2>
                </td>
            </tr>
            {% if time_check_failed %}
                <tr>
                    <td colspan="6">
                        <h3 class="error" style="border: 3px solid red;">
                            Время захоронения не попадает в промежуток между подачей и освобождением катафалка.
                            <br/>
                            <input type="checkbox" name="skip_time_check" value="on" /> все верно, так и должно быть
                        </h3>
                    </td>
                </tr>
            {% endif %}
            <tr>
                <td colspan="3">
                    {{ print_form.catafalque_route.label_tag }}
                    {{ print_form.catafalque_route }}{{ print_form.catafalque_route.errors }}
                </td>
                <td colspan="3">
                    {% if burial.time_fact %}
                        Захоронение: {{ burial.time_fact|time:"H:i" }}
                        <br/><br/>
                    {% endif %}
                    {{ print_form.catafalque_start.label_tag }}
                    {{ print_form.catafalque_start }}{{ print_form.catafalque_start.errors }}
                    <br/><br/>
                    {{ print_form.catafalque_time.label_tag }}
                    {{ print_form.catafalque_time }}{{ print_form.catafalque_time.errors }}
                </td>
            </tr>
            <tr>
                <td colspan="6">
                    {{ print_form.print_now }}{{ print_form.print_now.errors }}
                    {{ print_form.print_now.label_tag }}
                </td>
            </tr>
        </table>
        <br />
        <div {% if not user|has_perm:"cemetery_app.add_serviceposition" %}style="display: none;"{% endif %}>
            {{ print_form.add_info.label_tag }}
            {{ print_form.add_info }}{{ print_form.add_info.errors }}
        </div>
        <div>
            {{ print_form.org.label_tag }}
            {{ print_form.org }}{{ print_form.org.errors }}
        </div>
        {% if user|has_perm:"cemetery_app.add_serviceposition" %}
            <input type="submit" value="Распечатать документы" />
        {% endif %}
        {% if not burial.exhumated_date %}
            <input type="submit" name="receipt" value="Распечатать справку" />
        {% endif %}
        {% if user|has_perm:"cemetery_app.add_burial" %}
            <input type="submit" name="notification" value="Распечатать уведомление" />
            <input type="submit" name="dogovor" value="Распечатать договор отв." />
        {% endif %}
        <input type="reset" value="Отмена">
        <a href="{% url edit_burial burial.pk %}"></a>
    </form>
    </div>
{% endblock %}
