{% extends "base.html" %}

{% load i18n %}

{% block content %}
    <h1>{% trans "Захоронения" %}</h1>
    <div class="row-fluid no-print">
        <div class="span12">
            <div class="row-fluid">
                <form id="mainform" class="ugh_search_burials form-horizontal" method="get" action="">
                    {{ form.as_p }}

                    <p class="buttons">
                        <input type="submit" value="{% trans "искать" %}" class="btn btn-primary" />
                        <input type="submit" value="{% trans "печать" %}" class="btn" name="print" />
                        {% if user.profile.is_ugh and user.profile.is_admin %}
                            <input type="submit" value="{% trans "экспорт в csv" %}" class="btn" name="export_csv" onclick="return confirm('{% trans "Экспорт может быть долгим и с нагрузкой на систему." %} Начать экспорт?');"/ title="{% trans "Экспорт данных, выбранных здесь, в csv-файл. Может занять длительное время и нагрузить систему. Запускайте экспорт только если это необходимо." %}">
                        {% endif %}
                        <input type="hidden" name="sort"  value="{{ sort }}" />
                    </p>
                </form>
            </div>
        </div>
    </div>

    <p>{% trans "Найдено:" %} {{ paginator.count|default:0 }}</p>

    <table class="table table-bordered table-striped">
    {% include "burial_table.html" %}
    </table>

    {% include "paginator.html" %}

    {% if request.GET.print %}
        <script type="text/javascript">
            window.print();
        </script>
    {% endif %}
{% endblock %}