<form class='form-horizontal in-place' action="{% url new_burial_place %}" method="POST">
    <div class="well">
        Данные сохранены.
        <script type="text/javascript">
            var a  = $('<a href="{% url new_burial_customer %}?customer_type=1&agent_person={{ agent.person.pk }}&agent_director={% if agent %}{% else %}1{% endif %}&organization={{ org.pk }}" class="load link-customer">ЮЛ {{ org }}</a>');
            $('.link-customer').replaceWith(a);
            $('#id_client_organization').val('{{ org.pk|default:"" }}').change();
            $('#id_doverennost').val('{{ doverennost.pk|default:"" }}').change();
            $('#id_agent').val('{{ agent.pk|default:"" }}').change();

            $('#id_client_person').val('').change();
        </script>
    </div><!--/.well -->
</form>
