<html>
    <head>
    	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        <title>Печать</title>
        <style>
            table, td { border: 1px #ccc solid; border-collapse: collapse; }
        </style>
    </head>
    <body>
        <table width="100%" style="">
            <thead>
                <td>№</td>
                <td>ФИО</td>
                <td>Даты</td>
                <td>Св-во</td>
                <td>Время</td>
                <td>Уч</td>
                <td>Ряд</td>
                <td>Мог</td>
                <td>Кладб</td>
                <td>Резерв (зан/св)</td>
                <td>Адрес</td>
                <td>Заказчик</td>
            </thead>
    	{% for b in object_list %}
	    <tr>
	        <td>{{ b.account_number }}</td>
	        <td>
                <b> {{ b.person.last_name }}</b>
	            {{ b.person.first_name }}
	            {{ b.person.middle_name }}
	        </td>
	        <td>
                {{ b.person.birth_date|date:"d.m.Y"|default:"н.д." }} &ndash; {{ b.person.death_date|date:"d.m.Y"|default:"н.д." }}<br/>
                {{ b.date_fact|date:"d.m.Y" }}
            </td>
            <td>
                {% if b.person.deathcertificate %}
                    {{ b.person.deathcertificate.series }}
                    {{ b.person.deathcertificate.s_number }}
                    {{ b.person.deathcertificate.release_date|date:"d.m.Y" }}
                    {{ b.person.deathcertificate.zags|default:"" }}
                {% endif %}
            </td>
            <td>{{ b.time_fact|date:"H:i" }}</td>
            <td>{{ b.place.area }}</td>
	        <td>{{ b.place.row }}</td>
	        <td>
                {{ b.place.seat }}
                {% if b.place.unowned %}б/х{% endif %}
                {% if b.place.responsible %}отв{% endif %}
            </td>
	        <td>{{ b.place.cemetery.name }}</td>
	        <td>{{ b.place.rooms_occupied|default:1 }}/{{ b.place.rooms_free }}</td>
            <td>{{ b.person.address|default:"неизвестен" }}</td>
            <td>
                {% if b.client_organization %}
                    ЮЛ {{ b.client_organization }}<br/>
                    {% if b.agent %}{{ b.agent.person }}{% else %}{{ b.client_organization.ceo|default:"" }}{% endif %}
                {% else %}
                    {% if b.client_person %}
                        ФЛ {{ b.client_person }}
                    {% else %}
                    {% endif %}
                {% endif %}
            </td>
        </tr>
            {% endfor %}
        </table>
    </body>

    <script type="text/javascript">
        window.print();
    </script>
</html>
