{% extends "base.html" %}
{% load adminmedia %}
{% load my_filters %}

{% block title %}Захоронение{% endblock %}

{% block content %}
    <dl>
        <dt>Номер</dt>
        <dd>{{ burial.account_number }}</dd>
        <dt>Операция</dt>
        <dd>{{ burial.operation }}</dd>
        <dt>Место</dt>
        <dd>
            <a title="к могиле" href="{% url view_place burial.place.pk %}">Кладбище: {{ burial.place.cemetery }}, участок: {{ burial.place.area }}, место {{ burial.place.seat }}</a>
            {% if user|has_perm:"cemetery_app.add_burial"  %}
                <a class="btn btn-primary" href="{% url new_burial %}?place={{ burial.place.pk }}">Добавить родственное</a>
            {% endif %}
        </dd>
        <dt>Усопший</dt>
        <dd>
            {{ burial.person }}
            ({{ burial.person.unclear_birth_date_str }} &mdash; {{ burial.person.death_date|date:"d.m.Y" }})</dd>

        <dt>Планируемая дата</dt>
        <dd>{{ burial.date_plan }}</dd>
        <dt>Фактическая дата</dt>
        <dd>{{ burial.date_fact }}</dd>

        {% if burial.client_person %}
            <dt>Заказчик</dt>
            <dd>{{ burial.client_person }}</dd>
        {% else %}
            <dt>Заказчик</dt>
            <dd>{{ burial.client_organization }}</dd>
            {% if burial.doverennost %}
                <dt>Доверенность</dt>
                <dd>{{ burial.doverennost }}</dd>
            {% endif %}
            {% if burial.agent %}
                <dt>Агент</dt>
                <dd>{{ burial.agent }}</dd>
            {% endif %}
            {% if burial.exhumated_date %}
                <dt>Эксгумировано</dt>
                <dd>{{ burial.exhumated_date|date:'d.m.Y' }}{% if b.grave_id %}, было место {{ b.grave_id }}{% endif %}</dd>
            {% endif %}
        {% endif %}
        <dt>Создано</dt>
        <dd>{{ burial.added }} {{ burial.creator.person_set.all.0|default:burial.creator|default:"" }}</dd>
        <dt>Изменено</dt>
        <dd>{{ burial.editor.person_set.all.0|default:burial.editor|default:"" }}</dd>
    </dl>

    <p>
        <a href="{% url print_burial burial.pk %}" class="btn">Документы</a>
    </p>

    <h2>Комментарии</h2>

    <div class="row-fluid">
        {% if burial.comment_set.all %}
            <table class="burials table table-striped table-bordered">
                <thead>
                    <th>Комментарий</th>
                    <th>Файл</th>
                    <th>Добавлен</th>
                </thead>
                {% for c in burial.comment_set.all %}
                    <tr>
                        <td>{{ c.comment }}</td>
                        <td>
                            {% if c.file %}
                                <a href="{{ c.file.url }}">{{ c.file.name }}</a>
                            {% endif %}
                        </td>
                        <td>
                            {{ c.user }}
                            {{ c.added|date:"d.m.Y" }}
                            {% if user|has_perm:"cemetery_app.delete_comment" %}
                                <a title="удалить" href="{% url delete_comment c.pk %}"><i class="icon icon-trash"></i></a>
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
            </table>
        {% endif %}
        {% if user.is_authenticated %}
            <h3>Добавить</h3>

            <form action="{% url add_comment burial.pk %}" method="POST" enctype="multipart/form-data">
                {{ comment_form.as_p }}
                <p>
                    <button class="btn btn-primary btn-large">Добавить</button>
                </p>
            </form>
        {% endif %}
    </div>

{% endblock %}