<form class='form-horizontal in-place' action="{% url new_burial_place %}" method="POST">
    <div class="well">
        <h2>Место</h2>
        <p>
            {{ place_form.cemetery.label_tag }}
            {{ place_form.cemetery }}
            {{ place_form.cemetery.errors }}
        </p>
        <p>
            {{ place_form.area.label_tag }}
            {{ place_form.area }}
            {{ place_form.area.errors }}
        </p>
        <p>
            {{ place_form.row.label_tag }}
            {{ place_form.row }}
            {{ place_form.row.errors }}
        </p>
        <p>
            {{ place_form.seat.label_tag }}
            {{ place_form.seat }}
            {{ place_form.seat.errors }}
        </p>
        <p>
            Мест доступно: <span id="place_rooms">{% if place_form.instance.pk %}{{ place_form.instance.rooms }}{% else %}1 (по умолчанию){% endif %}</span>
        </p>
        <h2 class="buttons"><button class="btn">Сохранить</button></h2>
    </div><!--/.well -->
</form>
