<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="ru" lang="ru">

{% load i18n static %}

<head>
    <title>{% trans "Печать" %}</title>
    <link href="{% static 'css/print.css' %}" rel="stylesheet">
</head>

<body>
    <table width="100%" border="1" cellpadding="3" cellspacing="0">
    {% include "burial_table.html" %}
    </table>

    {% if request.GET.print %}
        <script type="text/javascript">
            window.print();
        </script>
    {% endif %}
</body>
