{% extends "base.html" %}
{% load adminmedia %}
{% load my_filters %}

{% block title %}Ввод данных{% endblock %}

{% block content %}
    <div class="row-fluid">
        <div class="span3">
            <form class='form-horizontal main-add' method="POST">
                <div class="well">
                    {{ burial_form.non_field_errors }}
                    <div class="row-fluid">
                        <h2>Захоронение</h2>
                        <p class="narrow">
                            {{ burial_form.date_fact.label_tag }}
                            {{ burial_form.date_fact }}
                            {{ burial_form.time_fact }}
                            {{ burial_form.date_fact.errors }}
                            {{ burial_form.time_fact.errors }}
                        </p>
                        <p>
                            {{ burial_form.unowned }}
                        </p>
                        <p class="narrow">
                            {{ burial_form.unowned.label_tag }}
                            {{ burial_form.unowned.errors }}
                        </p>
                    </div><!--/.well -->
                    <div class="row-fluid">
                        <h2>Усопший*</h2>
                        {{ burial_form.person }}
                        {% if burial_form.instance.person.pk %}
                            <a href="{% url new_burial_person %}?instance={{ burial_form.instance.person.pk }}&dead=1" class="load link-person">
                                {{ burial_form.instance.person }}
                            </a>
                            <script type="text/javascript">
                                $(function() {
                                    setTimeout(function() {
                                        $('.load.link-person').click();
                                    }, 100);
                                });
                            </script>
                        {% else %}
                            <a href="{% url new_burial_person %}?dead=1" class="load link-person">Новый</a>
                        {% endif %}

                        <h2>Место*</h2>
                        {{ burial_form.place }}
                        {% if burial_form.instance.place.pk %}
                            <a href="{% url new_burial_place %}?instance={{ burial_form.instance.place.pk }}" class="load link-place">
                                {{ burial_form.instance.place }}
                            </a>
                        {% else %}
                            <a href="{% url new_burial_place %}" class="load link-place">Новое</a>
                        {% endif %}

                        <br/>
                        <b>Ответственный: </b>

                        {{ burial_form.responsible }}
                        {% if burial_form.instance.place.responsible.pk %}
                            <a href="{% url new_burial_responsible %}?instance={{ burial_form.instance.place.responsible.pk }}" class="load link-responsible">
                                {{ burial_form.instance.place.responsible }}
                            </a>
                        {% else %}
                            {% if burial_form.instance.place.pk %}
                                <a href="{% url new_burial_responsible %}" class="load link-responsible">Новый</a>
                            {% else %}
                                <a href="{% url new_burial_responsible %}" class="load link-responsible"></a>
                            {% endif %}
                        {% endif %}
                        <br/>
                        <h2 class="buttons">
                            <button class="btn btn-primary btn-large" disabled="disabled">Сохранить</button>
                            {% block buttons %}
                            {% endblock %}
                        </h2>
                    </div><!--/.well -->
                </div>
            </form>
        </div><!--/span-->
        <div id="block_empty" class="block-selectable span9">
            <div class="well">
                <h2>Не выбрано</h2>
                <p>Выберите данные для редактирования слева. Пока данные не заполнены, сохранить захоронение не получится.</p>
            </div><!--/.well -->
        </div>
    </div>
{% endblock %}

