{% load i18n %}

{% if burial.area %}{% trans "Уч." %} {{ burial.area.name|default:"" }}<br/>{% endif %}
{% if burial.row %}{% trans "ряд" %} {{ burial.row }},{% endif %}
{% if burial.place_number %}{% trans "место" %} {{ burial.place_number }},{% endif %}
{% if burial.grave_number %}{% trans "могила" %} {{ burial.grave_number }}{% endif %}
<br/>
{{ burial.get_burial_type_display|default:"" }}<br />{{ burial.get_burial_container_display|default:"" }}
{% if burial.get_responsible %}
    <br/>{% trans "Отв." %}
    {% if user.profile.is_ugh %}
        {{ burial.get_responsible }}
    {% elif b.is_full and b.loru and b.loru == user.profile.org  %}
        {{ burial.get_responsible }}
    {% endif %}
{% endif %}
