{% extends "base.html" %}

{% load i18n %}

{% block content %}
    <h1>{% trans "Кладбище" %} {{ form.instance }}</h1>
    <form action="" method="POST">
        {% csrf_token %}
        {{ form.as_p }}

        <h2>{% trans "Адрес" %}</h2>
        {% with form.address_form as form %}
            {% include "location_form.html" %}
        {% endwith %}

        <h2>{% trans "Участки" %}</h2>
        {{ formset.management_form }}
        <table>
            {% for f in formset.forms %}
                {{ f.as_table }}
            {% endfor %}
        </table>
        <p>
            <input type="submit" class="btn" value="{% trans "cохранить" %}" class="btn"/>
        </p>
    </form>
{% endblock %}