{% extends "base.html" %}

{% load i18n %}

{% block content %}
    <h1>{% trans "Кладбища" %}</h1>
    <table class="table table-bordered">
        {% for c in object_list %}
            <tr>
                <td>{{ c.name }}</td>
                <td>
                    {% if user.profile.org == c.ugh %}
                        <a href="{% url manage_cemeteries_edit c.pk %}" class="btn">{% trans "править" %}</a>
                    {% endif %}
                </td>
            </tr>
        {% endfor %}
    </table>

    {% if user.profile.is_ugh %}
        <p>
            <a class="btn" href="{% url manage_cemeteries_create %}">{% trans "создать" %}</a>
        </p>
    {% endif %}
{% endblock %}