{% load i18n %}

{% if form.account_number %}
    {{ form.account_number.errors }}
    <p>{{ form.account_number.label_tag }} {{ form.account_number }}<span class="helptext">{{ form.account_number.help_text }}</span></p>
{% endif %}

{% include "applicant_form.html" %}
<script type="text/javascript">
    $(document).ready(function(){
       $("form.burial-form.main-form ul").each(function(element){
          $(this).addClass('unstyled');
       });
       $("input[name='burial_container']").change(function(){

          if($(this).val() == 'container_bio'){
             if(!$("#cont_dead").is(":hidden")){
                 $("#cont_dead").slideToggle();
             }
             if(!$("#cont_responsible_all").is(":hidden")){
                 $("#cont_responsible_all").slideToggle();
             }

          }else{
              if($("#cont_dead").is(":hidden")){
                  $("#cont_dead").slideToggle();
              }
              if($("#cont_responsible_all").is(":hidden")){
                  $("#cont_responsible_all").slideToggle();
              }
          }

       });

    {% if form.instance.pk and form.instance.is_bio %}
        if(!$("#cont_dead").is(":hidden")){
            $("#cont_dead").slideToggle();
        }
        if(!$("#cont_responsible_all").is(":hidden")){
            $("#cont_responsible_all").slideToggle();
        }
    {% endif %}
    });
</script>
{% if global_context_ARE_LORUS_IN_SYSTEM and request.user.profile.is_ugh and not request.REQUEST.archive and not form.instance.is_archive %}
    {% if form.instance.is_full or form.instance.is_transferred %}
        <h2>{% trans "Посредник" %}</h2>
        <p><big>
        {% if form.instance.loru %}
            {{ form.instance.loru.name }}
        {% else %}
            ({% trans "не указан" %})
        {% endif %}
        </big></p>
    {% else %}
        <h2>{% trans "Посредник" %} <span id="loru_title">{{ form.instance.loru|default_if_none:"" }}</span></h2>
        <a href="#" onclick="return contShowHide('#cont_loru', '#a_cont_loru', '{% trans 'развернуть' %}', '{% trans 'свернуть' %}');"
        class="slider" data-id="cont_loru" id="a_cont_loru">{% trans "развернуть" %}</a>
        <div id="cont_loru" style="display: none">
            <br />
            {{ form.loru.errors }}
            {{ form.loru }}<span class="helptext">{{ form.loru.help_text }}</span>
            <p class="inline">
                <a href="#add_loru" role="button" class="btn btn-loru" data-toggle="modal">
                    {% trans "добавить ЛОРУ" %}
                </a>
            </p>
            
            <h3>{% trans "Агент" %}</h3>

            {{ form.loru_agent_director.errors }}
            <p>{{ form.loru_agent_director.label_tag }} {{ form.loru_agent_director }}<span class="helptext">{{ form.loru_agent_director.help_text }}</span></p>

            <div class="inline">
                {{ form.loru_agent.errors }}
                {{ form.loru_agent.label_tag }} {{ form.loru_agent }}<span class="helptext">{{ form.loru_agent.help_text }}</span>
                <p>
                    <a href="#add_loru_agent" role="button" class="btn btn-loru_agent" data-toggle="modal">
                        {% trans "добавить агента" %}
                    </a>
                </p>
            </div>

            <div class="inline">
                {{ form.loru_dover.errors }}
                {{ form.loru_dover.label_tag }} {{ form.loru_dover }}<span class="helptext">{{ form.loru_dover.help_text }}</span>
                <p>
                    <a href="#add_loru_dover" role="button" class="btn btn-loru_dover" data-toggle="modal">
                        {% trans "добавить доверенность" %}
                    </a>
                </p>
            </div>
            <br/>
        </div>
    {% endif %}
{% endif %}
{{ form.burial_container.errors }}
<h2>{{ form.burial_container.label}}</h2>
<table cellpadding="2">
    <tr>
        <td style="background:#eeeeee;">
            <div id="burial_container">
                <p>{{ form.burial_container }}<span class="helptext">{{ form.burial_container.help_text }}</span></p>
            </div>
            {{ form.burial_type.errors }}
        </td>
    </tr>
</table>
<h2>{{ form.burial_type.label}}</h2>
<table cellpadding="2">
    <tr>
        <td style="background:#eeeeee;">
            <div id="burial_type">
                <p>{{ form.burial_type }}<span class="helptext">{{ form.burial_type.help_text }}</span></p>
            </div>
        </td>
    </tr>
</table>
<!-- <div id="cont_dead" style="{% if form.instance.pk %}display: none{% endif %}"> -->
<div id="cont_dead">
    <h2>{% trans "Усопший" %} {{ form.deadman_form.instance|default:"" }}</h2>
        {{ form.deadman_form.last_name.errors }}
        <p class="inline">{{ form.deadman_form.last_name.label_tag }} {{ form.deadman_form.last_name }}<span class="helptext">{{ form.deadman_form.last_name.help_text }}</span></p>

        {{ form.deadman_form.first_name.errors }}
        <p class="inline">{{ form.deadman_form.first_name.label_tag }} {{ form.deadman_form.first_name }}<span class="helptext">{{ form.deadman_form.first_name.help_text }}</span></p>

        {{ form.deadman_form.middle_name.errors }}
        <p class="inline">{{ form.deadman_form.middle_name.label_tag }} {{ form.deadman_form.middle_name }}<span class="helptext">{{ form.deadman_form.middle_name.help_text }}</span></p>

        <br/>
        {% if global_context_DEADMAN_IDENT_NUMBER_ALLOW %}
            {{ form.deadman_form.ident_number.errors }}
            <p>{{ form.deadman_form.ident_number.label_tag }} {{ form.deadman_form.ident_number }}<span class="helptext">{{ form.deadman_form.ident_number.help_text }}</span></p>
        {% endif %}

        {{ form.deadman_form.birth_date.errors }}
        <p class="inline">{{ form.deadman_form.birth_date.label_tag }} {{ form.deadman_form.birth_date }}<span class="helptext">{{ form.deadman_form.birth_date.help_text }}</span></p>
        &nbsp;&nbsp;

        {{ form.deadman_form.death_date.errors }}
        <p class="inline">{{ form.deadman_form.death_date.label_tag }} {{ form.deadman_form.death_date }}<span class="helptext">{{ form.deadman_form.death_date.help_text }}</span></p>

        <script type="text/javascript">
            function setDeathDate(isLoru) {
                var dDeath = new Date();
                {% comment %}
                    К лору обычно приходят родственники усопших в тот же день,
                    в ОМС чаще приходят родственники или на кладбище хоронят тех, кто умер вчера
                {% endcomment %}
                if (isLoru.toLowerCase() == 'false') {
                    dDeath.setDate(dDeath.getDate() - 1);
                }
                var year = dDeath.getFullYear();
                var month = dDeath.getMonth() + 1;
                var day = dDeath.getDate();
                $('#id_deadman-death_date_year').val(year);
                $('#id_deadman-death_date_month option:selected').removeAttr('selected');
                $('#id_deadman-death_date_month option[value="'+ month +'"]').attr('selected', 'selected');
                $('#id_deadman-death_date_day option:selected').removeAttr('selected');
                $('#id_deadman-death_date_day option[value="'+ day +'"]').attr('selected', 'selected');
                $('#deadman_btn_today').hide();
            }
        </script>

        <p class="inline-button">
            <input type="button" class="btn" value="{% if request.user.profile.is_loru %}{% trans "сегодня" %}{% else %}{% trans "вчера" %}{% endif %}" onclick="setDeathDate('{{ request.user.profile.is_loru }}')" id="deadman_btn_today" />
        </p>

        <h3>{% trans "Адрес" %}</h3>
        <a href="#" onclick="return contShowHide('#cont_deadman_address', '#a_cont_deadman_address', '{% trans 'развернуть' %}', '{% trans 'свернуть' %}');"
            class="slider" data-id="cont_deadman_address" id="a_cont_deadman_address">{% if not request.user.profile.org.hide_deadman_address or form.deadman_address_form.errors %}{% trans "свернуть" %}{% else %}{% trans "развернуть" %}{% endif %}</a>
        <div id="cont_deadman_address" {% if request.user.profile.org.hide_deadman_address and not form.deadman_address_form.errors %}style="display: none"{% endif %}>
            <div class="form_block">
                {% with form.deadman_address_form as form %}
                    {% include "location_form.html" %}
                {% endwith %}
            </div>
        </div>
        <div id="show_deathcertificate" >
            <h3>{% trans "Документ о смерти" %}</h3>
            {% with form.dc_form as form %}
                {% include "deathcertificate.html" %}
            {% endwith %}
        </div>
</div>

<h2>{% trans "Место" %}: {{ form.instance.get_place|default:"" }}</h2>
<!-- <div id="cont_place" style="{% if form.instance.pk %}display: none{% endif %}"> -->
<div id="cont_place">
    {{ form.cemetery.errors }}
    <p class="inline">{{ form.cemetery.label_tag }} {{ form.cemetery }}<span class="helptext">{{ form.cemetery.help_text }}</span></p>

    {{ form.area.errors }}
    <p class="inline">{{ form.area.label_tag }} {{ form.area }}<span class="helptext">{{ form.area.help_text }}</span></p>

    {{ form.row.errors }}
    <p class="inline">{{ form.row.label_tag }} {{ form.row }}<span class="helptext">{{ form.row.help_text }}</span></p>

    {{ form.place_number.errors }}
    <p class="inline">{{ form.place_number.label_tag }} {{ form.place_number }}<span class="helptext">{{ form.place_number.help_text }}</span></p>

    {{ form.grave_number.errors }}
    <p class="inline">{{ form.grave_number.label_tag }} {{ form.grave_number }}<span class="helptext">{{ form.grave_number.help_text }}</span></p>

    <p></p>
    {{ form.desired_graves_count.errors }}
    <p class="inline">{{ form.desired_graves_count.label_tag }} {{ form.desired_graves_count }}<span class="helptext">{{ form.desired_graves_count.help_text }}</span></p>

    {{ form.place_length.errors }}
    <p class="inline">{{ form.place_length.label_tag }} {{ form.place_length }}<span class="helptext">{{ form.place_length.help_text }}</span></p>

    {{ form.place_width.errors }}
    <p class="inline">{{ form.place_width.label_tag }} {{ form.place_width }}<span class="helptext">{{ form.place_width.help_text }}</span></p>

    <p id="place_info"></p>

    {% if form.plan_date %}
        <input type="hidden" name="year_over_days"  value="{{ global_context_YEAR_OVER_DAYS }}" />
        {{ form.plan_date.errors }}
        <p class="inline">{{ form.plan_date.label_tag }} {{ form.plan_date }}<span class="helptext">{{ form.plan_date.help_text }}</span></p>
    {% endif %}

    {% if form.plan_time %}
        {{ form.plan_time.errors }}
        <p class="inline">{{ form.plan_time.label_tag }} {{ form.plan_time }}<span class="helptext">{{ form.plan_time.help_text }}</span></p>
    {% endif %}

    {% if form.fact_date %}
        {{ form.fact_date.errors }}
        <p class="inline">{{ form.fact_date.label_tag }} {{ form.fact_date }}<span class="helptext">{{ form.fact_date.help_text }}</span></p>
    {% endif %}

</div>

<div id="cont_responsible_all">
    <h2>
        {% trans "Ответственный" %}
    </h2>
    <p><big>{{ form.responsible_form.instance|default:"" }}</big></p>

{% if form.instance.responsible or form.responsible_form.errors or form.responsible_form.is_filled or form.responsible_address_form.is_valid_data %}
    <a href="#" onclick="return contShowHide('#cont_responsible', '#a_cont_responsible', '{% trans 'развернуть' %}', '{% trans 'свернуть' %}');"
        class="slider" data-id="cont_responsible" id="a_cont_responsible">{% trans "свернуть" %}</a>
        <div id="cont_responsible">
{% else %}
    <a href="#" onclick="return contShowHide('#cont_responsible', '#a_cont_responsible', '{% trans 'развернуть' %}', '{% trans 'свернуть' %}');"
        class="slider" data-id="cont_responsible" id="a_cont_responsible">{% trans "развернуть" %}</a>
        <div id="cont_responsible" style="display: none">
{% endif %}
        {% if form.responsible_form.take_from %}
            {{ form.responsible_form.take_from.errors }}
            <p>{{ form.responsible_form.take_from.label_tag }} {{ form.responsible_form.take_from }}<span class="helptext">{{ form.responsible_form.take_from.help_text }}</span></p>
        {% endif %}

        {{ form.responsible_form.last_name.errors }}
        <p>{{ form.responsible_form.last_name.label_tag }} {{ form.responsible_form.last_name }}<span class="helptext">{{ form.responsible_form.last_name.help_text }}</span></p>

        {{ form.responsible_form.first_name.errors }}
        <p>{{ form.responsible_form.first_name.label_tag }} {{ form.responsible_form.first_name }}<span class="helptext">{{ form.responsible_form.first_name.help_text }}</span></p>

        {{ form.responsible_form.middle_name.errors }}
        <p>{{ form.responsible_form.middle_name.label_tag }} {{ form.responsible_form.middle_name }}<span class="helptext">{{ form.responsible_form.middle_name.help_text }}</span></p>

        {% if form.responsible_form.login_phone_ and global_context_CREATE_CABINET_ALLOW %}
            {{ form.responsible_form.login_phone_.errors }}
            <p>
            {{ form.responsible_form.login_phone_.label_tag }}
            {% if not form.instance or form.instance.is_draft %}
                {% if request.user.profile.is_ugh %}
                    <span style="color:blue">{% trans "Пожалуйста, предупредите, что придет СМС" %}</span>
                {% endif %}
                <span style="display: none" id="login_phone_hint_all">
                    <br />
                    <span style="color:red;" id="login_phone_hint">
                        {% trans "Неверный номер телефона в международном формате" %}
                    </span>
                </span>
            {% endif %}
            </p>
            {{ form.responsible_form.login_phone_ }}<span class="helptext">{{ form.responsible_form.login_phone_.help_text }}</span></p>
        {% endif %}

        {{ form.responsible_form.phones.errors }}
        <p>{{ form.responsible_form.phones.label_tag }} {{ form.responsible_form.phones }}<span class="helptext">{{ form.responsible_form.phones.help_text }}</span></p>

        {% if form.responsible_form.is_inbook_ and request.user.profile.is_ugh %}
            {{ form.responsible_form.is_inbook_.errors }}
            <p>{{ form.responsible_form.is_inbook_.label_tag }} {{ form.responsible_form.is_inbook_ }}<span class="helptext">{{ form.responsible_form.is_inbook_.help_text }}</span></p>
        {% endif %}

        {# hidden responsible_form fields #}
            {{ form.responsible_form.place }}
            {{ form.responsible_form.order }}

        <div id="cont_responsible_address">
            <h3>{% trans "Адрес" %}</h3>
            <div class="form_block">
                {% with form.responsible_address_form as form %}
                    {% include "location_form.html" %}
                {% endwith %}
            </div>
        </div>
    </div>
</div>

<br />
<h2>{% trans "Файлы" %}</h2>
{% for f in b.burialfiles_set.all %}
    <b>{{ forloop.counter }}.</b>&nbsp;
    <a href="/media/{{ f.bfile }}">открыть</a>
    <a href="/burialfiles/{{ f.pk }}/delete/" onclick="return confirm('{% trans "Вы уверены?" %}');">удалить</a>&nbsp;&nbsp; 
    <small>Описание:</small> <b>{{ f.comment|default:"(без описания)" }}</b>
    <br /> &nbsp;&nbsp;&nbsp;&nbsp;
    <a href="/burialfiles/{{ f.pk }}/editcomment/" target="_self">редактировать описание</a>
    <br /> &nbsp;&nbsp;&nbsp;&nbsp;
    <small><i>{{ f.creator.profile.org }} / {{ f.creator }}</i>, {{ f.date_of_creation }}</small><br /><br />
{%  endfor %}
<h4>{% trans "Новый:" %}</h4>
&nbsp; макс. {{ form.bfiles_form.MAX_UPLOAD_SIZE_MB }} Мб.
{{ form.bfiles_form.as_p }}

<h2>{% trans "Комментарий" %}</h2>
{{ form.comment_form.as_p }}
