{% extends "base.html" %}

{% load i18n %}

{% block content %}
    {% block form_title %}<h1>
        {% if request.GET.archive %}
            {% trans "Архивное захоронение" %}
        {% else %}
            {% trans "Новое захоронение" %}
        {% endif %}
    </h1>{% endblock form_title %}
    <form action="{{ request.path }}" method="POST" class="burial-form">
        {% csrf_token %}
        <input type="hidden" name="order"  value="{{ request.REQUEST.order }}" />
        <input type="hidden" name="archive"  value="{{ request.REQUEST.archive }}" />
        {{ form.as_p }}
        {% if user.profile.is_ugh %}
            <p>
                <a href="#add_agent" role="button" class="btn btn-agent" data-toggle="modal">
                    {% trans "добавить агента" %}
                </a>
            </p>
            <p>
                <a href="#add_dover" role="button" class="btn btn-dover" data-toggle="modal">
                    {% trans "добавить доверенность" %}
                </a>
            </p>
        {% endif %}
        <h2>{% trans "Усопший" %} {{ form.deadman_form.instance|default:"" }}</h2>
        <a href="#" onclick="$('#cont_dead').slideToggle(); return false">{% trans "развернуть" %}</a>
        <div id="cont_dead" style="display: none">
            {{ form.deadman_form.as_p }}
            <h3>{% trans "Адрес" %}</h3>
            <div class="form_block">
                {{ form.deadman_address_form.as_p }}
            </div>
            <h3>{% trans "Свидетельство о смерти" %}</h3>
            {{ form.dc_form.as_p }}
        </div>
        <h2>{% trans "Ответственный" %} {{ form.responsible_form.instance|default:"" }}</h2>
        <a href="#" onclick="$('#cont_responsible').slideToggle(); return false">{% trans "развернуть" %}</a>
        <div id="cont_responsible" style="display: none">
            {{ form.responsible_form.as_p }}
            <h3>{% trans "Адрес" %}</h3>
            <div class="form_block">
                {{ form.responsible_address_form.as_p }}
            </div>
        </div>
        {% if user.profile.is_ugh %}
            <div id="applicant_form_block">
                <h2>{% trans "Заявитель" %} {{ form.applicant_form.instance|default:"" }}</h2>
                <a href="#" onclick="$('#cont_applicant').slideToggle(); return false">{% trans "развернуть" %}</a>
                <div id="cont_applicant" style="display: none">
                    {{ form.applicant_form.as_p }}
                    <h3>{% trans "Адрес" %}</h3>
                    <div class="form_block">
                        {{ form.applicant_address_form.as_p }}
                    </div>
                    <h3>{% trans "Удостоверение личности" %}</h3>
                    <div class="form_block">
                        {{ form.applicant_id_form.as_p }}
                    </div>
                </div>
            </div>
        {% endif %}
        {% block buttons %}
            <p>
                <input type="submit" class="btn btn-primary btn-commit-burial" value="{% trans "cохранить" %}"/>
                {% if not b.is_finished %}
                    {% if user.profile.is_ugh and b.is_archive or request.REQUEST.archive %}
                        <input type="submit" class="btn btn-commit-burial" name="complete" value="{% trans "cохранить и закрыть" %}"/>
                    {% elif b.pk and b.is_ugh_only %}
                        <input type="submit" class="btn btn-commit-burial" name="approve" value="{% trans "cохранить и согласовать" %}"/>
                    {% elif not b.pk and user.profile.is_ugh %}
                        <input type="submit" class="btn btn-commit-burial" name="approve" value="{% trans "cохранить и согласовать" %}"/>
                    {% else %}
                        <input type="submit" class="btn btn-commit-burial" name="ready" value="{% trans "cохранить и отправить на согласование" %}"/>
                    {% endif %}
                {% endif %}
            </p>
        {% endblock buttons %}
    </form>

    <div id="add_agent" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="{% trans "добавить агента" %}" aria-hidden="true">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            <h3 id="myModalLabel">{% trans "Добавить агента" %}</h3>
        </div>
        <div class="modal-body">
            <form>
                {{ agent_form.as_p }}
                <h3>{% trans "Доверенность" %}</h3>
                {{ agent_dover_form.as_p }}
            </form>
        </div>
        <div class="modal-footer">
            <button class="btn" data-dismiss="modal" aria-hidden="true">{% trans "закрыть" %}</button>
            <button class="btn btn-primary">{% trans "добавить" %}</button>
        </div>
    </div>

    <div id="add_dover" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="{% trans "добавить доверенность" %}" aria-hidden="true">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            <h3 id="myModalLabel">{% trans "Добавить доверенность" %}</h3>
        </div>
        <div class="modal-body">
            <form>
                {{ dover_form.as_p }}
            </form>
        </div>
        <div class="modal-footer">
            <button class="btn" data-dismiss="modal" aria-hidden="true">{% trans "закрыть" %}</button>
            <button class="btn btn-primary">{% trans "добавить" %}</button>
        </div>
    </div>

    <script type="text/javascript">
        CEMETERY_AREAS = {{ form.cemetery_areas_json }};
        CEMETERY_TIMES = {{ form.cemetery_times_json }};
        AGENT_DOVER = {{ form.agent_dover_json }};
        LORU_AGENTS = {{ form.loru_agents_json }};
    </script>
{% endblock %}