{% load i18n %}

<div class="well">
    <h2>{% trans "Место найдено" %}</h2>

    <h3>{{ place }}</h3>

    {% if user.profile.is_ugh %}
        <p><a href="{% url view_place place.pk %}">{% trans "карточка" %}</a></p>
    {% endif %}

    <dl>
        <dt>{% trans "Могил" %}</dt>
        <dd>
            {{ place.get_places_count }}
            ({% trans "свободно" %} {{ place.get_available_count }})
        </dd>
        {% if place.responsible %}
            <dt>{% trans "Ответственный" %}</dt>
            <dd>{{ place.responsible }}</dd>
        {% endif %}
    </dl>

    <h3>{% trans "Усопшие" %}</h3>
    <ul>
        {% for b in place.burial_set.all %}
            <li>
                {{ b.grave_number }} &mdash;
                {{ b.get_burial_type_display }} &mdash;
                {% if user.profile.is_loru and b.is_full %}
                    <a href="{% url view_burial b.pk %}">{{ b.deadman|default:"Неизвестный" }}</a>
                {% elif user.profile.is_ugh and b.cemetery.ugh == user.profile.org %}
                    <a href="{% url view_burial b.pk %}">{{ b.deadman|default:"Неизвестный" }}</a>
                {% else %}
                    {{ b.deadman|default:"Неизвестный" }}
                {% endif %}
            </li>
        {% endfor %}
    </ul>

    <script type="text/javascript">
        var options = '';
        for (var i=1; i<={{ place.get_places_count }}; i++) {
            options += '<option value="'+i+'">'+i+'</option>';
        }
        $('#id_grave_number').html(options);
        $('#id_grave_number').val(old_grave_value);
        $('#id_responsible-place').val({{ place.pk }});

        var resp_id = '#id_responsible-take_from_';
        $(resp_id+'0').closest('li').show();
        if (!$(resp_id+'1').is(':checked') && !$(resp_id+'2').is(':checked')) {
            $(resp_id+'0').attr('checked', 'checked');
        }
    </script>
</div>