{% load i18n %}

<div class="well">
    <h2>{% trans "Место найдено" %}</h2>

    <h3>{{ place }}</h3>

    <dl>
        {% if place.responsible %}
            <dt>{% trans "Ответственный" %}</dt>
            <dd>{{ place.responsible }}</dd>
        {% endif %}
    </dl>

    <h3>{% trans "Усопшие" %}</h3>
    <ul>
        {% for b in place.burial_set.all %}
            <li>{{ b.get_burial_type_display }} &mdash; <a href="{% url view_burial b.pk %}">{{ b.deadman|default:"Неизвестный" }}</a></li>
        {% endfor %}
    </ul>

    <script type="text/javascript">
        var options = '';
        for (var i=1; i<={{ place.places_count }}; i++) {
            options += '<option value="'+i+'">'+i+'</option>';
        }
        $('#id_grave_number').html(options);
    </script>
</div>