{% load i18n %}

{% if b and b.pk %}
    <div id="make_spravka" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="{% trans "Справка" %}" aria-hidden="true">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            <h3 id="myModalLabel">{% trans "Справка" %}</h3>
        </div>
        <div class="modal-body">
            <form autocomplete="on">
                {{ spravka_form.as_p }}
            </form>
        </div>
        <div class="modal-footer">
            <button class="btn" data-dismiss="modal" aria-hidden="true">{% trans "отмена" %}</button>
                <a class="btn btn-primary" href="{% url make_spravka b.pk %}" target="_blank">{% trans "создать" %}</a>
        </div>
    </div>
{% endif %}

<div id="add_org" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="{% trans "добавить юрлицо" %}" aria-hidden="true">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h3 id="myModalLabel">{% trans "Добавить юрлицо" %}</h3>
    </div>
    <div class="modal-body">
        <form>
            {% csrf_token %}
            {{ org_form.as_p }}
        </form>
    </div>
    <div class="modal-footer">
        <button class="btn" data-dismiss="modal" aria-hidden="true">{% trans "закрыть" %}</button>
        <button class="btn btn-primary">{% trans "добавить" %}</button>
    </div>
</div>

<div id="add_zags" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="{% trans "добавить ЗАГС" %}" aria-hidden="true">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h3 id="myModalLabel">{% trans "Добавить ЗАГС" %}</h3>
    </div>
    <div class="modal-body">
        <form>
            {% csrf_token %}
            {{ zags_form.as_p }}
        </form>
    </div>
    <div class="modal-footer">
        <button class="btn" data-dismiss="modal" aria-hidden="true">{% trans "закрыть" %}</button>
        <button class="btn btn-primary">{% trans "добавить" %}</button>
    </div>
</div>

<div id="add_medic" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="{% trans "добавить мед. учреждение" %}" aria-hidden="true">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h3 id="myModalLabel">{% trans "Добавить мед. учреждение" %}</h3>
    </div>
    <div class="modal-body">
        <form>
            {% csrf_token %}
            {{ medic_form.as_p }}
        </form>
    </div>
    <div class="modal-footer">
        <button class="btn" data-dismiss="modal" aria-hidden="true">{% trans "закрыть" %}</button>
        <button class="btn btn-primary">{% trans "добавить" %}</button>
    </div>
</div>

<div id="add_loru" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="{% trans "добавить ЛОРУ" %}" aria-hidden="true">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h3 id="myModalLabel">{% trans "Добавить ЛОРУ" %}</h3>
    </div>
    <div class="modal-body">
        <form>
            {% csrf_token %}
            {{ loru_form.as_p }}
        </form>
    </div>
    <div class="modal-footer">
        <button class="btn" data-dismiss="modal" aria-hidden="true">{% trans "закрыть" %}</button>
        <button class="btn btn-primary">{% trans "добавить" %}</button>
    </div>
</div>

<div id="add_agent" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="{% trans "добавить агента" %}" aria-hidden="true">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h3 id="myModalLabel">{% trans "Добавить агента" %}</h3>
    </div>
    <div class="modal-body">
        <form>
            {% csrf_token %}
            {{ agent_form.as_p }}
            <h3>{% trans "Доверенность" %}</h3>
            {{ agent_dover_form.as_p }}
        </form>
    </div>
    <div class="modal-footer">
        <button class="btn" data-dismiss="modal" aria-hidden="true">{% trans "закрыть" %}</button>
        <button class="btn btn-primary">{% trans "добавить" %}</button>
    </div>
</div>

<div id="add_loru_agent" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="{% trans "добавить агента" %}" aria-hidden="true">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h3 id="myModalLabel">{% trans "Добавить агента" %}</h3>
    </div>
    <div class="modal-body">
        <form>
            {% csrf_token %}
            {{ loru_agent_form.as_p }}
            <h3>{% trans "Доверенность" %}</h3>
            {{ loru_agent_dover_form.as_p }}
        </form>
    </div>
    <div class="modal-footer">
        <button class="btn" data-dismiss="modal" aria-hidden="true">{% trans "закрыть" %}</button>
        <button class="btn btn-primary">{% trans "добавить" %}</button>
    </div>
</div>

<div id="add_dover" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="{% trans "добавить доверенность" %}" aria-hidden="true">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h3 id="myModalLabel">{% trans "Добавить доверенность" %}</h3>
    </div>
    <div class="modal-body">
        <form>
            {% csrf_token %}
            {{ dover_form.as_p }}
        </form>
    </div>
    <div class="modal-footer">
        <button class="btn" data-dismiss="modal" aria-hidden="true">{% trans "закрыть" %}</button>
        <button class="btn btn-primary">{% trans "добавить" %}</button>
    </div>
</div>

<div id="add_loru_dover" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="{% trans "добавить доверенность" %}" aria-hidden="true">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h3 id="myModalLabel">{% trans "Добавить доверенность" %}</h3>
    </div>
    <div class="modal-body">
        <form>
            {% csrf_token %}
            {{ loru_dover_form.as_p }}
        </form>
    </div>
    <div class="modal-footer">
        <button class="btn" data-dismiss="modal" aria-hidden="true">{% trans "закрыть" %}</button>
        <button class="btn btn-primary">{% trans "добавить" %}</button>
    </div>
</div>

<div id="add_doctype" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="{% trans "добавить тип документа" %}" aria-hidden="true">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h3 id="myModalLabel">{% trans "Добавить тип документа" %}</h3>
    </div>
    <div class="modal-body">
        <form>
            {% csrf_token %}
            {{ doc_type_form.as_p }}
        </form>
    </div>
    <div class="modal-footer">
        <button class="btn" data-dismiss="modal" aria-hidden="true">{% trans "закрыть" %}</button>
        <button class="btn btn-primary">{% trans "добавить" %}</button>
    </div>
</div>

<div id="add_graves" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="{% trans "добавить/удалить могилы" %}" aria-hidden="true">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h3 id="myModalLabel">{% trans "Добавить/удалить могилы" %}</h3>
    </div>
    <div class="modal-body">
        <form>
            {% csrf_token %}
            <table cellpadding="5" cellspacing="5">
                <tr>
                    <td>{% trans "Последняя занятая могила в месте" %}:</td>
                    <td>
                        &nbsp;&nbsp;<span id="add_graves_last_occupied_grave_number"></span>
                    </td>
                </tr>
                <tr>
                    <td><b>{% trans "Могил в месте" %}:</b></td>
                    <td>
                        &nbsp;&nbsp;<b><span id="add_graves_graves_count"></span></b>
                    </td>
                </tr>
                <tr>
                    <td>&nbsp;</td>
                </tr>
                <tr>
                    <td>{{ add_graves_form.place_grave_choice.errors }}{{ add_graves_form.place_grave_choice.label_tag }}</td>
                    <td>{{ add_graves_form.place_grave_choice }}</td>
                    <td><span class="helptext">{{ add_graves_form.place_grave_choice.help_text }}</span></td>
                </tr>
            </table>
        </form>
    </div>
    <div class="modal-footer">
        <button class="btn" data-dismiss="modal" aria-hidden="true">{% trans "отменить" %}</button>
        <button class="btn btn-primary">{% trans "сохранить" %}</button>
    </div>
</div>
