{% extends "base.html" %}

{% load i18n %}

{% block content %}
    {% if order %}
        {% with order=order tab="burial" %}
            {% include "order_nav.html" %}
        {% endwith %}
    {% endif %}

    {% block form_title %}<h1>
        {% if request.GET.archive %}
            {% trans "Архивное захоронение" %}
        {% else %}
            {% trans "Новое захоронение" %}
        {% endif %}
    </h1>{% endblock form_title %}
    <form action="{{ request.path }}" method="POST" class="burial-form">
        {% csrf_token %}
        <input type="hidden" name="order"  value="{{ request.REQUEST.order }}" />
        <input type="hidden" name="archive"  value="{{ request.REQUEST.archive }}" />
        <input type="hidden" name="place_id"  value="{{ request.REQUEST.place_id }}" />

        {% if user.profile.is_ugh and form.instance.is_archive %}
            <p>{% trans "Статус:" %} {{ form.instance.get_status_display }}</p>
        {% endif %}

        {{ form.non_field_errors }}

        <h2>{% trans "Усопший" %} {{ form.deadman_form.instance|default:"" }}</h2>
        <a href="#" onclick="$('#cont_dead').slideToggle(); return false">{% trans "развернуть" %}</a>
        <div id="cont_dead" style="display: none">
            {{ form.deadman_form.as_p }}
            <h3>{% trans "Адрес" %}</h3>
            <div class="form_block">
                {% with form.deadman_address_form as form %}
                    {% include "location_form.html" %}
                {% endwith %}
            </div>
            <h3>{% trans "Свидетельство о смерти" %}</h3>
            {{ form.dc_form.as_p }}
        </div>

        {% include "create_burial_main_form.html" %}

        {% block buttons %}
            <p class="clear">
                <input type="submit" class="btn btn-primary btn-commit-burial" value="{% trans "cохранить" %}"/>
                {% if not b.is_finished %}
                    {% if user.profile.is_ugh and b.is_archive or request.REQUEST.archive %}
                        <input type="submit" class="btn btn-commit-burial" name="complete" value="{% trans "cохранить и закрыть" %}"/>
                    {% elif b.pk and b.is_ugh_only %}
                        <input type="submit" class="btn btn-commit-burial" name="approve" value="{% trans "cохранить и согласовать" %}"/>
                    {% elif not b.pk and user.profile.is_ugh %}
                        <input type="submit" class="btn btn-commit-burial" name="approve" value="{% trans "cохранить и согласовать" %}"/>
                    {% else %}
                        <input type="submit" class="btn btn-commit-burial" name="ready" value="{% trans "cохранить и отправить на согласование" %}"/>
                    {% endif %}
                {% endif %}
            </p>
        {% endblock buttons %}
    </form>

    {% include "create_burial_popups.html" %}

    <script type="text/javascript">
        PLACE_TYPES = {{ form.cemetery_placing_json|default:"{}" }};
        CEMETERY_AREAS = {{ form.cemetery_areas_json|default:"{}" }};
        CEMETERY_TIMES = {{ form.cemetery_times_json|default:"{}" }};
        AGENT_DOVER = {{ form.agent_dover_json|default:"{}" }};
        LORU_AGENTS = {{ form.loru_agents_json|default:"{}" }};
    </script>
{% endblock %}