{% extends "base.html" %}

{% load i18n %}

{% block content %}
    <h1>{% trans "Усопший к заявке" %} {{ br.pk }}</h1>
    <form action="" method="POST">
        {% csrf_token %}
        {{ form.as_p }}
        <h2>{% trans "Адрес" %}<h2>
        <div class="form_block">
            {{ addr_form.as_p }}
        </div>
        <h2>{% trans "Свидетельство о смерти" %}<h2>
        {{ dc_form.as_p }}
        <p>
            <input type="submit" class="btn" value="{% trans "Сохранить и прикрепить" %}"/>
        </p>
    </form>
{% endblock %}