{% extends "base.html" %}

{% load i18n %}

{% block content %}
    <h1>{% trans "К исполнению" %}</h1>
    <table class="table table-bordered">
        <tr>
            <th>
                {% if sort == '-pk' %}
                    {% if sort == '-pk' %}<i class="icon icon-arrow-down"></i>{% endif %}
                    <a href="?{{ GET_PARAMS }}&sort=pk">{% trans "Номер" %}</a>
                {% else %}
                    {% if sort == 'pk' %}<i class="icon icon-arrow-up"></i>{% endif %}
                    <a href="?{{ GET_PARAMS }}&sort=-pk">{% trans "Номер" %}</a>
                {% endif %}
            </th>
            <th>
                {% if sort == 'account_number' %}
                    {% if sort == 'account_number' %}<i class="icon icon-arrow-up"></i>{% endif %}
                    <a href="?{{ GET_PARAMS }}&sort=-account_number">{% trans "Номер в книге" %}</a>
                {% else %}
                    {% if sort == '-account_number' %}<i class="icon icon-arrow-down"></i>{% endif %}
                    <a href="?{{ GET_PARAMS }}&sort=account_number">{% trans "Номер в книге" %}</a>
                {% endif %}
            </th>
            {% if user.profile.is_ugh %}
                <th>
                    {% if sort == 'applicant' %}
                        {% if sort == 'applicant' %}<i class="icon icon-arrow-up"></i>{% endif %}
                        <a href="?{{ GET_PARAMS }}&sort=-applicant">{% trans "Заявитель" %}</a>
                    {% else %}
                        {% if sort == '-applicant' %}<i class="icon icon-arrow-down"></i>{% endif %}
                        <a href="?{{ GET_PARAMS }}&sort=applicant">{% trans "Заявитель" %}</a>
                    {% endif %}
                </th>
            {% endif %}
            <th>
                {% if sort == 'cemetery' %}
                    {% if sort == 'cemetery' %}<i class="icon icon-arrow-up"></i>{% endif %}
                    <a href="?{{ GET_PARAMS }}&sort=-cemetery">{% trans "Кладбище" %}</a>
                {% else %}
                    {% if sort == '-cemetery' %}<i class="icon icon-arrow-down"></i>{% endif %}
                    <a href="?{{ GET_PARAMS }}&sort=cemetery">{% trans "Кладбище" %}</a>
                {% endif %}
            </th>
            <th>
                {% if sort == 'place' %}
                    {% if sort == 'place' %}<i class="icon icon-arrow-up"></i>{% endif %}
                    <a href="?{{ GET_PARAMS }}&sort=-place">{% trans "Место" %}</a>
                {% else %}
                    {% if sort == '-place' %}<i class="icon icon-arrow-down"></i>{% endif %}
                    <a href="?{{ GET_PARAMS }}&sort=place">{% trans "Место" %}</a>
                {% endif %}
            </th>
            <th>
                {% if sort == 'fio' %}
                    {% if sort == 'fio' %}<i class="icon icon-arrow-up"></i>{% endif %}
                    <a href="?{{ GET_PARAMS }}&sort=-fio">{% trans "Усопший" %}</a>
                {% else %}
                    {% if sort == '-fio' %}<i class="icon icon-arrow-down"></i>{% endif %}
                    <a href="?{{ GET_PARAMS }}&sort=fio">{% trans "Усопший" %}</a>
                {% endif %}
            </th>
            <th>
                {% if sort == '-fact_date' %}
                    {% if sort == '-fact_date' %}<i class="icon icon-arrow-down"></i>{% endif %}
                    <a href="?{{ GET_PARAMS }}&sort=fact_date">{% trans "Дата" %}</a>
                {% else %}
                    {% if sort == 'fact_date' %}<i class="icon icon-arrow-up"></i>{% endif %}
                    <a href="?{{ GET_PARAMS }}&sort=-fact_date">{% trans "Дата" %}</a>
                {% endif %}
            </th>
            <th>
                {% if sort == 'status' %}
                    {% if sort == 'status' %}<i class="icon icon-arrow-up"></i>{% endif %}
                    <a href="?{{ GET_PARAMS }}&sort=-status">{% trans "Статус" %}</a>
                {% else %}
                    {% if sort == '-status' %}<i class="icon icon-arrow-down"></i>{% endif %}
                    <a href="?{{ GET_PARAMS }}&sort=status">{% trans "Статус" %}</a>
                {% endif %}
            </th>
            <th class="no-print"></th>
        </tr>
        {% for b in burials %}
            <tr class="
                {% if user.profile.is_ugh and b.can_finish %}burial_green{% endif %}
                {% if user.profile.is_ugh and b.can_approve %}burial_blue{% endif %}
                {% if user.profile.is_loru and b.is_approved %}burial_green{% endif %}
                {% if user.profile.is_loru and b.is_ready %}burial_blue{% endif %}
            ">
                <td>{{ b.pk }}</td>
                <td>{{ b.account_number|default:"" }}</td>
                {% if user.profile.is_ugh %}<th>{{ b.loru_name }}</th>{% endif %}
                <td>{{ b.cemetery|default:"" }} / {{ b.ugh_name|default:"" }}</td>
                <td>{% with burial=b %}{% include "burial_place.html" %}{% endwith %}</td>
                <td>{{ b.deadman|default:""  }}</td>
                <td>{{ b.combined_date }}</td>
                <th>{{ b.get_status_display|default:"" }}</th>
                <td>
                    <a class="btn" href="{% url view_burial b.pk %}">{% trans "просмотр" %}</a>
                </td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}