{% extends "base.html" %}

{% load i18n %}

{% block content %}
    <h1>{% trans "К исполнению" %}</h1>
    <table class="table table-bordered">
        <tr>
            <th>
                {% if sort == '-pk' %}
                    <a href="?{{ GET_PARAMS }}&sort=pk">{% trans "Номер" %}</a>
                {% else %}
                    <a href="?{{ GET_PARAMS }}&sort=-pk">{% trans "Номер" %}</a>
                {% endif %}
            </th>
            <th>
                {% if sort == 'account_number' %}
                    <a href="?{{ GET_PARAMS }}&sort=-account_number">{% trans "Номер в книге" %}</a>
                {% else %}
                    <a href="?{{ GET_PARAMS }}&sort=account_number">{% trans "Номер в книге" %}</a>
                {% endif %}
            </th>
            {% if user.profile.is_ugh %}
                <th>
                    {% if sort == 'applicant' %}
                        <a href="?{{ GET_PARAMS }}&sort=-applicant">{% trans "Заявитель" %}</a>
                    {% else %}
                        <a href="?{{ GET_PARAMS }}&sort=applicant">{% trans "Заявитель" %}</a>
                    {% endif %}
                </th>
            {% endif %}
            <th>
                {% if sort == 'cemetery' %}
                    <a href="?{{ GET_PARAMS }}&sort=-cemetery">{% trans "Кладбище" %}</a>
                {% else %}
                    <a href="?{{ GET_PARAMS }}&sort=cemetery">{% trans "Кладбище" %}</a>
                {% endif %}
            </th>
            <th>
                {% if sort == 'place' %}
                    <a href="?{{ GET_PARAMS }}&sort=-place">{% trans "Место" %}</a>
                {% else %}
                    <a href="?{{ GET_PARAMS }}&sort=place">{% trans "Место" %}</a>
                {% endif %}
            </th>
            <th>
                {% if sort == '-plan_date' %}
                    <a href="?{{ GET_PARAMS }}&sort=plan_date">{% trans "Дата" %}</a>
                {% else %}
                    <a href="?{{ GET_PARAMS }}&sort=-plan_date">{% trans "Дата" %}</a>
                {% endif %}
            </th>
            <th>
                {% if sort == 'status' %}
                    <a href="?{{ GET_PARAMS }}&sort=-status">{% trans "Статус" %}</a>
                {% else %}
                    <a href="?{{ GET_PARAMS }}&sort=status">{% trans "Статус" %}</a>
                {% endif %}
            </th>
            <th></th>
        </tr>
        {% for b in burials %}
            <tr class="
                {% if user.profile.is_ugh and b.can_finish %}burial_green{% endif %}
                {% if user.profile.is_ugh and b.can_approve %}burial_blue{% endif %}
                {% if user.profile.is_loru and b.is_approved %}burial_green{% endif %}
                {% if user.profile.is_loru and b.is_ready %}burial_blue{% endif %}
            ">
                <td>{{ b.pk }}</td>
                <td>{{ b.account_number|default:"" }}</td>
                {% if user.profile.is_ugh %}<th>{{ b.loru_name }}</th>{% endif %}
                <td>{{ b.cemetery|default:"" }} / {{ b.ugh_name|default:"" }}</td>
                <td>{{ b.place_number|default:"" }}</td>
                <td>{{ b.plan_date|default:"" }} {{ b.plan_time|default:"" }}</td>
                <th>{{ b.get_status_display|default:"" }}</th>
                <td>
                    <a class="btn" href="{% url view_burial b.pk %}">{% trans "просмотр" %}</a>
                </td>
            </tr>
        {% endfor %}
    </table>

    {% if user.profile.is_loru %}
        <p>
            <a class="btn" href="{% url create_burial %}">{% trans "создать захоронение" %}</a>
        </p>
    {% endif %}
{% endblock %}