{% extends "base.html" %}

{% load i18n %}

{% block meta_extra %}
    <meta http-equiv="refresh" content="180" > 
{% endblock %}

{% block content %}
    <h1>{% trans "К исполнению" %}</h1>
    <table class="table table-bordered">
        <tr>
            <th>
                {% if sort == '-pk' %}
                    {% if sort == '-pk' %}<i class="icon icon-arrow-down"></i>{% endif %}
                    <a href="?{{ GET_PARAMS }}&sort=pk">{% trans "Номер" %}</a>
                {% else %}
                    {% if sort == 'pk' %}<i class="icon icon-arrow-up"></i>{% endif %}
                    <a href="?{{ GET_PARAMS }}&sort=-pk">{% trans "Номер" %}</a>
                {% endif %}
            </th>
            <th>
                {% if sort == 'account_number' %}
                    {% if sort == 'account_number' %}<i class="icon icon-arrow-up"></i>{% endif %}
                    <a href="?{{ GET_PARAMS }}&sort=-account_number">{% trans "Номер в книге" %}</a>
                {% else %}
                    {% if sort == '-account_number' %}<i class="icon icon-arrow-down"></i>{% endif %}
                    <a href="?{{ GET_PARAMS }}&sort=account_number">{% trans "Номер в книге" %}</a>
                {% endif %}
            </th>
            {% if user.profile.is_ugh %}
                <th>
                    {% if sort == 'applicant' %}
                        {% if sort == 'applicant' %}<i class="icon icon-arrow-up"></i>{% endif %}
                        <a href="?{{ GET_PARAMS }}&sort=-applicant">{% trans "Заявитель" %}</a>
                    {% else %}
                        {% if sort == '-applicant' %}<i class="icon icon-arrow-down"></i>{% endif %}
                        <a href="?{{ GET_PARAMS }}&sort=applicant">{% trans "Заявитель" %}</a>
                    {% endif %}
                </th>
            {% endif %}
            <th>
                {% if sort == 'cemetery' %}
                    {% if sort == 'cemetery' %}<i class="icon icon-arrow-up"></i>{% endif %}
                    <a href="?{{ GET_PARAMS }}&sort=-cemetery">{% trans "Кладбище" %}</a>
                {% else %}
                    {% if sort == '-cemetery' %}<i class="icon icon-arrow-down"></i>{% endif %}
                    <a href="?{{ GET_PARAMS }}&sort=cemetery">{% trans "Кладбище" %}</a>
                {% endif %}
            </th>
            <th>
                {% if sort == 'place' %}
                    {% if sort == 'place' %}<i class="icon icon-arrow-up"></i>{% endif %}
                    <a href="?{{ GET_PARAMS }}&sort=-place">{% trans "Место" %}</a>
                {% else %}
                    {% if sort == '-place' %}<i class="icon icon-arrow-down"></i>{% endif %}
                    <a href="?{{ GET_PARAMS }}&sort=place">{% trans "Место" %}</a>
                {% endif %}
            </th>
            <th>
                {% if sort == 'fio' %}
                    {% if sort == 'fio' %}<i class="icon icon-arrow-up"></i>{% endif %}
                    <a href="?{{ GET_PARAMS }}&sort=-fio">{% trans "Усопший" %}</a>
                {% else %}
                    {% if sort == '-fio' %}<i class="icon icon-arrow-down"></i>{% endif %}
                    <a href="?{{ GET_PARAMS }}&sort=fio">{% trans "Усопший" %}</a>
                {% endif %}
            </th>
            <th>
                {% if sort == '-fact_date' %}
                    {% if sort == '-fact_date' %}<i class="icon icon-arrow-down"></i>{% endif %}
                    <a href="?{{ GET_PARAMS }}&sort=fact_date">{% trans "Дата" %}</a>
                {% else %}
                    {% if sort == 'fact_date' %}<i class="icon icon-arrow-up"></i>{% endif %}
                    <a href="?{{ GET_PARAMS }}&sort=-fact_date">{% trans "Дата" %}</a>
                {% endif %}
            </th>
            <th>
                {% if sort == 'status' %}
                    {% if sort == 'status' %}<i class="icon icon-arrow-up"></i>{% endif %}
                    <a href="?{{ GET_PARAMS }}&sort=-status">{% trans "Статус" %}</a>
                {% else %}
                    {% if sort == '-status' %}<i class="icon icon-arrow-down"></i>{% endif %}
                    <a href="?{{ GET_PARAMS }}&sort=status">{% trans "Статус" %}</a>
                {% endif %}
            </th>
            <th class="no-print"></th>
        </tr>
        {% if burials.count %}
            {% for b in burials %}
                <tr class="
                    {% if b.is_ready %}burial_blue{% endif %}
                    {% if b.is_approved %}burial_green{% endif %}
                    {% if b.is_declined or b.is_backed %}burial_red{% endif %}
                ">
                    <td>{{ b.pk }}</td>
                    <td>{{ b.account_number|default:"" }}</td>
                    <th>
                        {% if b.applicant_organization %}
                            {{ b.applicant_organization }}
                        {% elif b.applicant %}
                            {{ b.applicant }}
                        {% endif %}
                    </th>
                    <td>{{ b.cemetery|default:"" }} / {{ b.ugh_name|default:"" }}</td>
                    <td>{% with burial=b %}{% include "burial_place.html" %}{% endwith %}</td>
                    <td>{{ b.deadman_or_bio }}</td>
                    <td>{{ b.combined_date }}</td>
                    <th>{{ b.get_status_display|default:"" }}
                    {% if b.is_declined %}
                        <br />
                        Причина: {{ b.get_last_decline_reason|default_if_none:"не указана" }}
                    {% endif %}
                    </th>
                    <td>
                        <a class="btn" href="{% url view_burial b.pk %}">{% trans "просмотр" %}</a>
                    </td>
                </tr>
            {% endfor %}
        {% endif %}
    </table>
{% endblock %}