{% extends "base.html" %}

{% load i18n %}

{% block content %}
<h1>{% trans "Данные организации" %} {{ object }}</h1>
<form action="" method="POST"  enctype="multipart/form-data">
    {% csrf_token %}
    {% for field in form %}
        {% if object.is_ugh and field.name == "numbers_algo" %}
            <h3>{% trans "Настройки при создании/правке захоронений" %}</h3>
        {% endif %}
        {% if object.is_loru and field.name == "opf_burial" %}
            <h3>{% trans "Настройки при создании/правке захоронений" %}</h3>
        {% endif %}
        {% if object.is_loru and field.name == "opf_order_customer_mandatory" %}
            <h3>{% trans "Настройки при создании/правке заказов" %}</h3>
        {% endif %}
        {{ field.errors }}
        <p>{{ field.label_tag }} {{ field }}<span class="helptext">{{ field.help_text }}</span>
        </p>
        {% if form.scan_form and field.name == "basis" %}
            {{ form.scan_form.as_p }}
        {% endif %}
    {% endfor %}

    {% if form.placesize_formset %}
        <h2>{% trans "Размеры мест" %}</h2>
        {{ form.placesize_formset.management_form }}
        {{ form.placesize_formset.non_form_errors }}
        {% for f in form.placesize_formset.forms %}
            <fieldset>
                {{ f.as_p }}
            </fieldset>
        {% endfor %}
    {% endif %}

    {% if form.reason_formset %}
    <script type="text/javascript">
        $(function() {
            // расширим название причины отказа, что красивее было
            $('input[id^=id_reason_set]').each(function() {
                if($(this).attr('id').match(/\-name$/i)) {
                    $(this).css('width', '400px');
                }
            });
        });
    </script>
        <h2>{% trans "Причины отказа, отзыва и т.п. действий" %}</h2>
        {{ form.reason_formset.management_form }}
        {{ form.reason_formset.non_form_errors }}
        {% for f in form.reason_formset.forms %}
            <fieldset>
                {{ f.as_p }}
            </fieldset>
        {% endfor %}
    {% endif %}

    <h2>{% trans "Адрес" %}</h2>
    {% with form.address_form as form %}
        {% include "location_form.html" %}
    {% endwith %}

    {# <h2>{% trans "Банковские счета" %}</h2>   #}
    {# {{ form.bank_formset.management_form }}   #}
    {# {% for f in form.bank_formset.forms %}    #}
    {#     <fieldset>                            #}
    {#         {{ f.as_p }}                      #}
    {#     </fieldset>                           #}
    {# {% endfor %}                              #}

    <p>
        <input type="submit" class="btn btn-primary" value="{% trans "cохранить" %}"/>
    </p>
    
    {% if is_my_org %}
        <h2>{% trans "Пользователи" %}</h2>
        <table class="table table-bordered">
            <tr>
                <th>{% trans "Имя пользователя" %}<br/>({% trans "логин" %})</th>
                <th>{% trans "Email" %}</th>
                <th>{% trans "ФИО" %}</th>
                {% if user.profile.is_ugh %}<th>{% trans "Роли в организации" %}{% endif %}
                {% if user.profile.is_loru %}<th>{% trans "Агент" %}</th>{% endif %}
                <th>{% trans "Активен" %}</th>
                {% if user.profile.is_loru or user.profile.is_ugh and user.profile.is_admin %}
                    <th></th>
                {% endif %}
            </tr>
            {% for p in form.user_qs %}
                <tr>
                    <td>{{ p.user.username }}</td>
                    <td>{{ p.user.email|default_if_none:"" }}</td>
                    <td>{% if p.user.profile.user_last_name %}{{ p.user.profile.full_name }}{% endif %}</td>
                    {% if user.profile.is_ugh %}<td>{% for r in p.role.all %}{{ r }}<br/>{% endfor %}{% endif %}
                    {% if user.profile.is_loru %}<td>{{ p.is_agent|yesno }}</td>{% endif %}
                    <td>{{ p.user.is_active|yesno }}</td>
                    {% if user.profile.is_loru or user.profile.is_ugh and user.profile.is_admin %}
                        <td style="text-align:center">
                            <a href="{% url edit_profile p.user.profile.pk %}" class="btn">править</a>
                        </td>
                    {% endif %}
                </tr>
            {% endfor %}
        </table>

        {% if request.user.profile.is_loru or request.user.profile.is_admin %}
            <p>
                <a href="{% url create_profile %}" class="btn">{% trans "новый пользователь" %}</a>
            </p>
        {% endif %}
    {% endif %}
</form>

{% if is_my_org and object.get_logs %}
    {% with object=object %}
        {% include "object_logs.html" %}
    {% endwith %}
{% endif %}
{% endblock %}