{% extends "base.html" %}

{% load i18n %}

{% block content %}

{% if request.user.profile.is_ugh and not request.user.profile.is_admin and not form.my_profile %}
    {% include "form_read_only.html" %}
{% endif %}

<script type="text/javascript">
    $(function() {
        $('input[id$=title]').css('width', '435px');
        $('input[id$=phones]').css('width', '660px');
    });
</script>

    {% if form.instance.pk %}
        <h2>{% trans "Пользователь" %}</h2>
        <h4>
            {{ form.instance.user.username }} {% if form.user_last_name %} ( {{ form.instance.full_name }} ){% endif %}
        </h4>
    {% else %}
        <h2>{% trans "Новый пользователь" %}</h2>
    {% endif %}
    <br />
    <form action="" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.non_field_errors }}

        {% if form.username %}
            {{ form.username.errors }}
            <p>{{ form.username.label_tag }} {{ form.username }} <span class="helptext">{{ form.username.help_text }}</span></p>
        {% endif %}

        {% if form.is_active %}
            {{ form.is_active.errors }}
            <p>{{ form.is_active.label_tag }} {{ form.is_active }} <span class="helptext">{{ form.is_active.help_text }}</span></p>
        {% endif %}

        {{ form.user_last_name.errors }}
        <p>{{ form.user_last_name.label_tag }} {{ form.user_last_name }} <span class="helptext">{{ form.user_last_name.help_text }}</span></p>

        {{ form.user_first_name.errors }}
        <p>{{ form.user_first_name.label_tag }} {{ form.user_first_name }} <span class="helptext">{{ form.user_first_name.help_text }}</span></p>

        {{ form.user_middle_name.errors }}
        <p>{{ form.user_middle_name.label_tag }} {{ form.user_middle_name }} <span class="helptext">{{ form.user_middle_name.help_text }}</span></p>

        <br>
        <fieldset>
            {{ form.email.errors }}
            <p>{{ form.email.label_tag }} {{ form.email }} <span class="helptext"> {{ form.email.help_text }}</span></p>

            {{ form.title.errors }}
            <p class="inline">{{ form.title.label_tag }} {{ form.title }} <span class="helptext"> {{ form.title.help_text }}</span></p>
        </fieldset>

        {{ form.out_of_staff.errors }}
        <p>{{ form.out_of_staff.label_tag }} {{ form.out_of_staff }} <span class="helptext">{{ form.out_of_staff.help_text }}</span></p>

        {{ form.phones.errors }}
        <p>{{ form.phones.label_tag }} {{ form.phones }} <span class="helptext">{{ form.phones.help_text }}</span></p>

        {% if form.phones_publish %}
            {{ form.phones_publish.errors }}
            <p>{{ form.phones_publish.label_tag }}{{ form.phones_publish }} <span class="helptext">{{ form.phones_publish.help_text }}</span></p>
        {% endif %}

        {% if form.store %}
            {{ form.store.errors }}
            <p>{{ form.store.label_tag }} {{ form.store }} <span class="helptext"> {{ form.store.help_text }}</span></p>
        {% endif %}

        {{ form.photo_form.as_p }}

        {% if form.is_agent %}
            {{ form.is_agent.errors }}
            <p>{{ form.is_agent.label_tag }} {{ form.is_agent }} <span class="helptext">{{ form.is_agent.help_text }}</span></p>
        {% endif %}

        <fieldset>
            {{ form.password1.errors }}
            <p>{{ form.password1.label_tag }} {{ form.password1 }} <span class="helptext"> {{ form.password1.help_text }}</span></p>

            {{ form.password2.errors }}
            <p>{{ form.password2.label_tag }} {{ form.password2 }} <span class="helptext"> {{ form.password2.help_text }}</span></p>
        </fieldset>

        {% if form.role  or form.cemeteries %}
        <script>
            function select_clear_roles_cemeteries(what, action) {
                var obj = "select[name=" + what + "]";
                var selected = action == "select_all" ? "selected" : ""
                $(obj).children().each(function () {
                    this.selected = selected;
                });
                return false;
            }
        </script>
        <br />
        <h4>Права пользователя</h4>
        <br />
        {% endif %}

        {% if form.role %}
            {{ form.role.errors }}
            <p>{{ form.role.label_tag }} {{ form.role }} <span class="helptext"> {{ form.role.help_text }}</span>
            <br />
            <button onclick='return select_clear_roles_cemeteries("role", "select_all")'>Выделить все</button> 
            &nbsp;&nbsp;
            <button onclick='return select_clear_roles_cemeteries("role", "clear_all")'>Очистить</button>
            </p>
            <br />
        {% endif %}

        {% if form.cemeteries %}
            {{ form.cemeteries.errors }}
            <p>{{ form.cemeteries.label_tag }} {{ form.cemeteries }} <span class="helptext"> {{ form.cemeteries.help_text }}</span>
            <br />
            <button onclick='return select_clear_roles_cemeteries("cemeteries", "select_all")'>Выделить все</button> 
            &nbsp;&nbsp;
            <button onclick='return select_clear_roles_cemeteries("cemeteries", "clear_all")'>Очистить</button>
            </p>
            <br />
        {% endif %}

        <h4>Настройки по умолчанию</h4>
        <br />
        <fieldset>
            {{ form.cemetery.errors }}
            <p>{{ form.cemetery.label_tag }} {{ form.cemetery }} <span class="helptext"> {{ form.cemetery.help_text }}</span></p>

            {{ form.area.errors }}
            <p>{{ form.area.label_tag }} {{ form.area }} <span class="helptext"> {{ form.area.help_text }}</span></p>
        </fieldset>

        {% if request.user.profile.is_ugh and not request.user.profile.is_admin and not form.my_profile %}
        {% else %}
            <p>
                <input type="submit" class="btn btn-primary" value="{% trans "cохранить" %}"/>
            </p>
        {% endif %}

    </form>

    {% if form.my_profile and form.instance.org.is_ugh %}
        <br />
        <h4>{% trans "Роли в организации" %}:</h4>
        {% for r in form.instance.role.all %}
            &nbsp;- {{ r }}<br/>
        {% endfor %}
        {% if not form.instance.role.all %}
            &nbsp;&nbsp; {% trans "не назначены" %}<br/>
        {% endif %}
        {% if form.instance.is_registrator %}
            <br />
            <h4>{% trans "Назначенные кладбища" %}:</h4>
            {% if not form.instance.cemeteries.count %}
                &nbsp;&nbsp; {% trans "не назначены" %}<br />
            {% elif form.instance.has_all_cemeteries %}
                &nbsp;&nbsp; {% trans "все кладбища организации" %}<br />
            {% else %}
                {% for c in form.instance.cemeteries.all %}
                    &nbsp; - {{ c }}<br />
                {% endfor %}
            {% endif %}
        {% endif %}
    {% endif %}

    <script type="text/javascript">
        CEMETERY_AREAS = {{ form.cemetery_areas_json|default:"{}"  }};
    </script>
{% endblock %}
