{% extends "base.html" %}

{% load i18n %}

{% block content %}
    <h1>{% trans "Заявка" %} {{ object.pk }}</h1>
    <form action="" method="POST">
        {% csrf_token %}
        {{ form.as_p }}
        <p>
            <label>{% trans "Усопший" %}</label>
            {% if object.deadman %}
                {{ object.deadman }}<br/>{{ object.deadman.address }}
                <a href="{% url create_deadman object.pk %}" class="btn">{% trans "править" %}</a>
            {% else %}
                <a href="{% url create_deadman object.pk %}" class="btn">{% trans "прикрепить" %}</a>
            {% endif %}
        </p>
        <p>
            <label>{% trans "Ответственный" %}</label>
            {% if object.get_responsible %}
                {{ object.get_responsible }}
                <a href="{% url create_responsible object.pk %}" class="btn">{% trans "править" %}</a>
            {% else %}
                <a href="{% url create_responsible object.pk %}" class="btn">{% trans "прикрепить" %}</a>
            {% endif %}
        </p>
        <p>
            <input type="submit" class="btn" value="{% trans "Сохранить черновик" %}"/>
            <input type="submit" class="btn" name="ready" value="{% trans "Отправить на одобрение УГХ" %}"/>
        </p>
    </form>
{% endblock %}