{% extends "base.html" %}
{% load adminmedia %}
{% load my_filters %}

{% block title %}К исполнению{% endblock %}

{% block content %}
    <div class="row-fluid">
        <h2>Готовы к выполнению</h2>
        <table class="burials table table-striped table-bordered">
            <thead>
            <th>ФИО</th>
            <th>Дата захоронения</th>
            <th>Кладбище</th>
            <th></th>
            </thead>
            {% for b in burials %}
                <tr>
                    <td>
                        <b> {{ b.person.last_name }}</b>
                        {{ b.person.first_name }}
                        {{ b.person.middle_name }}
                    </td>
                    <td>{{ b.date_fact|date:"d.m.Y" }}</td>
                    <td>
                        {{ b.place }}
                    </td>
                    <td>
                        <a href="{% url for_action_process b.pk %}" class="btn">Выполнено</a>
                    </td>
                </tr>
            {% endfor %}
        </table>
    </div>
{% endblock %}

