<script type="text/javascript">
    $(function() {
        var form = document.forms[0];
        [].slice.call( form.elements ).forEach(function(item){
            switch (item.type) {
                case 'select-one':
                case 'checkbox':
                    if (!$('#' + item.id).hasClass('always_enabled')) {
                        item.disabled = 'true';
                    }
                default:
                    if (!$('#' + item.id).hasClass('always_enabled')) {
                        item.readOnly = 'true';
                    }
            }
        });
    });
</script>
