{% extends "base.html" %}

{% load i18n %}

{% block content %}
<script type="text/javascript">

    function makeTimePicker_halls(obj) {
        obj.after('<span class="add-on move-left"><i class="icon-time"></i></span>').timepicker({
            showOn: "focus",
            hourText: 'Ч',
            minuteText: 'М',
            showPeriodLabels: false,
            defaultTime: '09:00',
            minutes: {
                starts: 0,
                ends: 55,
                interval: 5
            },
            hours: {
                starts: 8,
                ends: 19,
                interval: 1
            },
            inline: true
        });
    }

    $(function() {
        makeTimePicker_halls($('input[id$=time_start]'));
        makeTimePicker_halls($('input[id$=time_end]'));

        // Чтоб по кнопке "назад" в браузере перезагружалась страница
        // event.persisted означает, что страница бюзята из кэша,
        // что и бывает по кнопке "назад"
        //
        window.onpageshow = function(event) {
            if (event.persisted) {
                location.reload(true);
            }
        };

    });

</script>

{% if not user.profile.is_admin %}
    {% include "form_read_only.html" %}
{% endif %}

<form action="" method="POST" class="halls">
    {% csrf_token %}
    <h2>{% trans "Залы" %}</h2>
    {{ formset.management_form }}
    {{ formset.non_form_errors }}
    {% for f in formset.forms %}
        {% if not f.instance.pk %}
        <p><b><big> {% trans "Новый зал" %}</big></b></p>
        {% endif %}
        <fieldset>
            {{ f.title.errors }}
            <p>{{ f.title.label_tag }}{{ f.title }}</p>
            {{ f.is_active.errors }}
            <p>{{ f.is_active.label_tag }}{{ f.is_active }}</p>
            <p>
                {% if f.instance.pk %}
                    {% trans "Время" %}
                {% else %}
                    {% trans "Время по умолчанию" %}
                {% endif %}
                <br />
                <textarea readonly="True" rows="1" style="width:450px">{{ f.time_schedule }}</textarea>
                </p>
            <p>&nbsp;&nbsp;&nbsp;&nbsp;</p>
            {{ f.DELETE.errors }}
            <p>{{ f.DELETE.label_tag }}{{ f.DELETE }}</p>
            <p>{{ f.id }}</p>
        </fieldset>
    {% endfor %}

{% if user.profile.is_admin %}
    <p>
        <input type="submit" class="btn btn-primary" value="{% trans "cохранить" %}"/>
    </p>
{% endif %}
</form>
{% endblock %}
