{% extends "base.html" %}

{% load i18n %}

{% block content %}

    <script>
        $(function() {
            $('textarea[id$=details]').css('width', '96%');

            $('input[name$={{ S.BOOK }}]').change(function() {
                var name = $(this).attr('name');
                name = name.substr(0, name.length - '{{ S.BOOK }}'.length);
                if ($(this).is(':checked')) {
                    $('textarea[name=' + name + '{{ S.DETAILS }}]').removeAttr('readonly');
                } else {
                    $('textarea[name=' + name + '{{ S.DETAILS }}]').attr('readonly', 'True');
                }
            });
            $('input[id$={{ S.BOOK }}]').change();

            $('input[name$={{ S.FREE }}]').change(function() {
                var name = $(this).attr('name');
                name = name.substr(0, name.length - '{{ S.FREE }}'.length);
                if ($(this).is(':checked')) {
                    $('textarea[name=' + name + '{{ S.DETAILS }}]').attr('readonly', 'True');
                } else {
                    $('textarea[name=' + name + '{{ S.DETAILS }}]').removeAttr('readonly');
                }
            });
            $('input[id$={{ S.FREE }}]').change();
            $('[id^=time_span_]').each(function() {
                var new_width = $(this).width() + 10;
                var hall_pk = $(this).attr('id').substr('time_span_'.length);
                $('#time_td_' + hall_pk).css('width', new_width + 'px');
            });
        });
    </script>

    <h1>{% trans "Залы: расписание" %}{% if date %} на {% if today_tomorrow %}<span style="color:blue"><big>{{ today_tomorrow }}</big></span>, {% endif %}{{ date }}{% endif %}</h1>
    <br />

    {% if no_halls_in_system %}
        <h2><span style="color:blue">{{ no_halls_in_system }}</span></h2>
    {% else %}
        <div class="no-print">
            <form id="mainform" method="get" action="">
                <table>
                    <tr valign="top">
                        <td>
                            {{ form.hall_date_from.errors }}
                            <p>
                                {{ form.hall_date_from.label_tag }}
                                {{ form.hall_date_from }}
                                <span class="helptext">{{ form.hall_date_from.help_text }}</span>
                            </p>
                        </td>
                        <td>
                            &nbsp;&nbsp;&nbsp;
                        </td>
                        <td>
                            {{ form.halls.errors }}
                            <p>
                                {{ form.halls.label_tag }}
                                {{ form.halls }}
                                <span class="helptext">{{ form.halls.help_text }}</span>
                            </p>
                        </td>
                        <td>
                            <p>
                                <br />
                                &nbsp;<span class="helptext">{% trans "Сtrl-Enter для выборки" %}
                                <br />
                                &nbsp;{% trans "нескольких залов" %}</span>
                            </p>
                        </td>
                        {% if date_str %}
                            <td>
                                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            </td>
                            <td>
                                <br /><a href="{% url 'halls_time' %}?hall_date_from={{ date_str }}">{% trans "Залы: время на" %} {{ date_str }}</a>
                            </td>
                        {% endif %}
                    </tr>
                </table>

                <p class="buttons">
                    <input type="submit" value="отобразить" class="btn" style="height:42px; font-weight:bold; font-size:large" />
                </p>
            </form>
        </div>
    {% endif %}

    {% if post_errors %}
        <h2><span style="color:red">{% trans "Не все изменения сохранены!" %}</span></h2>
        {% for e in post_errors %}
            <p><span style="color:blue"><big>{{ e }}</big></span></p>
        {% endfor %}
    {% endif %}

<form action="" method="POST" class="main-form">
    {% csrf_token %}
    {% if have_smth_to_edit %}
        <input type="submit" class="btn btn-success" value="{% trans "утвердить бронь" %}" name="submit" class="btn" style="font-weight:bold; font-size:large"/>
    {% endif %}
    <input type="hidden" name="GET_PARAMS" value="{{ GET_PARAMS }}" />

    {% for hall in hall_timetables %}
        <h2>{{ hall.hall }}</h2>
        {% if hall.timetable %}
            {% if hall.is_dayoff %}
                <h3><span style="color:blue">{% trans "Не работает" %} {% if today_tomorrow %}{{ today_tomorrow }}, {% endif %}{{ date }}<span></h3>
            {% endif %}
            <table class="table table-bordered">
                <tr>
                    <td id="time_td_{{ hall.hall.pk }}">
                        <span id="time_span_{{ hall.hall.pk }}"><b>{% trans "Время" %}</b> (<i>{{ date|date:"l d M Y" }}</i>)</span>
                    </th>
                    <th>
                        {% trans "Занятость" %}
                    </th>
                    <th style="text-align: center">
                        {% trans "Примечания" %}
                    </th>
                    <th>
                        {% trans "Кто когда забронировал" %}
                    </th>
                </tr>
                {% for tt in hall.timetable %}
                    <tr
                    {% if tt.past %} style="background-color:#e0e0d1"{% elif not tt.free %} style="background-color:#b8b894"{% endif %}>
                        <td>
                            {% if tt.editable and tt.free %}<b>{% endif %}{{ tt.dt_start_str }} &mdash; {{ tt.dt_end_str }}{% if tt.editable and tt.free %}</b>{% endif %}
                        </td>
                        <td>
                            {% if tt.editable %}
                                {% if tt.free %}
                                    <p><label for="{{ tt.html_name_prefix }}__{{ S.BOOK }}"><b>{% trans "Забронировать" %}</b></label><input type="checkbox" name="{{ tt.html_name_prefix }}__{{ S.BOOK }}" id="id__{{ tt.html_name_prefix }}__{{ S.BOOK }}"/></p>
                                {% else %}
                                    <p><label for="{{ tt.html_name_prefix }}__{{ S.FREE }}">{% trans "Освободить" %}</label><input type="checkbox" name="{{ tt.html_name_prefix }}__{{ S.FREE }}" id="id__{{ tt.html_name_prefix }}__{{ S.FREE }}"/></p>
                                {% endif %}
                            {% else %}
                                {% if tt.free %}
                                    {# пусто #}
                                {% else %}
                                    {% trans "Занято" %}
                                {% endif %}
                            {% endif %}
                        </td>
                        <td style="text-align: center">
                            <textarea name="{{ tt.html_name_prefix }}__{{ S.DETAILS }}" rows="1" {% if not tt.editable %}readonly="True"{% endif %} id="id__{{ tt.html_name_prefix }}__{{ S.DETAILS }}">{{ tt.details }}</textarea>
                            {% if tt.editable %}
                                <textarea name="{{ tt.html_name_prefix }}__{{ S.DETAILS_OLD }}" id="id__{{ tt.html_name_prefix }}__{{ S.DETAILS }}" readonly="True" style="display:none">{{ tt.details }}</textarea>
                            {% endif %}
                        </td>
                        <td>
                        {% if tt.creator %}
                            {{ tt.creator.profile.full_name }} ({{ tt.creator.username }})
                            {% if tt.dt_created %}
                                <br/>{{ tt.dt_created }}
                            {% endif %}
                        {% endif %}
                        </td>
                    </tr>
                {% endfor %}
            </table>
        {% else %}
        <h3><span style="color:blue">{% if hall.is_dayoff %}{% trans "Не работает" %}{% else %}{% trans "Ничего не назначено и уже невозможно что-то назначить на" %}{% endif %} {% if today_tomorrow %}{{ today_tomorrow }}, {% endif %}{{ date }}<span></h3>
        {% endif %}
    {% endfor %}

    {% if have_smth_to_edit %}
        <input type="submit" class="btn btn-success" value="{% trans "утвердить бронь" %}" name="submit" class="btn" style="font-weight:bold; font-size:large"/>
    {% endif %}
<form/>

{% endblock %}
