{% extends "base.html" %}

{% load i18n %}

{% block content %}
    <h1>{% trans "Текущая статистика" %} {% trans "ЛОРУ" %}</h1>
    <br />
    <table class="table table-bordered table-striped">
    <tr>
        <th>
        {% trans "№ п/п" %}
        </th>
        <th>
            {% if sort == 'name' %}
                {% if sort == 'name' %}<i class="icon icon-arrow-up"></i>{% endif %}
                <a href="?{{ GET_PARAMS }}&sort=-name">{% trans "ЛОРУ" %}</a>
            {% else %}
                {% if sort == '-name' %}<i class="icon icon-arrow-down"></i>{% endif %}
                <a href="?{{ GET_PARAMS }}&sort=name">{% trans "ЛОРУ" %}</a>
            {% endif %}
        </th>
        <th style="text-align:right;">
            {% if sort == 'pk' %}
                {% if sort == 'pk' %}<i class="icon icon-arrow-up"></i>{% endif %}
                <a href="?{{ GET_PARAMS }}&sort=-pk">{% trans "Id" %}</a>
            {% else %}
                {% if sort == '-pk' %}<i class="icon icon-arrow-down"></i>{% endif %}
                <a href="?{{ GET_PARAMS }}&sort=pk">{% trans "Id" %}</a>
            {% endif %}
        </th>
        <th>
            {% trans "Адрес" %}<br />{% trans "Телефоны" %}
        </th>
        <th style="text-align:right;">
            {% if sort == '-num_users' %}
                {% if sort == '-num_users' %}<i class="icon icon-arrow-down"></i>{% endif %}
                <a href="?{{ GET_PARAMS }}&sort=num_users">{% trans "Пользователей" %}</a>
            {% else %}
                {% if sort == 'num_users' %}<i class="icon icon-arrow-up"></i>{% endif %}
                <a href="?{{ GET_PARAMS }}&sort=-num_users">{% trans "Пользователей" %}</a>
            {% endif %}
        </th>
        <th style="text-align:right;">
            {% if sort == '-num_active_users' %}
                {% if sort == '-num_active_users' %}<i class="icon icon-arrow-down"></i>{% endif %}
                <a href="?{{ GET_PARAMS }}&sort=num_active_users">{% trans "Активных пользователей" %}</a>
            {% else %}
                {% if sort == 'num_active_users' %}<i class="icon icon-arrow-up"></i>{% endif %}
                <a href="?{{ GET_PARAMS }}&sort=-num_active_users">{% trans "Активных пользователей" %}</a>
            {% endif %}
        </th>
        <th style="text-align:right;">
            {% if sort == '-num_stores' %}
                {% if sort == '-num_stores' %}<i class="icon icon-arrow-down"></i>{% endif %}
                <a href="?{{ GET_PARAMS }}&sort=num_stores">{% trans "Магазинов" %}</a>
            {% else %}
                {% if sort == 'num_stores' %}<i class="icon icon-arrow-up"></i>{% endif %}
                <a href="?{{ GET_PARAMS }}&sort=-num_stores">{% trans "Магазинов" %}</a>
            {% endif %}
        </th>
        <th style="text-align:right;">
            {% if sort == '-num_products' %}
                {% if sort == '-num_products' %}<i class="icon icon-arrow-down"></i>{% endif %}
                <a href="?{{ GET_PARAMS }}&sort=num_products">{% trans "Товаров" %}</a>
            {% else %}
                {% if sort == 'num_products' %}<i class="icon icon-arrow-up"></i>{% endif %}
                <a href="?{{ GET_PARAMS }}&sort=-num_products">{% trans "Товаров" %}</a>
            {% endif %}
        </th>
        <th style="text-align:right;">
            {% if sort == '-num_published_products' %}
                {% if sort == '-num_published_products' %}<i class="icon icon-arrow-down"></i>{% endif %}
                <a href="?{{ GET_PARAMS }}&sort=num_published_products">{% trans "Товаров<br />в публичном каталоге" %}</a>
            {% else %}
                {% if sort == 'num_published_products' %}<i class="icon icon-arrow-up"></i>{% endif %}
                <a href="?{{ GET_PARAMS }}&sort=-num_published_products">{% trans "Товаров<br />в публичном каталоге" %}</a>
            {% endif %}
        </th>
        <th style="text-align:right;">
            {% if sort == '-num_published_wholesales' %}
                {% if sort == '-num_published_wholesales' %}<i class="icon icon-arrow-down"></i>{% endif %}
                <a href="?{{ GET_PARAMS }}&sort=num_published_wholesales">{% trans "Товаров опубликовано<br />оптовикам" %}</a>
            {% else %}
                {% if sort == 'num_published_wholesales' %}<i class="icon icon-arrow-up"></i>{% endif %}
                <a href="?{{ GET_PARAMS }}&sort=-num_published_wholesales">{% trans "Товаров опубликовано<br />оптовикам" %}</a>
            {% endif %}
        </th>
        <th style="text-align:right;">
            {% if sort == '-num_orders' %}
                {% if sort == '-num_orders' %}<i class="icon icon-arrow-down"></i>{% endif %}
                <a href="?{{ GET_PARAMS }}&sort=num_orders">{% trans "Заказов" %}</a>
            {% else %}
                {% if sort == 'num_orders' %}<i class="icon icon-arrow-up"></i>{% endif %}
                <a href="?{{ GET_PARAMS }}&sort=-num_orders">{% trans "Заказов" %}</a>
            {% endif %}
        </th>
        <th style="text-align:right;">
            {% if sort == '-num_opt_orders_in' %}
                {% if sort == '-num_opt_orders_in' %}<i class="icon icon-arrow-down"></i>{% endif %}
                <a href="?{{ GET_PARAMS }}&sort=num_opt_orders_in">{% trans "Входящих оптовых заказов" %}</a>
            {% else %}
                {% if sort == 'num_opt_orders_in' %}<i class="icon icon-arrow-up"></i>{% endif %}
                <a href="?{{ GET_PARAMS }}&sort=-num_opt_orders_in">{% trans "Входящих оптовых заказов" %}</a>
            {% endif %}
        </th>
        <th style="text-align:right;">
            {% if sort == '-num_opt_orders_out' %}
                {% if sort == '-num_opt_orders_out' %}<i class="icon icon-arrow-down"></i>{% endif %}
                <a href="?{{ GET_PARAMS }}&sort=num_opt_orders_out">{% trans "Исходящих оптовых заказов" %}</a>
            {% else %}
                {% if sort == 'num_opt_orders_out' %}<i class="icon icon-arrow-up"></i>{% endif %}
                <a href="?{{ GET_PARAMS }}&sort=-num_opt_orders_out">{% trans "Исходящих оптовых заказов" %}</a>
            {% endif %}
        </th>
        <th style="text-align:right;">
            {% if sort == '-num_burials' %}
                {% if sort == '-num_burials' %}<i class="icon icon-arrow-down"></i>{% endif %}
                <a href="?{{ GET_PARAMS }}&sort=num_burials">{% trans "Закрытых<br />электронных захоронений" %}</a>
            {% else %}
                {% if sort == 'num_burials' %}<i class="icon icon-arrow-up"></i>{% endif %}
                <a href="?{{ GET_PARAMS }}&sort=-num_burials">{% trans "Закрытых<br />электронных захоронений" %}</a>
            {% endif %}
        </th>
    </tr>
    <tr>
        <td>
        {# N п/п #}
        </td>
        <td>
            <b>{% trans "Итого" %} {{ total.loru_count }} {% trans "ЛОРУ"%}</b>
        </td>
        <td>
        {# Id #}
        </td>
        <td>
        {# Address, phones #}
        </td>
        <td style="text-align:right;">
            <b>{{ total.num_users }}</b>
        </td>
        <td style="text-align:right;">
            <b>{{ total.num_active_users }}</b>
        </td>
        <td style="text-align:right;">
            <b>{{ total.num_stores }}</b>
        </td>
        <td style="text-align:right;">
            <b>{{ total.num_products }}</b>
        </td>
        <td style="text-align:right;">
            <b>{{ total.num_published_products }}</b>
        </td>
        <td style="text-align:right;">
            <b>{{ total.num_published_wholesales }}</b>
        </td>
        <td style="text-align:right;">
            <b>{{ total.num_orders }}</b>
        </td>
        <td style="text-align:right;">
            <b>{{ total.num_opt_orders_in }}</b>
        </td>
        <td style="text-align:right;">
            <b>{{ total.num_opt_orders_out }}</b>
        </td>
        <td style="text-align:right;">
            <b>{{ total.num_burials }}</b>
        </td>
    </tr>
    {% for org in orgs %}
        <tr>
            <td style="text-align:right;">
                {{ forloop.counter }}
            </td>
            <td>
                {{ org.name }}
            </td>
            <td style="text-align:right;">
                {{ org.pk }}
            </td>
            <td>
                {{ org.off_address }}{% if org.phones %}<br >{% for phone in org.phones %}{{ phone }}<br />{% endfor %}{% endif %}
            </td>
            <td style="text-align:right;">
                {{ org.num_users }}
            </td>
            <td style="text-align:right;">
                {{ org.num_active_users }}
            </td>
            <td style="text-align:right;">
                {{ org.num_stores }}
            </td>
            <td style="text-align:right;">
                {{ org.num_products }}
            </td>
            <td style="text-align:right;">
                {{ org.num_published_products }}
            </td>
            <td style="text-align:right;">
                {{ org.num_published_wholesales }}
            </td>
            <td style="text-align:right;">
                {{ org.num_orders }}
            </td>
            <td style="text-align:right;">
                {{ org.num_opt_orders_in }}{% if org.sum_opt_orders_in %} ({{ org.sum_opt_orders_in }} {{ org.currency }}){% endif %}
            </td>
            <td style="text-align:right;">
                {{ org.num_opt_orders_out }}{% if org.sum_opt_orders_out %} ({{ org.sum_opt_orders_out }} {{ org.currency }}){% endif %}
            </td>
            <td style="text-align:right;">
                {{ org.num_burials }}
            </td>
        </tr>
    {% endfor %}
    </table>

{% endblock %}
