{% extends "base.html" %}

{% load i18n %}

{% block content %}
    <h1>{% trans "Текущая статистика" %} {% trans "ЛОРУ" %}</h1>
    <br />
    <table class="table table-bordered table-striped">
    <tr>
        <th>
            {% if sort == 'org' %}
                {% if sort == 'org' %}<i class="icon icon-arrow-up"></i>{% endif %}
                <a href="?{{ GET_PARAMS }}&sort=-org">{% trans "ЛОРУ" %}</a>
            {% else %}
                {% if sort == '-org' %}<i class="icon icon-arrow-down"></i>{% endif %}
                <a href="?{{ GET_PARAMS }}&sort=org">{% trans "ЛОРУ" %}</a>
            {% endif %}
        </th>
        <th>
            {% if sort == 'city' %}
                {% if sort == 'city' %}<i class="icon icon-arrow-up"></i>{% endif %}
                <a href="?{{ GET_PARAMS }}&sort=-city">{% trans "Город" %}</a>
            {% else %}
                {% if sort == '-city' %}<i class="icon icon-arrow-down"></i>{% endif %}
                <a href="?{{ GET_PARAMS }}&sort=city">{% trans "Город" %}</a>
            {% endif %}
        </th>
        <th style="text-align:right;">
            {% trans "Пользователей" %}
        </th>
        <th style="text-align:right;">
            {% trans "Магазинов" %}
        </th>
        <th style="text-align:right;">
            {% trans "Товаров" %}
        </th>
        <th style="text-align:right;">
            {% trans "Товаров<br />в публичном каталоге" %}
        </th>
        <th style="text-align:right;">
            {% trans "Товаров опубликовано<br />оптовикам" %}
        </th>
        <th style="text-align:right;">
            {% trans "Заказов" %}
        </th>
        <th style="text-align:right;">
            {% trans "Закрытых<br />электронных захоронений" %}
        </th>
    </tr>
    <tr>
        <td>
            <b>{% trans "Итого" %} {{ total.loru_count }} {% trans "ЛОРУ"%}</b>
        </td>
        <td>
        </td>
        <td style="text-align:right;">
            <b>{{ total.num_users }}</b>
        </td>
        <td style="text-align:right;">
            <b>{{ total.num_stores }}</b>
        </td>
        <td style="text-align:right;">
            <b>{{ total.num_products }}</b>
        </td>
        <td style="text-align:right;">
            <b>{{ total.num_published_products }}</b>
        </td>
        <td style="text-align:right;">
            <b>{{ total.num_published_wholesales }}</b>
        </td>
        <td style="text-align:right;">
            <b>{{ total.num_orders }}</b>
        </td>
        <td style="text-align:right;">
            <b>{{ total.num_burials }}</b>
        </td>
    </tr>
    {% for org in orgs %}
        <tr>
            <td>
                {{ org.name }}
            </td>
            <td>
                {{ org.city }}
            </td>
            <td style="text-align:right;">
                {{ org.num_users }}
            </td>
            <td style="text-align:right;">
                {{ org.num_stores }}
            </td>
            <td style="text-align:right;">
                {{ org.num_products }}
            </td>
            <td style="text-align:right;">
                {{ org.num_published_products }}
            </td>
            <td style="text-align:right;">
                {{ org.num_published_wholesales }}
            </td>
            <td style="text-align:right;">
                {{ org.num_orders }}
            </td>
            <td style="text-align:right;">
                {{ org.num_burials }}
            </td>
        </tr>
    {% endfor %}
    </table>

{% endblock %}
