{% extends "base.html" %}
{%  load my_filters %}
{% block title %}Редактирование кладбища{% endblock %}
{% block content %}
<h1>Редактирование кладбища</h1>
<div id="forms">
    <form action="" method="post">
        <!--        <a href="/admin/common/organization/" target="_blank">Управление организациями(админка)</a>-->
        <table>
            {{ form.as_table }}
            <tfoot>
                <tr>
                    <td align="right" colspan="2">
                        <input type="submit" value="Сохранить" />
                    </td>
                </tr>
                <tr>
                    <td align="right" colspan="2">
                        <input type="reset" value="Очистить" />
                    </td>
                </tr>
            </tfoot>
        </table>
    </form>
</div>
<a href="/management/cemetery/">Вернуться к списку кладбищ</a>

<link rel="stylesheet" href="/media/css/ui-lightness/jquery-ui-1.8.6.custom.css" type="text/css" />
<link rel="stylesheet" href="/media/css/jquery-ui-timepicker.css?v=0.2.3" type="text/css" />
<script type="text/javascript" src="/media/js/jquery-1.4.4.min.js"></script>
<script type="text/javascript" src="/media/js/jquery-ui-1.8.6.custom.min.js"></script>
<script type="text/javascript" src="/media/js/jquery.query-2.1.7.js"></script>
<script type="text/javascript" src="/admin_media/js/admin/RelatedObjectLookups.js"></script>
<script type="text/javascript" src="/media/js/jquery.ui.timepicker.js?v=0.2.3"></script>
<script type="text/javascript" src="/media/js/address.js"></script>
{% endblock %}
