{% extends "base.html" %}
{% load my_filters %}
{% block title %}Управление персоналом{% endblock %}
{% block content %}
<h1>Управление персоналом</h1>
    <h3>Персонал можно создавать и редактировать</h3>
    <div id="forms" class="form-horizontal">
        <form action="" method="post">
            {{ form.as_p }}
            <h2 class="buttons">
                <button class="btn btn-primary btn-large">{% if current_user %}Сохранить{% else %}Создать{% endif %}</button>
                {% if current_user %}
                    {% if current_user.is_active %}
                        <a href="?user_pk={{ request.GET.user_pk }}&deactivate=1" class="btn btn-danger">Деактивировать</a>
                    {% else %}
                        <a href="?user_pk={{ request.GET.user_pk }}&activate=1" class="btn btn-success">Активировать</a>
                    {% endif %}
                {% endif %}
                <input type="reset" class="btn" value="Очистить" />
            </h2>
        </form>
    </div>
    {% if users %}
        <br>
        <table class="burials table table-striped table-bordered">
            <thead>
                <td width="15%">Логин</td>
                <td width="15%">Фамилия</td>
                <td width="15%">Группы</td>
                <td width="5%">Активен</td>
                <td width="10%" align="center">Опции</td>
            </thead>
            {% for u in users %}
            <tr>
                <td>{{ u.username }}</td>
                <td>{{ u.last_name }}</td>
                <td>{{ u.groups.all|join:", " }}</td>
                <td>{{ u.is_active|yesno }}</td>
                <td align="center">
                    <a title="редактировать" href="/management/user/?user_pk={{ u.pk }}"><i class="icon icon-edit"></i></a>
            </tr>
            {% endfor %}
        </table>
    {% endif %}

    <script type="text/javascript">
        $(function(){
            $('#id_username').closest('p').before('<br/>');
            $('label[for=id_groups_0]').closest('p').before('<br/>');
            {% if current_user %}
                $('#id_password1').closest('p').before('<a class="btn" href="#" id="show_pass">сменить пароль</a>')

                $('#id_password1').closest('p').addClass('pass');
                $('#id_password2').closest('p').addClass('pass');

                $('p.pass').hide();
                $('#show_pass').click(function() {
                    $('p.pass').fadeIn();
                    $(this).hide();
                });
            {% endif %}
        });
    </script>
{% endblock %}
