{% extends "base.html" %}

{% load i18n %}

{% block content %}
    <h1>{% trans "Текущая статистика" %} {% trans "ОМС" %}</h1>
    <br />
    <table class="table table-bordered table-striped">
    <tr>
        <th>
            {% if sort == 'org' %}
                {% if sort == 'org' %}<i class="icon icon-arrow-up"></i>{% endif %}
                <a href="?{{ GET_PARAMS }}&sort=-org">{% trans "ОМС" %}</a>
            {% else %}
                {% if sort == '-org' %}<i class="icon icon-arrow-down"></i>{% endif %}
                <a href="?{{ GET_PARAMS }}&sort=org">{% trans "ОМС" %}</a>
            {% endif %}
        </th>
        <th>
            {% if sort == 'city' %}
                {% if sort == 'city' %}<i class="icon icon-arrow-up"></i>{% endif %}
                <a href="?{{ GET_PARAMS }}&sort=-city">{% trans "Город" %}</a>
            {% else %}
                {% if sort == '-city' %}<i class="icon icon-arrow-down"></i>{% endif %}
                <a href="?{{ GET_PARAMS }}&sort=city">{% trans "Город" %}</a>
            {% endif %}
        </th>
        <th style="text-align:right;">
            {% trans "Кладбищ" %}
        </th>
        <th style="text-align:right;">
            {% trans "Участков" %}
        </th>
        <th style="text-align:right;">
            {% trans "Мест" %}
        </th>
        <th style="text-align:right;">
            {% trans "Закрытых<br />захоронений" %}
        </th>
        <th style="text-align:right;">
            {% trans "Мест<br />для обработки" %}
        </th>
        <th style="text-align:right;">
            {% trans "Мест пере-<br />фотографировать" %}
        </th>
        <th style="text-align:right;">
            {% trans "Мест<br />с телефоном<br />кабинета" %}
        </th>
        <th style="text-align:right;">
            {% trans "Кабинетов" %}
        </th>
        <th style="text-align:right;">
            {% trans "ЛОРУ в<br />реестре" %}
        </th>
        <th style="text-align:right;">
            {% trans "Продуктов<br />у ЛОРУ из реестра" %}
        </th>
        <th style="text-align:right;">
            {% trans "Опубликованных продуктов<br />у ЛОРУ из реестра" %}
        </th>
    </tr>
    <tr>
        <td>
            <b>{% trans "Итого" %} {{ total.oms_count }} {% trans "ОМС"%}</b>
        </td>
        <td>
        </td>
        <td style="text-align:right;">
            <b>{{ total.cemeteries_count }}</b>
        </td>
        <td style="text-align:right;">
            <b>{{ total.areas_count }}</b>
        </td>
        <td style="text-align:right;">
            <b>{{ total.places_count }}</b>
        </td>
        <td style="text-align:right;">
            <b>{{ total.burials_count }}</b>
        </td>
        <td style="text-align:right;">
            <b>{{ total.places_invent_accessible }}</b>
        </td>
        <td style="text-align:right;">
            <b>{{ total.places_invent_remake_photo }}</b>
        </td>
        <td style="text-align:right;">
            <b>{{ total.places_cabinet_count }}</b>
        </td>
        <td>
            <b>{% trans "Всего кабинетов" %}: {{ total.cabinets_count }}</b>
        </td>
        <td>
            <b>{% trans "Всего ЛОРУ" %}: {{ total.lorus_count }}
            <br />({% trans "активных" %}: {{ total.active_lorus_count }})
            </b>
        </td>
        <td>
            <b>{% trans "Всего продуктов" %}: {{ total.products_count }}</b>
        </td>
        <td>
            <b>{% trans "Всего<br> опубликованных продуктов" %}: {{ total.published_products_count }}</b>
        </td>
    </tr>
    {% for org in orgs %}
        <tr>
            <td>
                {{ org.name }}
            </td>
            <td>
                {{ org.city }}
            </td>
            <td style="text-align:right;">
                {{ org.num_cemeteries }}
            </td>
            <td style="text-align:right;">
                {{ org.num_areas }}
            </td>
            <td style="text-align:right;">
                {{ org.num_places }}
            </td>
            <td style="text-align:right;">
                {{ org.num_burials }}
            </td>
            <td style="text-align:right;">
                {{ org.places_invent_accessible }}
            </td>
            <td style="text-align:right;">
                {{ org.places_invent_remake_photo }}
            </td>
            <td style="text-align:right;">
                {{ org.num_places_cabinet }}
            </td>
            <td style="text-align:right;">
                {{ org.num_cabinets }}
            </td>
            <td style="text-align:right;">
                {{ org.num_lorus }}
            </td>
            <td style="text-align:right;">
                {{ org.num_products }}
            </td>
            <td style="text-align:right;">
                {{ org.num_published_products }}
            </td>
        </tr>
    {% endfor %}
    </table>

{% endblock %}
