{% load i18n %}
<table class="table table-bordered">
    <tr>
        <th>
            {% if sort == 'account_number' %}
                {% if sort == 'account_number' %}<i class="icon icon-arrow-up"></i>{% endif %}
                <a href="?{{ GET_PARAMS }}&sort=-account_number">{% trans "Номер в книге" %}</a>
            {% else %}
                {% if sort == '-account_number' %}<i class="icon icon-arrow-down"></i>{% endif %}
                <a href="?{{ GET_PARAMS }}&sort=account_number">{% trans "Номер в книге" %}</a>
            {% endif %}
        </th>
        <th>
            {% if sort == 'deadman' %}
                {% if sort == 'deadman' %}<i class="icon icon-arrow-up"></i>{% endif %}
                <a href="?{{ GET_PARAMS }}&sort=-deadman">{% trans "Усопший" %}</a>
            {% else %}
                {% if sort == '-deadman' %}<i class="icon icon-arrow-down"></i>{% endif %}
                <a href="?{{ GET_PARAMS }}&sort=deadman">{% trans "Усопший" %}</a>
            {% endif %}
        </th>
        <th>
            {% if sort == 'plan_date' %}
                {% if sort == 'plan_date' %}<i class="icon icon-arrow-up"></i>{% endif %}
                <a href="?{{ GET_PARAMS }}&sort=-plan_date">{% trans "Дата захоронения" %}</a>
            {% else %}
                {% if sort == '-plan_date' %}<i class="icon icon-arrow-down"></i>{% endif %}
                <a href="?{{ GET_PARAMS }}&sort=plan_date">{% trans "Дата захоронения" %}</a>
            {% endif %}
        </th>
        <th>
            {% if sort == 'place' %}
                {% if sort == 'place' %}<i class="icon icon-arrow-up"></i>{% endif %}
                <a href="?{{ GET_PARAMS }}&sort=-place">{% trans "Место" %}</a>
            {% else %}
                {% if sort == '-place' %}<i class="icon icon-arrow-down"></i>{% endif %}
                <a href="?{{ GET_PARAMS }}&sort=place">{% trans "Место" %}</a>
            {% endif %}
        </th>
        <th>
            {% if sort == 'cemetery' %}
                {% if sort == 'cemetery' %}<i class="icon icon-arrow-up"></i>{% endif %}
                <a href="?{{ GET_PARAMS }}&sort=-cemetery">{% trans "Кладбище" %}</a>
            {% else %}
                {% if sort == '-cemetery' %}<i class="icon icon-arrow-down"></i>{% endif %}
                <a href="?{{ GET_PARAMS }}&sort=cemetery">{% trans "Кладбище" %}</a>
            {% endif %}
        </th>
        <th>
            {% if sort == 'burial' %}
                {% if sort == 'burial' %}<i class="icon icon-arrow-up"></i>{% endif %}
                <a href="?{{ GET_PARAMS }}&sort=-burial">{% trans "Захоронение" %}</a>
            {% else %}
                {% if sort == '-burial' %}<i class="icon icon-arrow-down"></i>{% endif %}
                <a href="?{{ GET_PARAMS }}&sort=burial">{% trans "Захоронение" %}</a>
            {% endif %}
        </th>
        <th>
            {% if sort == 'applicant' %}
                {% if sort == 'applicant' %}<i class="icon icon-arrow-up"></i>{% endif %}
                <a href="?{{ GET_PARAMS }}&sort=-applicant">{% trans "Заказчик" %}</a>
            {% else %}
                {% if sort == '-applicant' %}<i class="icon icon-arrow-down"></i>{% endif %}
                <a href="?{{ GET_PARAMS }}&sort=applicant">{% trans "Заказчик" %}</a>
            {% endif %}
        </th>
        <th>
            {% if sort == 'order_num' %}
                {% if sort == 'order_num' %}<i class="icon icon-arrow-up"></i>{% endif %}
                <a href="?{{ GET_PARAMS }}&sort=-order_num">{% trans "Номер заказа" %}</a>
            {% else %}
                {% if sort == '-order_num' %}<i class="icon icon-arrow-down"></i>{% endif %}
                <a href="?{{ GET_PARAMS }}&sort=order_num">{% trans "Номер заказа" %}</a>
            {% endif %}
        </th>
        <th>
            {% if sort == 'cost' %}
                {% if sort == 'cost' %}<i class="icon icon-arrow-up"></i>{% endif %}
                <a href="?{{ GET_PARAMS }}&sort=-cost">{% trans "Сумма" %}</a>
            {% else %}
                {% if sort == '-cost' %}<i class="icon icon-arrow-down"></i>{% endif %}
                <a href="?{{ GET_PARAMS }}&sort=cost">{% trans "Сумма" %}</a>
            {% endif %}
        </th>
        <th>
            {% if sort == 'order_date' %}
                {% if sort == 'order_date' %}<i class="icon icon-arrow-up"></i>{% endif %}
                <a href="?{{ GET_PARAMS }}&sort=-order_date">{% trans "Дата заказа" %}</a>
            {% else %}
                {% if sort == '-order_date' %}<i class="icon icon-arrow-down"></i>{% endif %}
                <a href="?{{ GET_PARAMS }}&sort=order_date">{% trans "Дата заказа" %}</a>
            {% endif %}
        </th>
        <th class="no-print"></th>
    </tr>
    {% for c in object_list %}
        <tr class="
                {% if c.get_burial.is_ready %}burial_blue{% endif %}
                {% if c.get_burial.is_approved %}burial_green{% endif %}
                {% if c.get_burial.is_declined or c.get_burial.is_backed %}burial_red{% endif %}
        ">
            <td>{{ c.get_burial.account_number|default:"" }}</td>
            <td>{{ c.get_burial.deadman|default:"" }}</td>
            <td>{{ c.get_burial.combined_date }}</td>
            <td>
                {% with burial=c.get_burial %}{% include "burial_place.html" %}{% endwith %}
            </td>
            <td>{{ c.get_burial.cemetery|default:"" }} / {{ c.get_burial.ugh|default:"" }}</td>
            <td>{{ c.get_burial.pk|default:"" }}</td>
            <td>
                {% if c.applicant %}
                    ФЛ {{ c.applicant|default:"" }}
                {% elif c.applicant_organization %}
                    ЮЛ {{ c.applicant_organization|default:"" }}
                {% endif %}
            </td>
            <td>{{ c.loru_number|default:"" }}</td>
            <td>{{ c.total|floatformat:2|default:"" }}</td>
            <td>{{ c.dt|default:"" }}</td>
            <td class="no-print">
                {% if user.profile.org == c.loru %}
                    <a href="{% url order_edit c.pk %}" class="btn">{% trans "править" %}</a>
                {% endif %}
                <a href="{% url order_print c.pk %}" class="btn" target="_blank">{% trans "счет-заказ" %}</a>
                <a href="{% url order_contract c.pk %}" class="btn" target="_blank">{% trans "контракт" %}</a>
            </td>
        </tr>
    {% endfor %}
</table>
