{% extends "base.html" %}

{% load i18n %}

{% block content %}
    {% with order=order tab="products" %}
        {% include "order_nav.html" %}
    {% endwith %}
    <form action="" method="POST" class="main-form">
        {% csrf_token %}
        <legend>{% trans "Позиции" %}</legend>

        {{ formset.management_form }}
        <table class="table table-striped">
        <thead>
            <tr>
              <th>#</th>
              <th>{% trans "Товар" %}</th>
              <th>{% trans "Цена" %}</th>
              <th>{% trans "Количество" %}</th>
              <th>{% trans "Сумма" %}</th>
              <th>{% trans "Управление" %}</th>
            </tr>
        </thead>
        <tbody>
            {% for f in formset.forms %}
            <tr id="{{ f.prefix }}-row" class="dynamic-form">
              <td>{{ forloop.counter }}
                {% if f.errors %}
                    {% for field, error in f.errors.items %}
                        {{ error }}                        
                    {% endfor %}
                {% endif %}
              </td>
              <td class="product_type">{{ f.product }}</td>
              <td class="product_cost">{{ f.cost }}</td>
              <td class="product_quantity">{{ f.quantity }}</td>
              <td class="amount"><input type="text" name="" value=""></td>
              {{ f.id }}
              <td>
                <span>
                    <a id="remove-{{ f.prefix }}-row" href="javascript:void(0)" class="delete-row">{% trans "Удалить" %}</a>
                </span>
              </td>
            </tr>
            {% endfor %}
        </tbody>
        </table>
        <p><a href="javascript:void(0)" class="add-row">{% trans "Добавить" %}</a></p>
        <p>
            <label for="id_total">{% trans "Итог" %}</label>
            <input id="id_total" type="text" value="{{ order.total }}" />
        </p>

        <p>
            <input type="submit" class="btn" value="{% trans "сохранить" %}" class="btn"/>
            {% if order.get_burial %}
                {% if order.get_burial.is_edit %}
                    <a href="{% url edit_burial order.get_burial.pk %}" class="btn btn-next">{% trans "далее" %}</a>
                {% else %}
                    <a href="{% url view_burial order.get_burial.pk %}" class="btn btn-next">{% trans "далее" %}</a>
                {% endif %}
            {% else %}
                <a href="{% url create_burial %}?order={{ order.pk }}" class="btn btn-next">{% trans "далее" %}</a>
            {% endif %}
        </p>
    </form>

    <script type="text/javascript">
        CEMETERY_AREAS = {{ form.cemetery_areas_json|default:"{}" }};
        CEMETERY_TIMES = {{ form.cemetery_times_json|default:"{}" }};
        AGENT_DOVER = {{ form.agent_dover_json|default:"{}" }};
        LORU_AGENTS = {{ form.loru_agents_json|default:"{}" }};

        $(function () {
            $('.dynamic-form').each(function() {
                updateAmountForm($(this));
            });
            $(".dynamic-form input[type='text'], .dynamic-form select").change( function() {
                updateAmountForm($(this).closest('tr'));
            });

            $('.add-row').click(function() {
                return addForm(this, 'orderitem_set');
            });
            $('.delete-row').click(function() {
                return deleteForm(this, 'orderitem_set');
            });
            $('.product_type select').change(function() {
                var textval = $(":selected",this).html();
                cost = /\((\d+.*?) р.\)/.exec(textval)[1];
                el_id = $(this).attr('id').match(/\d+/);
                $('#id_orderitem_set-' + el_id + '-cost').attr('value', cost);
                $('#id_orderitem_set-' + el_id + '-quantity').attr('value', '1.00');
                updateAmountForm($(this).parents('tr'));
            });
        })
</script>
    </script>
{% endblock %}