{% extends "base.html" %}

{% load i18n %}

{% block content %}
    {% with order=order tab="applicant" %}
        {% include "order_nav.html" %}
    {% endwith %}
    <form action="" method="POST" class="main-form">
        {% csrf_token %}

        {{ form.non_field_errors }}

        {% include "applicant_form.html" %}

        {{ form.payment.errors }}
        <p class="inline">{{ form.payment.label_tag }} {{ form.payment }}<span class="helptext">{{ form.payment.help_text }}</span></p>

        <p>
            <input type="submit" class="btn" value="{% trans "сохранить" %}" class="btn"/>
            <a href="{% url order_products order.pk %}" class="btn btn-next">{% trans "далее" %}</a>
        </p>
    </form>

    {% include "create_burial_popups.html" %}

    <script type="text/javascript">
        CEMETERY_AREAS = {{ form.cemetery_areas_json|default:"{}" }};
        CEMETERY_TIMES = {{ form.cemetery_times_json|default:"{}" }};
        AGENT_DOVER = {{ form.agent_dover_json|default:"{}" }};
        LORU_AGENTS = {{ form.loru_agents_json|default:"{}" }};
        ACTUAL_DOVER = [{% for d in form.actual_dover_list %}{{ d }}{% if not forloop.last %},{% endif %}{% endfor %}];
    </script>
{% endblock %}
