{% load i18n %}

<h1>{% trans "Заказ" %} {{ order }}</h1>
<p class="inline">
    {% if not order.annulated %}
        <a href="{% url order_print order.pk %}" class="btn" target="_blank">{% trans "распечатать" %}</a>
    {% endif %}
</p>
<!-- == if not order.is_finished == : нет такого метода, свойства, поля у order -->
{% if not order.get_burial or order.get_burial.is_edit %} <!-- захоронение: нет пока в заказе или черновик, отозвано, отклонено -->
    {% if order.annulated %}
        <form action="{% url order_annulate order.pk %}?recover=1" method="POST" class="inline">
            {% csrf_token %}
            <input type="submit" class="btn btn-success" value="{% trans "восстановить" %}" />
        </form>
    {% else %}
        <form action="{% url order_annulate order.pk %}" method="POST" class="inline">
            {% csrf_token %}
            <!-- <input type="submit" class="btn btn-danger"
                    == if order.get_burial.is_approved ==
                   onclick="return confirm('== trans "Заявка согласована, при аннулировании Заказа она будет отозвана! Аннулировать?" ==');"
                    == endif == value="== trans "аннулировать" ==" />
            -->
            <input type="submit" class="btn btn-danger" value="{% trans "аннулировать" %}" />
        </form>
    {% endif %}
{% endif %}
<p></p>
