{% extends "base.html" %}

{% load i18n %}

{% block content %}

    <script>
        function select_clear_users(action) {
            var obj = "select[name=users]";
            var selected = action == "select_all" ? "selected" : ""
            $(obj).children().each(function () {
                this.selected = selected;
            });
            return false;
        }
    </script>

    <h1>{% trans "Журнал" %}</h1>
    <div class="no-print">
        <form id="mainform" method="get" action="">
            <table>
                <tr valign="top">
                    <td>
                        {{ form.date_from.errors }}
                        <p>
                            {{ form.date_from.label_tag }}
                            {{ form.date_from }}
                            <span class="helptext">{{ form.date_from.help_text }}</span>
                        </p>
                    </td>
                    <td>
                        {{ form.date_to.errors }}
                        <p>
                            {{ form.date_to.label_tag }}
                            {{ form.date_to }}
                            <span class="helptext">{{ form.date_to.help_text }}</span>
                        </p>
                    </td>
                    <td>
                        {{ form.users.errors }}
                        <p>
                            {{ form.users.label_tag }}
                            {{ form.users }}
                            <span class="helptext">{{ form.users.help_text }}</span>
                        </p>
                    </td>
                    <td>
                        <p>
                            <br />
                            &nbsp;<span class="helptext">{% trans "Сtrl-Enter для выборки нескольких пользователей" %}</span>
                            <br /><br />
                            &nbsp;<button onclick='return select_clear_users("select_all")'>{% trans "Выделить всех" %}</button>
                            &nbsp;&nbsp;&nbsp;<button onclick='return select_clear_users("clear_all")'>{% trans "Очистить" %}</button>
                        </p>
                    </td>
                </tr>
            </table>

            <p class="buttons">
                <input type="submit" value="искать" class="btn btn-primary" />
            </p>
        </form>
    </div>

    {% if not form.errors %}
        <p>{% trans "Найдено:" %} {{ paginator.count|default:object_list.count }}</p>
        {% include "paginator.html" %}

        <table class="table table-bordered table-striped">
        <tr>
            <th>
                {% if sort == '-dt' %}
                    {% if sort == '-dt' %}<i class="icon icon-arrow-down"></i>{% endif %}
                    <a href="?{{ GET_PARAMS }}&sort=dt">{% trans "Дата" %}</a>
                {% else %}
                    {% if sort == 'dt' %}<i class="icon icon-arrow-up"></i>{% endif %}
                    <a href="?{{ GET_PARAMS }}&sort=-dt">{% trans "Дата" %}</a>
                {% endif %}
            </th>
            <th>
                {% if sort == 'user' %}
                    {% if sort == 'user' %}<i class="icon icon-arrow-up"></i>{% endif %}
                    <a href="?{{ GET_PARAMS }}&sort=-user">{% trans "Пользователь" %}</a>
                {% else %}
                    {% if sort == '-user' %}<i class="icon icon-arrow-down"></i>{% endif %}
                    <a href="?{{ GET_PARAMS }}&sort=user">{% trans "Пользователь" %}</a>
                {% endif %}
            </th>
            <th>{% trans "Объект" %}</th>
            <th>{% trans "Действие" %}</th>
        </tr>
        {% for log in logs %}
            <tr>
                <td>{{ log.dt }}</td>
                <td>{{ log.user.username }} / {{ log.user.profile.last_name_initials }}</td>
                <td>{% autoescape off %}{{ log.log_object_display }}{% endautoescape %}</td>
                <td>{{ log.log_msg_display|linebreaksbr }}</td>
            </tr>
        {% endfor %}
        </table>

    {% endif %}

{% endblock %}
