{% extends "base.html" %}

{% load i18n %}

{% block content %}
    <h1>{% trans "Текущая статистика" %}</h1>
    <br />
    <table class="table table-bordered table-striped">
    <tr>
        <th>
            {% if sort == 'org' %}
                {% if sort == 'org' %}<i class="icon icon-arrow-up"></i>{% endif %}
                <a href="?{{ GET_PARAMS }}&sort=-org">{% trans "Организация (ОМС)" %}</a>
            {% else %}
                {% if sort == '-org' %}<i class="icon icon-arrow-down"></i>{% endif %}
                <a href="?{{ GET_PARAMS }}&sort=org">{% trans "Организация (ОМС)" %}</a>
            {% endif %}
        </th>
    </tr>
    {% for org in orgs %}
        <tr>
            <td>
                {{ org.name }}
            </td>
        </tr>
    {% endfor %}
        <tr>
            <td>
                <b>{% trans "Итого" %}</b>
            </td>
        </tr>
    </table>

{% endblock %}
