{% extends "base.html" %}

{% load my_filters %}

{% block title %}Организации{% endblock %}

{% block content %}
    <div class="row-fluid">
        <table class="table table-striped table-bordered">
            <thead>
                <th>№ в кн</th>
                <th>ФИО</th>
                <th>Дата захор</th>
                <th>Уч</th>
                <th>Ряд</th>
                <th>Мог</th>
                <th>Кладб</th>
                <th>Услуга</th>
                <th>Заказчик</th>
                <th>Телефон</th>
                <th>Комментарий</th>
                <th>Опции</th>
            </thead>
            {% for b in object_list %}
                <tr>
                    <td>{{ b.account_number }}</td>
                    <td>
                        <b> {{ b.person.last_name }}</b>
                        {{ b.person.first_name }}
                        {{ b.person.patronymic }}
                    </td>
                    <td>{{ b.date_fact|date:"d.m.Y" }}</td>
                    <td>{{ b.place.area }}</td>
                    <td>{{ b.place.row }}</td>
                    <td>{{ b.place.seat }}</td>
                    <td>{{ b.place.cemetery.name }}</td>
                    <td>{{ b.operation.op_type }}</td>
                    {% if b.client_organization %}
                        <td>
                            ЮЛ {{ b.client_organization }}<br/>
                            {% if b.agent %}{{ b.agent }}{% else %}{{ b.client_organization.ceo|default:"" }}{% endif %}
                        </td>
                    {% else %}
                        <td>
                            ФЛ {{ b.client_person }}
                        </td>
                    {% endif %}
                    <td>
                        {% for phone in b.customer.phone_set.all  %}
                            {{ phone.f_number }}
                            <br>
                        {%endfor%}
                    </td>
                    <td>
                        {% for comment in b.ordercomments_set.all %}
                            {{ comment.comment }}
                        {% endfor %}
                    </td>
                    <td>
                        {% if b.orderfiles_set.count %}
                            <small><a title="файл прикреплен"><i class="icon icon-file"></i></a></small>
                        {% endif %}
                        {% if user|in_group:"edit_burial"  %}
                            <a title="редактировать" target="_blank" href='{% url edit_burial b.pk %}'><i class="icon icon-edit"></i></a>
                        {% endif %}
                        <a title="к могиле" href="#"><i class="icon icon-map-marker"></i></a>
                    </td>
                </tr>
            {% endfor %}
        </table>
    </div>
{% endblock %}
