{% extends "base.html" %}

{% load thumbnail i18n %}

{% block content %}
    <h1>{% trans "Товары" %}</h1>
    <table class="table table-bordered">
        <tr>
            <th>{% trans "Название" %}</th>
            <th>{% trans "Тип" %}</th>
            <th>{% trans "Категория" %}</th>
            <th>{% trans "Ед. изм." %}</th>
            <th>{% trans "По умолчанию" %}</th>
            <th>{% trans "Цена розничная" %}</th>
            <th>{% trans "Цена оптовая" %}</th>
            <th></th>
            <th>{% trans "Показ в каталоге" %}</th>
            <th>{% trans "Фото" %}</th>
        </tr>
        {% for c in object_list %}
            <tr>
                <td>{{ c.name }}</td>
                <td>{{ c.get_ptype_display|default:"" }}</td>
                <td>{{ c.productcategory }}</td>
                <td>{{ c.measure }}</td>
                <td>{{ c.default|yesno }}</td>
                <td>{{ c.price }}</td>
                <td>{{ c.price_wholesale }}</td>
                <td>
                    {% if user.profile.org == c.loru %}
                        <a href="{% url manage_products_edit c.pk %}" class="btn">{% trans "править" %}</a>
                    {% endif %}
                </td>
                <td>
                    {% if c.is_public_catalog%}{% trans "В публичном каталоге" %}.<br />{% endif %}
                    {% if c.is_wholesale %}{% trans "Оптовикам" %}.<br />{% endif %}
                    {% if c.is_for_visit %}{% trans "Для посещений мест захоронений" %}.{% endif %}
                </td>
                <td>
                    {% if c.photo %}
                        {% thumbnail c.photo "100x75" "crop" "jpg" as thumb %}
                        <img src="{{ thumb.url }}">
                    {% endif %}
                </td>
            </tr>
        {% endfor %}
    </table>

    {% if user.profile.is_loru %}
        <p>
            <a class="btn" href="{% url manage_products_create %}">{% trans "создать" %}</a>
        </p>
    {% endif %}
{% endblock %}