{% extends "base.html" %}

{% load i18n %}

{% block content %}
    <h1>{% trans "Профиль" %}</h1>
    <form action="" method="POST">
        {% csrf_token %}
        {% if form.instance.org %}
            <h2>{% trans "Организация" %}: {{ form.instance.org }} (<strong>{{ form.instance.org.get_type_display }}</strong>)</h2>
        {% endif %}
        <fieldset>
            {{ form.as_p }}
        </fieldset>
        <p>
            <input type="submit" class="btn btn-primary" value="{% trans "cохранить" %}"/>
        </p>
    </form>
    <script type="text/javascript">
        CEMETERY_AREAS = {{ form.cemetery_areas_json|default:"{}"  }};
    </script>
{% endblock %}