{% extends "base.html" %}

{% load i18n %}

{% block content %}
    <h1><u>{% trans "Курс обучения" %}</u></h1>
    <br /><br />
    {% for d in data %}
        <h2>{{ d.title }}</h2>
        <br />
        {% for item in d.items %}
            <center>
            <h3>{{ item.title }}</h3>
            <br />
            <video width="640" height="360" controls="controls" >
            {% for src in item.urls %}
                <source src="{{ src.url }}"  type="video/{{ src.type }}" />
            {% endfor %}
            </video>
            <br /><br /><br />
            {% if item.text %}
                <textarea style="width:640px;height:120px;resize:none" readonly >{{ item.text }}</textarea>
            {% endif %}
            </center>
        <br />
        {% endfor %}
    {% endfor %}
{% endblock %}
