{% extends "base.html" %}

{% load i18n %}

{% block content %}
    <form action="" method="POST">
        {% csrf_token %}
        {% if form.instance.org %}
            <h3>{% trans "Пользователь" %}</h3><h2>{{ user.profile.user.username }}</h2>
        {% endif %}
        <fieldset>
            {{ form.as_p }}
        </fieldset>

        <p>
            <input type="submit" class="btn btn-primary" value="{% trans "cохранить" %}"/>
        </p>

    </form>
    <script type="text/javascript">
        CEMETERY_AREAS = {{ form.cemetery_areas_json|default:"{}"  }};
    </script>
{% endblock %}