{% extends "base.html" %}

{% load i18n %}

{% block content %}
    <h1>{{ place }}</h1>
    <dl>
        {% if place.cemetery %}
            <dt>{% trans "Кладбище" %}</dt>
            <dd>{{ place.cemetery }}</dd>
        {% endif %}
        {% if place.area %}
            <dt>{% trans "Участок" %}</dt>
            <dd>{{ place.area }}</dd>
        {% endif %}
        {% if place.row %}
            <dt>{% trans "Ряд" %}</dt>
            <dd>{{ place.row }}</dd>
        {% endif %}
        {% if place.seat %}
            <dt>{% trans "Место" %}</dt>
            <dd>{{ place.seat }}</dd>
        {% endif %}
        {% if place.responsible %}
            <dt>{% trans "Ответственный" %}</dt>
            <dd>
                {{ place.responsible }}
                {% if place.responsible.phones %}
                    ({% trans "тел." %} {{ place.responsible.phones }})
                {% endif %}
                <a href="{% url create_burial %}" class="btn" onclick="alert('Не готово'); return false;">{% trans "открепить" %}</a>
            </dd>
        {% endif %}
        <dt>{% trans "Могил всего" %}</dt><dd>{{ place.places_count }}</dd>
        <dt>{% trans "Свободно" %}</dt><dd>{{ place.get_available_count }}</dd>

    </dl>
    <a href="{% url create_burial %}?place_id={{ place.pk }}" class="btn">{% trans "добавить родственное" %}</a>

    <h2>{% trans "Данные" %}</h2>
    <form action="" method="POST">
        {% csrf_token %}
        {{ form.as_p }}
        <p>
            <input type="submit" class="btn btn-primary btn-commit-burial" value="{% trans "cохранить" %}"/>
        </p>
    </form>

    <h2>{% trans "Захоронения" %}</h2>
    <table class="table table-bordered">
        <tr>
            <th>{% trans "Номер" %}</th>
            <th>{% trans "Могила" %}</th>
            <th>{% trans "Усопший" %}</th>
            <th>{% trans "Дата" %}</th>
            <th></th>
        </tr>
        {% for b in place.burial_set.all %}
            <tr>
                <td>{{ b.pk }}</td>
                <td>{{ b.grave_number|default:"" }}</td>
                <td>{{ b.deadman|default:"Неизвестный" }}</td>
                <td>{{ b.fact_date|date:"d.m.Y"|default:"" }}</td>
                <td>
                    <a href="{% url view_burial b.pk %}" class="btn">{% trans "карточка" %}</a>
                    <a class="btn" href="{% url make_spravka b.pk %}" target="_blank">{% trans "справка" %}</a>
                    {% if user.profile.is_ugh %}
                        <a href="{% url edit_burial b.pk %}" class="btn">{% trans "править" %}</a>
                        <a href="{% url burial_exhumate b.pk %}" class="btn">{% trans "эксгумировать" %}</a>
                    {% endif %}
                </td>
            </tr>
        {% endfor %}
    </table>

    <h2>{% trans "Эксгумированные" %}</h2>
    <table class="table table-bordered">
        <tr>
            <th>{% trans "Номер" %}</th>
            <th>{% trans "Могила" %}</th>
            <th>{% trans "Усопший" %}</th>
            <th>{% trans "Дата" %}</th>
            <th></th>
        </tr>
        {% for ex in place.exhumationrequest_set.all %}
            {% with ex.burial as b %}
                <tr>
                    <td>{{ b.pk }}</td>
                    <td>{{ b.grave_number|default:"" }}</td>
                    <td>{{ b.deadman|default:"Неизвестный" }}</td>
                    <td>{{ b.fact_date|date:"d.m.Y"|default:"" }}</td>
                    <td>
                        <a class="btn" href="#" target="_blank">{% trans "справка" %}</a>
                    </td>
                </tr>
            {% endwith %}
        {% endfor %}
    </table>
{% endblock %}