{% extends "base.html" %}

{% load i18n %}

{% block content %}
    {% if order and user.profile.is_loru %}
        {% with order=order tab="burial" %}
            {% include "order_nav.html" %}
        {% endwith %}
    {% endif %}

    <h1>{{ b.get_source_type_display }} {% trans "захоронение" %} {{ b.pk }}</h1>
    <h3>{% if b.annulated %} <span style="color:red">{% trans "АННУЛИРОВАНО" %}</span> {% endif %}</h3>
    <dl>
        <dt>{% trans "Учетный номер" %}:</dt><dd>{{ b.account_number|default:"не указан" }}</dd>
        <dt>{% trans "Статус" %}:</dt><dd>{{ b.status_str }}</dd>
        {% if orders %}
            <dt>{% trans "Заказ(ы)" %}:</dt>
            {% for o in orders %}
            <dd>
                <a href="{% url order_edit o.pk %}">{{ o.loru_number }}</a>
            </dd>
            {% endfor %}
        {% endif %}
        <dt>{% trans "Тип" %}:</dt><dd>{{ b.get_burial_container_display|default:"" }}</dd>
        <dt>{% trans "Вид" %}:</dt><dd>{{ b.get_burial_type_display|default:"" }}</dd>
        {% if b.ugh %}
            <dt>{% trans "ОМС" %}:</dt><dd>{{ b.ugh }}</dd>
        {% endif %}
        {% if b.applicant_organization and show_private_data %}
            <dt>{% trans "Заявитель-ЮЛ" %}:</dt><dd>{{ b.applicant_organization|default:"не указано" }}</dd>
            {% if b.agent %}
                <dt>{% trans "Агент" %}:</dt><dd>{{ b.agent|default:"не указан" }}</dd>
                <dt>{% trans "Доверенность" %}:</dt><dd>{{ b.dover|default:"не указана" }}</dd>
            {% elif b.agent_director %}
                <dt>{% trans "Агент" %}:</dt><dd>{% trans "Директор" %}</dd>
            {% endif %}
        {% elif b.applicant and show_private_data and can_personal_data %}
            <dt>{% trans "Заявитель-ФЛ" %}:</dt>
                <dd>{{ b.applicant }}</dd>
                <dd>{% trans "Адрес:" %} {{ b.applicant.address|default:"не указан" }}</dd>
                <dd>{% trans "Телефон(ы):" %} {{ b.applicant.phones|default_if_none:"" }}</dd>
                <dd>
                    {% with pid=b.applicant.personid %}
                        {% if pid and pid.id_type and pid.series and pid.number %}
                            {% trans "Документ" %}
                            {% if b.flag_no_applicant_doc_required %}
                                ({% trans "не обязателен" %})
                            {% endif %}
                            :
                            {{ pid }}
                        {% elif b.is_archive %}
                            {% trans "Документ не заполнен" %}
                        {% else %}
                            <big><b><span style="color:red">
                            {% trans "Документ не заполнен" %}
                            {% if b.flag_no_applicant_doc_required %}
                                ({% trans "не обязателен" %})
                            {% endif %}
                            </span></b></big>
                        {% endif %}
                    {% endwith %}
                 </dd>
        {% elif show_private_data  %}
            <dt>{% trans "Заявитель" %}:</dt>
                <dd>не указан</dd>
        {% endif %}
        {% if user.profile.is_ugh and not b.is_archive and b.loru %} 
            <dt>{% trans "Посредник (ЛОРУ)" %}:</dt>
                <dd>{{ b.loru }}</dd>
                {% if b.loru_agent %}
                    <dd>{% trans "Агент" %}: {{ b.loru_agent }}</dd>
                    <dd>{% trans "Доверенность" %}: {{ b.loru_dover|default_if_none:"не указана" }}</dd>
                {% elif b.loru_agent_director %}
                    <dd>{% trans "Агент" %}: {% trans "Директор" %}</dd>
                {% endif %}
        {% endif %}
        <dt>{% trans "Усопший" %}:</dt>
        <dd>
            {{ b.deadman|default:"не указан" }}
            {% if  b.deadman.address %}
                <br/>
                {{ b.deadman.address }}
            {% endif %}
            {% if b.deadman.birth_date or b.deadman.death_date %}
                <br/>
                {{ b.deadman.birth_date|default_if_none:"..."}}
                &mdash;
                {{ b.deadman.death_date|default_if_none:"..." }}
            {% endif %}
            {% if global_context_DEADMAN_IDENT_NUMBER_ALLOW and b.deadman.ident_number %}
                <br/>{% trans "Идентификационный номер" %}: {{ b.deadman.ident_number }}
            {% endif %}
        </dd>
        {% if not b.is_bio and can_personal_data %}
            <dt>
                {% if b.dc_filled %}
                    {% trans "Документ о смерти" %}:
                {% else %}
                    {% if global_context_DEATH_CERTIFICATE_REQUIRED %}
                        <span style="color:red"><b><big>{% trans "Документ о смерти" %}:
                                                        {% trans "не заполнен!" %}</big></b></span>
                    {% endif %}
                {% endif %}
            <dt>
            {% if b.deadman.deathcertificate %}
                {% with dc=b.deadman.deathcertificate %}
                    <dd>{% trans "Тип" %}: {{ dc.get_type_display }}</dd>
                    <dd>{% trans "Номер" %}*: {{ dc.s_number }}</dd>
                    {% if dc.series %}<dd>{% trans "Серия" %}: {{ dc.series }}</dd>{% endif %}
                    <dd>{% trans "Выдан" %}*: {{ dc.zags|default_if_none:"" }}</dd>
                    <dd>{% trans "Дата" %}*: {{ dc.release_date|default_if_none:"" }}</dd>
                    <dd>{% trans "Скан" %}:
                    {% if dc.deathcertificatescan %}
                        <a href="/media/{{ dc.deathcertificatescan.bfile }}" target="_blank">{% trans "имеется" %}</a></dd>
                    {% else %}
                        {% trans "отсутствует" %}
                    {% endif %}
                {% endwith %}
            {% endif %}
        {% endif %}
        <dt>{% trans "Кладбище" %}:</dt><dd>{{ b.cemetery|default:"не указано" }}</dd>
        <dt>{% trans "Место" %}:</dt><dd>
            {% if b.area %}
                {% trans "Участок" %}: {{ b.area }}<br/>
            {% else %}
                <span style="color:red"><b><big>{% trans "Участок не указан" %}.</big></b></span>
            {% endif %}
            {% if not place %}
                {% trans "Запрошено место на число могил: " %}{{ b.desired_graves_count }}<br/>
                {% if b.area and b.desired_graves_count > b.area.places_count  %}
                <span style="color:blue"><b>{% trans "Число могил больше, чем задано у участка" %}!</b></span><br />
                {% elif b.area and b.desired_graves_count < b.area.places_count %}
                <span style="color:blue"><b>{% trans "Число могил меньше, чем задано у участка" %}</b></span><br />
                {% endif %}
            {% endif %}
            {% if b.row %}{% trans "Ряд" %}: {{ b.row }}<br/>{% endif %}
            {% if b.place_number %}{% trans "Место" %}: {{ b.place_number }}<br/>{% endif %}
            {% if b.grave_number %}{% trans "№ могилы" %}: {{ b.grave_number }}<br/>{% endif %}
            {% if place %}
                {% trans "Размер места, м." %}: 
                {% if place.place_width and place.place_length %}
                    {{ place.place_length }} x {{ place.place_width }}
                {% else %}
                    {% trans "не указан" %}
                {% endif %}
                <br/>
                {% trans "Количество могил" %}: {{ place.get_graves_count }}
                <br/>
                {% trans "Свободно" %}: {{ place.get_available_count }}
                <br/>
            {% endif %}
            {% if user.profile.is_ugh %}
                {% if b.exhumated and b.exhumationrequest.place %}
                    <a href="{{ b.exhumationrequest.place.url }}" class="btn">{% trans "карточка" %}</a>
                {% elif place %}
                    <a href="{{ place.url }}" class="btn">{% trans "карточка" %}</a>
                {% endif %}
            {% endif %}
            {% if user.profile.is_loru and not b.is_closed and not b.exhumated %} 
                {% if place %}
                    <span style="color:blue"><b>{% trans "Место существует" %}</b></span><br />
                {% elif b.cemetery and b.area and b.place_number and not b.is_new %}
                    <span style="color:red"><b>{% trans "Место отсутствует в архиве" %}!</b></span><br />
                {% endif %}
            {% endif %}
        </dd>
        <dt>{% trans "Ответственный" %}:</dt>
        <dd>
            {% if show_private_data %}
                {% if b.get_responsible %}
                    {{ b.get_responsible }}
                    {% if b.get_responsible.address %}
                        <br />{{ b.get_responsible.address }}
                    {% endif %}
                    {% if b.get_responsible.login_phone %}
                        <br />{% trans "Мобильный телефон для входа в кабинет" %}: {{ b.get_responsible.login_phone }}
                    {% endif %}
                {% else %}
                    {% trans "не указан" %}
                {% endif %}
            {% else %}
                {% if b.get_responsible %}
                    {% trans "имеется" %}
                {% else %}
                    {% trans "не указан" %}
                {% endif %}
            {% endif %}
        </dd>
        {% if b.is_closed %}
            <dt>{% trans "Факт. дата" %}:</dt><dd>{{ b.fact_date|default:"не указана" }}</dd>
        {% else %}
            <dt>{% trans "План. дата и время" %}:</dt>
            <dd>{{ b.plan_date|date:"d.m.Y"|default:"не указаны" }}
                {% if b.plan_date %}{{ b.plan_time|time:"H:i"|default:". Время не указано" }}{% endif %}</dd>
        {% endif %}
        <dt>{% trans "Файлы" %}:</dt>
        {% for f in b.burialfiles_set.all %}
            <dd>{{ forloop.counter }}. &nbsp;
            <a href="/media/{{ f.bfile }}" target="_blank">{{ f.comment|default:"(без описания)" }}</a></dd>
        {% empty %}
            <dd>{% trans "отсутствуют" %}</dd>
        {% endfor %}
    </dl>
    <form action="" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        {% if user.profile.is_loru and b.loru and b.loru == user.profile.org %}
            {# ВНИМАНИЕ: #}
            {# Пока мы разрешаем ЛОРУ работать только со "своими" захоронениями #}
            {# Если это изменится, то условие (b.loru and b.loru == user.profile.org), #}
            {# при котором здесь оказываемся, придется в ряде случаев пересмотреть! #}
            {% if b.can_approve and not b.is_bio and b.can_personal_data %}
                <h2>{% trans "Документ о смерти" %}</h2>
                {% with approve_close_form.dc_form as form %}
                    {% include "deathcertificate.html" %}
                {% endwith %}
                <br />
                <input type="submit" class="btn btn-primary" name="save-dc" value="{% trans "cохранить" %}">
                <br/><br/>
            {% endif %}
            {% if b.can_back %}
                {% if b.is_approved %}
                    <label>{% trans "Причина отзыва" %}:</label>
                    <select name="reason_typical">
                        <option value="">-------</option>
                        {% for r in reason_typical_back %}<option value="{{ r.text }}">{{ r.name }}</option>{% endfor %}
                    </select>
                    <textarea name="reason" rows="5" cols="30"></textarea>
                {% endif %}
                <p><input type="submit" class="btn btn-danger" name="back" value="{% trans "отозвать" %}"></p>
            {% endif %}
            {% if order %}
                {# ЛОРУ может откреплять от заказа и аннулированные захоронения #}
                <input type="submit" class="btn btn-danger" name="unbind" value="{% trans "открепить от заказа" %}">
            {% endif %}
            {% if b.can_loru_deannulate %}
                <input type="submit" class="btn" name="deannulate" value="{% trans "де-аннулировать" %}">
            {% endif %}
            {% if b.can_loru_annulate %}
                <input type="submit" class="btn" name="annulate" onclick="return confirm('{% trans "Вы уверены?" %}');" value="{% trans "аннулировать" %}">
            {% endif %}
            {% if b.can_loru_print_notification %}
                <a class="btn" href="{% url make_notification b.pk %}" target="_blank">{% trans "уведомление" %}</a>
            {% endif %}
            {% if b.order %}
                <a href="{% url order_services b.order.pk %}" class="btn btn-next">{% trans "далее" %}</a>
            {% endif %}
        {% endif %}
        {% if user.profile.is_ugh %}
            {% if not b.cemetery or b.cemetery in editable_ugh_cemeteries %}
                {% if b.can_ugh_deannulate %}
                    <input type="submit" class="btn" name="deannulate" value="{% trans "де-аннулировать" %}">
                {% endif %}
                {% if b.can_ugh_annulate or b.can_disapprove_ugh %}
                    <br/><br/>
                    <label>{% if b.can_ugh_annulate and b.can_disapprove_ugh %}{% if b.is_archive %}{% trans "Причина аннулирования" %}{% else %}{% trans "Причина аннулирования или отказа от согласования" %}{% endif %}{% elif b.can_ugh_annulate %}{% trans "Причина аннулирования" %}{% elif b.can_disapprove_ugh and not b.is_archive %}{% trans "Причина отказа от согласования" %}{% endif %}:</label>
                    <select name="reason_typical">
                        <option value="">-------</option>
                        {% if b.can_ugh_annulate %}
                            {% for r in reason_typical_annulate %}<option value="{{ r.text }}">{{ r.name }}</option>{% endfor %}
                        {% endif %}
                        {% if b.can_disapprove_ugh and not b.is_archive %}
                            {% for r in reason_typical_disapprove %}<option value="{{ r.text }}">{{ r.name }}</option>{% endfor %}
                        {% endif %}
                    </select>
                    <textarea name="reason" rows="5" cols="30"></textarea>
                    <br/>
                    {% if b.can_ugh_annulate %}
                        <input type="submit" class="btn" name="annulate"  onclick="return confirm('{% trans "Вы уверены?" %}');" value="{% trans "аннулировать" %}">
                    {% endif %}
                    {% if b.can_disapprove_ugh %}
                        <input type="submit" class="btn" name="disapprove" value="{% trans "отменить согласование" %}">
                    {% endif %}
                {% endif %}
                {% if b.can_approve %}
                    <script type="text/javascript">
                        PLACE_SIZE = {{ approve_close_form.place_size_json|default:"{}" }};
                    </script>
                    {% if not b.area %}
                        <h2>{% trans "Кладбище и участок" %}</h2>
                        {{ approve_close_form.as_p }}
                        <script type="text/javascript">
                            CEMETERY_AREAS = {{ approve_close_form.cemetery_areas_json|default:"{}" }};
                        </script>
                    {% elif not place %}
                        {# Здесь в форме остается только желаемое число могил на новое (!) место #}
                        {{ approve_close_form.as_p }}
                    {% endif %}
                    {% if not b.is_bio and b.can_personal_data %}
                        <h2>{% trans "Документ о смерти" %}</h2>
                        {% with approve_close_form.dc_form as form %}
                            {% include "deathcertificate.html" %}
                        {% endwith %}
                        <br />
                    {% endif %}
                {% endif %}
                {% if b.can_inspect %}
                    <input type="submit" class="btn" name="inspect" value="{% trans "отправить на обследование" %}">
                {% endif %}
                {% if b.is_inspecting %}
                    <input type="submit" class="btn" name="approve-inspect" value="{% trans "одобрить обследование" %}">
                {% endif %}
                {% if b.can_approve %}
                    <input type="submit" class="btn btn-primary" name="approve" value="{% trans "согласовать захоронение" %}">
                {% endif %}
                {% if b.can_finish and not b.is_archive %}
                    {{ approve_close_form.as_p }}
                    <script type="text/javascript">
                        CEMETERY_AREAS = {{ approve_close_form.cemetery_areas_json|default:"{}" }};
                        PLACE_SIZE = {{ approve_close_form.place_size_json|default:"{}" }};
                    </script>
                    <input type="submit" class="btn btn-primary" name="complete" value="{% trans "закрыть" %}">
                    {% if b.can_approve_ugh %}
                        <input type="submit" class="btn btn-primary" name="approve" value="{% trans "cогласовать" %}">
                    {% endif %}
                {% endif %}
                {% if b.is_closed %}
                    <a href="{% url burial_exhumate b.pk %}" class="btn">{% trans "эксгумировать" %}</a>
                {% endif %}
                {% if b.can_decline %}
                    <br/><br/>
                    <label>{% trans "Причина отказа" %}:</label>
                    <select name="reason_typical">
                        <option value="">-------</option>
                        {% for r in reason_typical_decline %}<option value="{{ r.text }}">{{ r.name }}</option>{% endfor %}
                    </select>
                    <textarea name="reason" rows="5" cols="30"></textarea>
                    <br/>
                    <input type="submit" class="btn btn-danger" name="decline" value="{% trans "отказать" %}">
                {% endif %}
                {% if b.is_ugh or b.is_transferred or b.is_closed %}
                    {# (Ручные, архивные), перенесенные, закрытые: #}
                    <a class="btn" href="{% url edit_burial b.pk %}">{% trans "правка" %}</a>
                {% endif %}
                {% if b.can_ugh_print_notification %}
                    <a class="btn" href="{% url make_notification b.pk %}" target="_blank">{% trans "уведомление" %}</a>
                {% endif %}
                {% if b.can_ugh_print_reference %}
                    <a class="btn" href="{% url make_spravka b.pk %}" target="_blank">{% trans "справка" %}</a>
                {% elif b.exhumated %}
                    <a class="btn" href="{% url make_exhumate_report b.pk %}" target="_blank">{% trans "справка" %}</a>
                    <a class="btn" href="{% url make_exhumate_notification b.pk %}" target="_blank">{% trans "уведомление" %}</a>
                {% endif %}
            {% endif %}
        {% endif %}

    </form>

    {% if user.profile.is_ugh and b.is_exhumated and b.cemetery in editable_ugh_cemeteries %}
        <form action="{% url burial_cancel_exhumation b.exhumationrequest.pk %}" method="POST" class="inline" style="display: inline;">
            {% csrf_token %}
            <input type="submit" class="btn" value="{% trans "Отменить эксгумацию" %}" />
        </form>
        <p></p>
    {% endif %}

    {% if show_private_data %}
        {% if user.profile.is_loru or not b.cemetery or b.cemetery in editable_ugh_cemeteries %}
            <h2>{% trans "Комментарий" %}</h2>
            <form action="{% url burial_comment b.pk %}" method="POST">
                {% csrf_token %}
                {{ comment_form.as_p }}
                <p>
                    <input type="submit" class="btn" value="{% trans "добавить" %}" />
                    {% if user.profile.is_ugh %}
                        &nbsp; &nbsp; &nbsp;
                        <a href="{% url burials_comments_edit b.pk %}">{% trans "Все комментарии" %}</a>
                    {% endif %}
                </p>
            </form>
        {% elif user.profile.is_ugh and b.burialcomment_set.count %}
            <p><a href="{% url burials_comments_edit b.pk %}">{% trans "Комментарии" %}</a></p>
        {% endif %}
    {% endif %}

    {% if user.profile.is_ugh and b.get_documents %}
        {% with object=b %}
            {% include "object_documents.html" %}
        {% endwith %}
    {% endif %}

    {% if show_private_data %}
        {% with object=b %}
            {% include "object_logs.html" %}
        {% endwith %}
    {% endif %}

    {% include "create_burial_popups.html" %}

{% endblock %}