{% extends "base.html" %}

{% load i18n %}

{% block content %}
    <h1>{% trans "Заявка" %} {{ object.pk }}</h1>
    <dl>
        <dt>{% trans "Статус" %}:</dt><dd>{{ object.status }}</dd>
        <dt>{% trans "ЛОРУ" %}:</dt><dd><a href="">{{ object.loru_name }}</a></dd>
        {% if object.deadman %}
            <dt>{% trans "Усопший" %}:</dt>
            <dd>
                {{ object.deadman|default:"" }}
                <br/>
                {{ object.deadman.address|default:"" }}
            </dd>
        {% endif %}
        <dt>{% trans "Кладбище" %}:</dt><dd>{{ object.cemetery }}</dd>
        <dt>{% trans "Место" %}:</dt><dd>{{ object.place_number|default:"" }}</dd>
        <dt>{% trans "Дата" %}:</dt><dd>{{ object.plan_date }} {{ object.plan_time }}</dd>
    </dl>
    {% comment %}
        {% if user.profile.is_loru and object.approved_ugh and not object.processed_loru %}
            <p>
                <a class="btn" href="?execute=1">{% trans "выполнить работы" %}</a>
            </p>
        {% endif %}
    {% endcomment %}

    {% if user.profile.is_loru and not object.ready_loru %}
        <p>
            <a class="btn" href="?ready=1">{% trans "отправить на согласование" %}</a>
        </p>
    {% endif %}
    {% if user.profile.is_ugh and object.ready_loru and not object.approved_ugh %}
        <p>
            <a class="btn" href="?approve=1">{% trans "согласовать" %}</a>
        </p>
    {% endif %}
    {% if user.profile.is_ugh and object.approved_ugh and not object.completed_ugh %}
        <p>
            <a class="btn" href="?complete=1">{% trans "завершить" %}</a>
        </p>
    {% endif %}
    {% if user.profile.org == b.loru and not b.ready_loru %}
        <p>
            <a class="btn" href="{% url edit_request b.pk %}">{% trans "правка" %}</a>
        </p>
    {% endif %}
{% endblock %}