{% extends "base.html" %}

{% load i18n %}

{% block content %}
    <h1>{{ place }}</h1>
    <dl>
        {% if place.cemetery %}
            <dt>Кладбище</dt>
            <dd>{{ place.cemetery }}</dd>
        {% endif %}
        {% if place.area %}
            <dt>Участок</dt>
            <dd>{{ place.area }}</dd>
        {% endif %}
        {% if place.row %}
            <dt>Ряд</dt>
            <dd>{{ place.row }}</dd>
        {% endif %}
        {% if place.seat %}
            <dt>Место</dt>
            <dd>{{ place.seat }}</dd>
        {% endif %}
        {% if place.responsible %}
            <dt>Ответственный</dt>
            <dd>
                {{ place.responsible }}
                {% if place.responsible.phones %}
                    (тел. {{ place.responsible.phones }})
                {% endif %}
            </dd>
        {% endif %}
    </dl>
    <a href="{% url create_burial %}" class="btn" onclick="alert('Не готово'); return false;">{% trans "Добавить родственное" %}</a>

    <h2>{% trans "Усопшие" %}</h2>
    <table class="table table-bordered">
        <tr>
            <th>{% trans "Усопший" %}</th>
            <th></th>
        </tr>
        {% for b in place.burial_set.all %}
            <tr>
                <td>{{ b.deadman|default:"Неизвестный" }}</td>
                <td><a href="{% url view_burial b.pk %}" class="btn">{% trans "карточка" %}</a></td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}