{% extends "base.html" %}

{% load i18n %}

{% block content %}
    <h1>{% trans "Заявка" %} {{ object.pk }}</h1>
    <p>{% trans "ЛОРУ" %}: <a href="">{{ object.loru_name }}</a></p>
    <p>{% trans "Кладбище" %}: {{ object.cemetery }}</p>
    <p>{% trans "Место" %}: {{ object.place_number|default:"" }}</p>
    <p>{% trans "Дата" %}: {{ object.plan_date }} {{ object.plan_time }}</p>

    {% if user.profile.is_loru and object.approved_ugh and not object.processed_loru %}
        <p>
            <a class="btn" href="?execute=1">{% trans "выполнена" %}</a>
        </p>
    {% endif %}
    {% if user.profile.is_ugh and not object.approved_ugh %}
        <p>
            <a class="btn" href="?approve=1">{% trans "одобрена" %}</a>
        </p>
    {% endif %}
    {% if user.profile.is_ugh and object.processed_loru and not object.completed_ugh %}
        <p>
            <a class="btn" href="?complete=1">{% trans "завершена" %}</a>
        </p>
    {% endif %}
{% endblock %}