{% extends "base.html" %}

{% load i18n %}

{% block content %}
    <h1>{% trans "Заявка" %} {{ b.pk }}</h1>
    <dl>
        <dt>{% trans "Статус" %}:</dt><dd>{{ b.status_str }}</dd>
        {% if b.ugh %}
            <dt>{% trans "УГХ" %}:</dt><dd>{{ b.ugh }}</dd>
        {% endif %}
        {% if b.loru %}
            <dt>{% trans "ЛОРУ" %}:</dt><dd><a href="">{{ b.loru }}</a></dd>
        {% endif %}
        {% if b.deadman %}
            <dt>{% trans "Усопший" %}:</dt>
            <dd>
                {{ b.deadman|default:"" }}
                <br/>
                {{ b.deadman.address|default:"" }}
            </dd>
        {% endif %}
        {% if b.agent %}
            <dt>{% trans "Агент" %}:</dt><dd>{{ b.agent }}</dd>
        {% endif %}
        <dt>{% trans "Кладбище" %}:</dt><dd>{{ b.cemetery }}</dd>
        <dt>{% trans "Место" %}:</dt><dd>
            {% trans "Участок" %}: {{ b.area|default:"" }}<br/>
            {% trans "Ряд" %}: {{ b.row|default:"" }}<br/>
            {% trans "Место" %}: {{ b.place_number|default:"" }}<br/>
            {% if user.profile.is_ugh and b.place %}
                <a href="{% url view_place b.place.pk %}" class="btn">{% trans "карточка" %}</a>
            {% endif %}
        </dd>
        {% if b.get_responsible %}
            <dt>{% trans "Ответственный" %}:</dt>
            <dd>
                {{ b.get_responsible }}
                <br/>
                {{ b.get_responsible.address|default:"" }}
            </dd>
        {% endif %}
        <dt>{% trans "Дата" %}:</dt><dd>{{ b.plan_date|default:"" }} {{ b.plan_time|default:"" }}</dd>
    </dl>
    <form action="" method="POST">
        {% csrf_token %}
        {% if user.profile.is_loru and b.is_full %}
            {% if b.is_edit %}
                <input type="submit" class="btn" name="ready" value="{% trans "отправить на согласование" %}">
            {% elif b.can_back %}
                {% if b.is_approved %}
                    <label>{% trans "Причина" %}</label>
                    <select name="reason_typical">
                        <option value=""></option>
                        {% for r in reason_typical_back %}<option value="{{ r.text }}">{{ r.name }}</option>{% endfor %}
                    </select>
                    <textarea name="reason" rows="5" cols="30"></textarea>
                    <br/>
                {% endif %}
                <input type="submit" class="btn" name="back" value="{% trans "отозвать" %}">
            {% endif %}
        {% endif %}
        {% if user.profile.is_ugh %}
            {% if b.is_ready_to_approve %}
                <input type="submit" class="btn" name="approve" value="{% trans "согласовать" %}">
                {% if b.can_decline %}
                    <br/><br/>
                    <label>{% trans "Причина" %}</label>
                    <select name="reason_typical">
                        <option value=""></option>
                        {% for r in reason_typical_decline %}<option value="{{ r.text }}">{{ r.name }}</option>{% endfor %}
                    </select>
                    <textarea name="reason" rows="5" cols="30"></textarea>
                    <br/>
                    <input type="submit" class="btn" name="decline" value="{% trans "отклонить" %}">
                {% endif %}
            {% elif b.is_approved %}
                <input type="submit" class="btn" name="complete" value="{% trans "завершить" %}">
                <br/><br/>
                <label>{% trans "Причина" %}</label>
                <select name="reason_typical">
                    <option value=""></option>
                    {% for r in reason_typical_annulate %}<option value="{{ r.text }}">{{ r.name }}</option>{% endfor %}
                </select>
                <textarea name="reason" rows="5" cols="30"></textarea>
                <br/>
                <input type="submit" class="btn" name="annulate" value="{% trans "аннулировать" %}">
            {% endif %}
        {% endif %}
        {% if user.profile.org == b.loru and b.is_edit and b.is_full %}
            <a class="btn" href="{% url edit_burial b.pk %}">{% trans "правка" %}</a>
        {% elif user.profile.org == b.ugh and b.is_edit and b.is_ugh_only %}
            <a class="btn" href="{% url edit_burial b.pk %}">{% trans "правка" %}</a>
        {% endif %}
    </form>
    
    <h2>{% trans "Журнал" %}</h2>
    <table class="table table-bordered">
        <tr>
            <th>{% trans "Дата" %}</th>
            <th>{% trans "Пользователь" %}</th>
            <th>{% trans "Действие" %}</th>
        </tr>
        {% for log in b.get_logs %}
            {% if user.profile.is_loru or log.code != 'edit_request' %}
                <tr>
                    <td>{{ log.dt }}</td>
                    <td>{{ log.user.get_full_name }}, {{ log.user.profile }}</td>
                    <td>{{ log.msg|linebreaksbr }}</td>
                </tr>
            {% endif %}
        {% endfor %}
    </table>
    
{% endblock %}