{% extends "base.html" %}

{% load i18n %}

{% block content %}
    {% if b.order and user.profile.is_loru %}
        {% with order=b.order tab="burial" %}
            {% include "order_nav.html" %}
        {% endwith %}
    {% endif %}

    <h1>{{ b.get_source_type_display }} {% trans "захоронение" %} {{ b.pk }}</h1>
    <h3>{% if b.annulated %} <span style="color:red">{% trans "АННУЛИРОВАНО" %}</span> {% endif %}</h3>
    <dl>
        <dt>{% trans "Учетный номер" %}:</dt><dd>{{ b.account_number|default:"не указан" }}</dd>
        <dt>{% trans "Статус" %}:</dt><dd>{{ b.status_str }}</dd>
        {% if b.status == 'exhumated' %}
            <form action="{% url burial_cancel_exhumation b.exhumationrequest.pk %}" method="POST" class="inline">
                {% csrf_token %}
                <input type="submit" class="btn" value="{% trans "Отменить эксгумацию" %}" />
            </form>
        {% endif %}
        {% if user.profile.is_loru %}
            <dt>{% trans "Заказ" %}:</dt>
            <dd>
                {% if user.profile.is_loru and b.order.loru == user.profile.org %}
                    <a href="{% url order_edit b.order.pk %}">{{ b.order.loru_number }}</a>
                {% else %}
                    {{ b.order.loru_number }}
                {% endif %}
            </dd>
        {% endif %}
        <dt>{% trans "Тип" %}:</dt><dd>{{ b.get_burial_container_display|default:"" }}</dd>
        {% if b.ugh %}
            <dt>{% trans "УГХ" %}:</dt><dd>{{ b.ugh }}</dd>
        {% endif %}
        <dt>{% trans "Заявитель-ЮЛ" %}:</dt><dd><a href="">{{ b.applicant_organization|default:"не указано" }}</a></dd>
        {% if b.agent %}
            <dt>{% trans "Агент" %}:</dt><dd>{{ b.agent|default:"не указан" }}</dd>
            <dt>{% trans "Доверенность" %}:</dt><dd>{{ b.dover|default:"не указана" }}</dd>
        {% elif b.agent_director %}
            <dt>{% trans "Агент" %}:</dt><dd>{% trans "Директор" %}</dd>
        {% endif %}
        {% if user.profile.is_ugh %}
            {% if b.order.applicant %}
                <dt>{% trans "от лица" %}</dt><dd>{% trans "ФЛ" %} {{ b.order.applicant }}</dd>
            {% elif b.order.applicant_organization %}
                <dt>{% trans "от лица" %}</dt><dd>{% trans "ЮЛ" %} {{ b.order.applicant_organization }} {{ b.order.agent.person|default:"" }}</dd>
            {% endif %}
        {% endif %}
        <dt>{% trans "Усопший" %}:</dt>
        <dd>
            {{ b.deadman|default:"не указан" }}
            <br/>
            {{ b.deadman.address|default:"" }}
            {% if b.deadman.birth_date %}
                <br/>
                {{ b.deadman.birth_date }}
                {% if b.deadman.death_date %}
                    &mdash;
                    {{ b.deadman.death_date }}
                {% endif %}
            {% endif %}
        </dd>
        <dt>{% trans "Свидетельство о смерти" %}:</dt>
            {% if b.deadman.deathcertificate %}
                <dd>Номер: {{ b.deadman.deathcertificate.s_number }}</dd>
                <dd>Серия: {{ b.deadman.deathcertificate.series }}</dd>
                <dd>Дата: {{ b.deadman.deathcertificate.release_date }}</dd>
                <dd>Выдано: {{ b.deadman.deathcertificate.zags }}</dd>
            {% else %}
                <dd>Нет</dd>
            {% endif %}
        <dt>{% trans "Кладбище" %}:</dt><dd>{{ b.cemetery|default:"не указан" }}</dd>
        <dt>{% trans "Место" %}:</dt><dd>
            {% if b.area %}{% trans "Участок" %}: {{ b.area }}<br/>{% endif %}
            {% if b.row %}{% trans "Ряд" %}: {{ b.row }}<br/>{% endif %}
            {% if b.place_number %}{% trans "Место" %}: {{ b.place_number }}<br/>{% endif %}
            {% if b.grave_number %}{% trans "Могила" %}: {{ b.grave_number }}<br/>{% endif %}
            {% if b.get_place %}{% trans "Свободно" %}: {{ b.get_place.get_available_count }}<br/>{% endif %}
            {% if user.profile.is_ugh and b.place %}
                <a href="{% url view_place b.place.pk %}" class="btn">{% trans "карточка" %}</a>
            {% endif %}
        </dd>
        <dt>{% trans "Номер места создан по следующему правилу" %}:</dt>
        <dd>
            {{ b.cemetery.get_places_algo_display|default:"не указано" }}
        </dd>
        <dt>{% trans "Ответственный" %}:</dt>
        <dd>
            {{ b.get_responsible|default:"не указан" }}
            <br/>
            {{ b.get_responsible.address|default:"" }}
        </dd>
        <dt>{% trans "Заказчик" %}:</dt>
        <dd>
            {% if b.order %}
                {% if b.order.applicant_organization %}
                    ЮЛ: {{ b.order.applicant_organization }}
                {% else %}
                    ФЛ: {{ b.order.applicant }} <br />
                    Адрес: {{ b.order.applicant.address|default:"не указан" }}
                {% endif %}
            {% else %}
                Не указан
            {% endif %}
        </dd>
        <dt>{% trans "План. дата и время" %}:</dt>
        <dd>{{ b.plan_date|date:"d.m.Y"|default:"не указана" }} {{ b.plan_time|time:"H:i"|default:"Время не указано" }}</dd>
        <dt>{% trans "Факт. дата" %}:</dt><dd>{{ b.fact_date|date:"d.m.Y"|default:"не указана" }}</dd>
    </dl>
    <form action="" method="POST">
        {% csrf_token %}
        {% if user.profile.is_loru and b.is_full %}
            {% if b.is_edit %}
                <input type="submit" class="btn" name="ready" value="{% trans "отправить на согласование" %}">
            {% elif b.can_back %}
                {% if b.is_approved %}
                    <label>{% trans "Причина" %}</label>
                    <select name="reason_typical">
                        <option value=""></option>
                        {% for r in reason_typical_back %}<option value="{{ r.text }}">{{ r.name }}</option>{% endfor %}
                    </select>
                    <textarea name="reason" rows="5" cols="30"></textarea>
                    <br/>
                {% endif %}
                <input type="submit" class="btn" name="back" value="{% trans "отозвать" %}">
            {% endif %}
        {% endif %}
        {% if user.profile.is_ugh %}
            {% if b.can_deannulate %}
                <input type="submit" class="btn" name="deannulate" value="{% trans "де-аннулировать" %}">
            {% endif %}
            {% if b.can_annulate %}
                <br/><br/>
                <label>{% trans "Причина" %}</label>
                <select name="reason_typical">
                    <option value=""></option>
                    {% for r in reason_typical_annulate %}<option value="{{ r.text }}">{{ r.name }}</option>{% endfor %}
                </select>
                <textarea name="reason" rows="5" cols="30"></textarea>
                <br/>
                <input type="submit" class="btn" name="annulate" value="{% trans "аннулировать" %}">
            {% endif %}
            {% if b.can_finish %}
                {% if not b.is_archive %}
                    {{ close_form.as_p }}
                    <script type="text/javascript">
                        CEMETERY_AREAS = {{ close_form.cemetery_areas_json|default:"{}" }};
                        AGENT_DOVER = {{ close_form.agent_dover_json|default:"{}"  }};
                        LORU_AGENTS = {{ close_form.loru_agents_json|default:"{}"  }};
                    </script>
                    <input type="submit" class="btn" name="complete" value="{% trans "закрыть" %}">
                {% endif %}
            {% elif b.can_approve %}
                {{ approve_form.as_p }}
                <script type="text/javascript">
                    CEMETERY_AREAS = {{ close_form.cemetery_areas_json|default:"{}" }};
                    AGENT_DOVER = {{ close_form.agent_dover_json|default:"{}"  }};
                    LORU_AGENTS = {{ close_form.loru_agents_json|default:"{}"  }};
                </script>
                <input type="submit" class="btn" name="approve" value="{% trans "одобрить" %}">
                {% if b.can_decline %}
                    <br/><br/>
                    <label>{% trans "Причина" %}</label>
                    <select name="reason_typical">
                        <option value=""></option>
                        {% for r in reason_typical_decline %}<option value="{{ r.text }}">{{ r.name }}</option>{% endfor %}
                    </select>
                    <textarea name="reason" rows="5" cols="30"></textarea>
                    <br/>
                    <input type="submit" class="btn" name="decline" value="{% trans "отказать" %}">
                {% endif %}
            {% elif b.is_finished %}
                <a href="{% url burial_exhumate b.pk %}" class="btn">{% trans "эксгумировать" %}</a>
            {% endif %}
        {% endif %}
        {% if user.profile.org == b.applicant_organization and b.is_edit and b.is_full_or_transferred %}
            <a class="btn" href="{% url edit_burial b.pk %}">{% trans "правка" %}</a>
        {% elif user.profile.org == b.ugh or is_accessible %}
            {% if b.is_edit and b.is_ugh %}
                <a class="btn" href="{% url edit_burial b.pk %}">{% trans "правка" %}</a>
            {% elif b.is_closed %}
                <a class="btn" href="{% url edit_burial b.pk %}">{% trans "правка" %}</a>
            {% endif %}
        {% endif %}
        {% if user.profile.is_loru and b.is_approved %}
            <a class="btn" href="{% url make_notification b.pk %}" target="_blank">{% trans "уведомление" %}</a>
        {% endif %}
        {% if user.profile.is_ugh and b.can_print_notification %}
            <a class="btn" href="{% url make_notification b.pk %}" target="_blank">{% trans "уведомление" %}</a>
        {% endif %}
        {% if user.profile.is_ugh and b.can_print_reference %}
            <a class="btn" href="{% url make_spravka b.pk %}" target="_blank">{% trans "справка" %}</a>
        {% endif %}

        {% if user.profile.is_loru %}
            {% if b.order %}
                <a href="{% url order_services b.order.pk %}" class="btn btn-next">{% trans "далее" %}</a>
            {% endif %}
        {% endif %}

    </form>

    <h2>{% trans "Комментарий" %}</h2>
    <form action="{% url burial_comment b.pk %}" method="POST">
        {% csrf_token %}
        {{ comment_form.as_p }}
        <p>
            <input type="submit" class="btn btn-primary" value="{% trans "добавить" %}" />
        </p>
    </form>

    {% if user.profile.is_loru and b.get_documents_for_loru %}
        <h2>{% trans "Документы" %}</h2>
        <table class="table table-bordered">
            <tr>
                <th>{% trans "Дата" %}</th>
                <th>{% trans "Пользователь" %}</th>
                <th>{% trans "Описание" %}</th>
                {% if b.hide_documents %}
                {% else %}
                    <th></th>
                {% endif %}
            </tr>
            {% for doc in b.get_documents_for_loru %}
                <tr>
                    <td>{{ doc.dt }}</td>
                    <td>{{ doc.user.profile }} / {{ doc.user.profile.org }}</td>
                    <td>{{ doc.description }}</td>
                    {% if b.hide_documents %}
                    {% else %}
                        <td><a class="btn" href="{% url report_view doc.pk %}" target="_blank">{% trans "просмотр" %}</a></td>
                    {% endif %}
                </tr>
            {% endfor %}
        </table>
    {% endif %}

    {% if user.profile.is_ugh and b.get_documents %}
        <h2>{% trans "Документы" %}</h2>
        <table class="table table-bordered">
            <tr>
                <th>{% trans "Дата" %}</th>
                <th>{% trans "Пользователь" %}</th>
                <th>{% trans "Описание" %}</th>
                <th></th>
            </tr>
            {% for doc in b.get_documents %}
                <tr>
                    <td>{{ doc.dt }}</td>
                    <td>{{ doc.user.profile }} / {{ doc.user.profile.org }}</td>
                    <td>{{ doc.description }}</td>
                    <td><a class="btn" href="{% url report_view doc.pk %}" target="_blank">{% trans "просмотр" %}</a></td>
                </tr>
            {% endfor %}
        </table>
    {% endif %}

    <h2>{% trans "Журнал" %}</h2>
    <table class="table table-bordered">
        <tr>
            <th>{% trans "Дата" %}</th>
            <th>{% trans "Пользователь" %}</th>
            <th>{% trans "Действие" %}</th>
        </tr>
        {% for log in b.get_logs %}
            {% if user.profile.is_loru or log.code != 'edit_request' %}
                <tr>
                    <td>{{ log.dt }}</td>
                    <td>{{ log.user.profile }} / {{ log.user.profile.org }}</td>
                    <td>{{ log.msg|linebreaksbr }}</td>
                </tr>
            {% endif %}
        {% endfor %}
    </table>

{% endblock %}